@import 'variables';

:host {
  gap: $grid-step * 3;
  display: flex;
}

.hub-related-posts__post-card {
  cursor: pointer;
}

.hub-related-posts__post-card--loading {
  display: flex;
}

.hub-related-posts__no-posts {
  color: $color-grey;
  grid-column: 1 / 5;
  margin-top: $grid-step * 2;
  text-align: center;
}
