<ng-container *ngIf="(isLoading$ | async) === false; else loader">
  <app-hub-post-card
    class="hub-related-posts__post-card"
    *ngFor="let post of posts$ | async; trackBy: trackByPostId"
    [post]="post"
    [routerLink]="routerLinkFn(post)"
  ></app-hub-post-card>
</ng-container>

<ng-template #loader>
  <ngx-skeleton-loader
    class="hub-related-posts__post-card--loading"
    *ngFor="let item of [].constructor(postsCount)"
    [theme]="{
      height: '160px',
      width: '300px'
    }"
  ></ngx-skeleton-loader>
</ng-template>
