.page-new-user {
  padding-top: 4rem;

  .page-title {
    margin-bottom: 3rem;
  }

  mat-card {
    border: 1px solid $grey-border-color;
    box-shadow: none;
    padding: 2.5rem 1rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    ::ng-deep {
      svg {
        width: 40px;
        height: 40px;

        * {
          stroke: #a3a3a3;
        }
      }
    }
  }

  mat-card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  mat-card-subtitle {
    color: grey;
    margin-bottom: 2.5rem;
  }
}
