@import 'variables';

:host {
  align-items: center;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  height: 76px;

  &:not(.mod-popup-view) {
    .authorized-layout-header__meta-container {
      flex-grow: 1;
      margin: 0 $grid-step * 3.5;
    }

    .authorized-layout-header__actions-container {
      margin-right: $grid-step * 3;
    }
  }
}

.authorized-layout-header__section {
  align-items: center;
  display: flex;
}

.authorized-layout-header__actions-container {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.authorized-layout-header__logo {
  display: inline-flex;
}

.authorized-layout-header__logo-icon {
  display: inline-flex;
  height: 40px;
  width: 147px;
}

.authorized-layout-header__meta-container {
  display: flex;

  &:empty {
    display: none;
  }
}
