<div class="hub-short-post__header">
  <div class="hub-short-post__header-section">
    <app-avatar [avatarUrl]="post.author.avatar"></app-avatar>

    <div class="hub-short-post__info-container">
      <span class="hub-short-post__author">
        {{ post.author.firstName }}
        {{ post.author.lastName }}
      </span>

      <app-hub-post-time [time]="post.createdAt"></app-hub-post-time>
    </div>
  </div>

  <app-hub-post-pdv-diagram [pdv]="post.pdv"></app-hub-post-pdv-diagram>
</div>

<app-hub-post-title class="hub-short-post__title">{{ post.title }}</app-hub-post-title>

<app-hub-post-content
  class="hub-short-post__content"
  [content]="post.text | appCutHtmlImages | appFirstParagraph"
></app-hub-post-content>
