<div class="hub-short-post__header">
  <div class="hub-short-post__header-section">
    <app-avatar [icon]="'user-avatar-1'"></app-avatar>

    <div class="hub-short-post__info-container">
      <span class="hub-short-post__author">Author name</span>

      <app-hub-post-time [time]="post.createdAt"></app-hub-post-time>
    </div>
  </div>

  <app-hub-post-pdv [pdv]="post.pdv"></app-hub-post-pdv>
</div>

<div
  class="hub-short-post__content"
  [innerHTML]="post.text | appSanitize : 'html'"
></div>
