<div class="row" *transloco="let translate; read: 'sign_up.account_form_page'">
  <div class="col-xs-7">
    <div class="page-title page-title__large">
      {{ translate('title') }}
    </div>
    <form
      #ngForm="ngForm"
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *transloco="let translate; read: 'sign_up.account_form_page.form'"
    >
      <div class="row">
        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('email.label') }}</div>
          <mat-form-field class="input-control icon-protected"
                          appearance="outline">
            <input matInput
                   type="email"
                   name="email"
                   formControlName="email"
                   placeholder="">

            <mat-error>
              <app-form-error controlName="email" i18nControlKey="email"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="password"
                   formControlName="password"
                   placeholder="">

            <mat-error>
              <app-form-error controlName="password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('confirm_password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="confirmPassword"
                   formControlName="confirmPassword"
                   placeholder="">

            <mat-error >
              <app-form-error controlName="confirmPassword" i18nControlKey="confirm_password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="checkbox-container col-xs-12">
          <mat-checkbox formControlName="agreeTerms">
            {{ translate('terms_of_use.have_read') }}
            <a href="#" target="_blank">{{ translate('terms_of_use.link') }}</a>
          </mat-checkbox>
        </div>

        <div class="col-xs-12">
          <button class="btn btn__small"
                  mat-flat-button
                  color="accent"
                  [disabled]="form.invalid">
            {{ translate('submit') }}
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
