@import 'variables';

:host {
  background-color: var(--color-footer-background);
  border-top: 1px solid var(--color-footer-top-border);
  display: block;
  width: 100%;
}

.layout-footer__container {
  align-items: center;
  color: var(--color-footer-container);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: $grid-step * 1.5 auto;
  padding: 0 $page-side-padding;
  max-width: $page-width + $page-side-padding * 2;
}

.layout-footer__logo {
  color: var(--color-footer-logo);
  display: inline-flex;
  gap: $grid-step;
  font-weight: 700;
}

.layout-footer__copyright {
  color: var(--color-footer-copyright);
  text-align: center;
}

.layout-footer__social-links-container {
  display: flex;
  gap: $grid-step * 3;
  justify-content: flex-end;
}

.layout-footer__social-link {
  color: var(--color-footer-social-link);
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-footer-social-link-hover);
  }
}
