@import '../../../styles/variables';

:host {
  align-items: center;
  column-gap: $grid-step;
  display: inline-flex;

  &.is-invalid {
    &.is-submitted,
    &.is-touched {
      .checkbox__input {
        border: 1px solid var(--color-checkbox-invalid-border);
      }
    }
  }
}

.checkbox__input {
  background: var(--color-checkbox-background);
  border-radius: $grid-half-step;
  cursor: pointer;
  height: 16px;
  width: 16px;

  &.is-active {
    background-color: var(--color-checkbox-active-background);
    color: var(--color-checkbox-active-color);
  }
}
