@import 'variables';

:host {
  display: block;
}

::ng-deep .cdk-overlay-container {
  .vpn-selector__menu {
    width: 320px;
  }
}

.vpn-selector__trigger {
  align-items: center;
  background-color: $color-background;
  border-radius: $border-radius;
  column-gap: $grid-step / 2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $grid-step $grid-step * 1.5;
  transition: background .3s ease;

  &:hover {
    background: $color-outlines;

    .vpn-selector__trigger-icon {
      color: $color-black;
    }
  }
}

.vpn-selector__trigger-icon {
  color: $color-grey;
  transition: color .3s ease;
}

.vpn-selector__menu-item {
  color: $color-grey;

  &.is-active,
  &:hover {
    color: $color-white;
  }

  &.is-active {
    .vpn-selector__menu-item-icon-check {
      display: inline-flex;
    }
  }
}

.vpn-selector__menu-item-icon-check {
  color: $color-white;
  display: none;
  margin-left: auto;
}
