@import 'variables';

$border-color: $color-outlines;
$pdv-consent--card--padding: $grid-step * 2;

:host {
  display: block;
  height: 100%;
  padding-bottom: $grid-step * 5;
}

.pdv-consent__card {
  border: 2px solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: $pdv-consent--card--padding;
  width: 792px;
}

.pdv-consent__title {
  font-weight: 500;
}

.pdv-consent__profile-card {
  margin-top: $grid-step * 2;
}

.pdv-consent__settings {
  margin-top: $grid-step * 5;
}

.pdv-consent__hint {
  color: $color-grey;
  margin-top: $grid-step;
}

.pdv-consent__divider {
  border-bottom: 2px solid $border-color;
  margin: $pdv-consent--card--padding (-$pdv-consent--card--padding);
}

.pdv-consent__actions-container {
  display: flex;
  justify-content: flex-end;
}

.pdv-consent__action-button {
  width: 160px;
}
