<div
  class="pdv-consent__card"
  *transloco="let translate; read: 'sign_up.pdv_consent'"
>
  <section>
    <div
      class="pdv-consent__title"
      appTypeface="subheader"
    >
      {{ translate('title') }}
    </div>

    <app-profile-card
      class="pdv-consent__profile-card"
    ></app-profile-card>

    <app-pdv-types-settings
      class="pdv-consent__settings"
      font="large"
      [translations]="translations$ | async"
    ></app-pdv-types-settings>

    <div
      class="pdv-consent__hint"
      appTypeface="caption"
    >
      {{ translate('hint') }}
    </div>
  </section>

  <section>
    <div class="pdv-consent__divider"></div>

    <div
      class="pdv-consent__actions-container"
    >
      <button
        class="pdv-consent__action-button"
        app-button
        color="primary"
        appTestId="confirm"
        (click)="confirm()"
      >
        {{ translate('confirm') }}
      </button>
    </div>
  </section>
</div>
