@import 'variables';

:host {
  display: grid;
  gap: $grid-step * 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.hub-dashboard__additional-statistics-coming-soon {
  background: $color-yellow;
  border-radius: $border-radius;
  font-weight: 700;
  left: 50%;
  padding: $grid-step $grid-step * 5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  user-select: none;
  width: max-content;
}

.hub-dashboard__additional-statistics-item {
  align-items: center;
  background: $color-background;
  border-radius: $border-radius;
  color: $color-light-grey;
  display: flex;
  font-weight: 700;
  justify-content: center;
  min-height: 168px;
  width: 100%;
}
