$hub-post-dialog--background-color: #FFFFFF;

:host {
  background-color: $hub-post-dialog--background-color;
  display: block;
  padding: 24px;
  position: relative;
}

.hub-post-dialog__close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transform: rotate(45deg);
  width: 16px;
}

.hub-post-dialog__header {
  display: flex;
}

.hub-post-dialog__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  overflow: hidden;
}

.hub-post-dialog__author {
  font-weight: 500;
}

.hub-post-dialog__content {
  margin-top: 16px;
  max-height: 500px;
}

.hub-post-dialog__divider {
  margin: 16px 0;
}

.hub-post-dialog__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
