<div
  class="complete-registration-page__card"
  *transloco="let translate; read: 'sign_up.complete_registration'"
>
  <div
    class="complete-registration-page__title"
    appTypeface="subheader"
  >
    {{ translate('title') }}
  </div>

  <div class="complete-registration-page__divider"></div>

  <form
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    appSubmitSource
  >
    <app-profile-form
      formControlName="profile"
      [translationsConfig]="{
        read: 'core.profile_form',
        scope: 'core'
      }"
    ></app-profile-form>

    <div class="complete-registration-page__divider"></div>

    <div class="complete-registration-page__actions-container">
      <button
        class="complete-registration-page__action-button"
        app-button
        type="submit"
      >
        {{ translate('submit') }}
      </button>
    </div>
  </form>
</div>

