<div class="row" *transloco="let translate; read: 'sign_up.complete_registration'">
  <div class="col-xs-7">
    <div class="page-title page-title__large">
      {{ translate('title') }}
    </div>
    <form
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *transloco="let translate; read: 'sign_up.complete_registration.form'"
    >
      <div class="row">
        <app-profile-form
          formControlName="profile"
          [translationsConfig]="{
            read: 'sign_up.complete_registration.form'
          }"
        ></app-profile-form>

        <div class="col-xs-12">
          <button
            class="btn btn__small"
            mat-flat-button
            color="accent"
            [disabled]="form.invalid"
          >
            {{ translate('submit') }}
          </button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-xs-5 hint-message">
    <div class="hint-title">
      {{ translate('hint.label') }}:
    </div>
    <p [innerHTML]="translate('hint.text')"></p>
  </div>
</div>
