@import 'variables';

$hub-currency-statistic--background-color: linear-gradient(0deg, $color-light-blue 0%, $color-blue 100%);

:host {
  display: block;
}

.hub-currency-statistics__card {
  background: $hub-currency-statistic--background-color;
  height: 100%;
}

.hub-currency-statistics__chart {
  height: 100%;
  width: 100%;
}

.hub-currency-statistics__tooltip {
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  min-width: max-content;
  padding: $grid-step / 2;

  &-date {
    font-size: 8px;
  }
}

.hub-currency-statistics__loader-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.hub-currency-statistics__rate-direction {
  font-weight: 700;
}

.hub-currency-statistics__no-data {
}

.hub-currency-statistics__rate-change {
}
