@import 'variables';

$hub-currency-statistic--background-color-first: #73D0F9;
$hub-currency-statistic--background-color-second: #4F80FF;
$hub-currency-statistic--background-color: linear-gradient(0deg, $hub-currency-statistic--background-color-first 0%, $hub-currency-statistic--background-color-second 100%);

:host {
  background: $hub-currency-statistic--background-color;
  border-radius: $border-radius;
  display: block;
}

.hub-currency-statistics__card {
  height: 100%;
}

.hub-currency-statistics__chart {
  height: 100%;
  width: 100%;
}

.hub-currency-statistics__tooltip {
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 5px;

  &-date {
    font-size: 8px;
  }
}

.hub-currency-statistics__loader-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.hub-currency-statistics__rate-direction {
  font-weight: 700;
}

.hub-currency-statistics__no-data {
  font-size: 14px;
  text-align: center;
  margin-top: 28px;
}

.hub-currency-statistics__rate-change {
}
