.hub-delete-post-dialog__actions {
  display: flex;
  justify-content: space-around;
}

.hub-delete-post-dialog__button {
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 20px;
  padding: 10px 25px;
}

.hub-delete-post-dialog__button-yes {
  background-color: #66c9c7;
  color: #FFFFFF;
}
