@import '../../styles/variables';

:host {
  display: block;
}

.seed__seed-container {
  background: var(--color-input-background);
  border-radius: $border-radius;
  padding: $grid-step * 2;
  margin-top: $grid-step * 2;
}

.seed__seed-container__label {
  color: var(--color-input-label);
}

.seed__seed-container__seed {
  color: var(--color-main-text);
  column-gap: $grid-step * 2;
  display: flex;
}

.seed__seed-container__toggle-icon {
  cursor: pointer;
  flex-shrink: 0;
}

.seed__seed-container__actions {
  column-gap: $grid-step * 1.5;
  display: flex;
  margin-top: $grid-step * 3;
}

.seed__pdf-template {
  position: absolute;
  height: 40px;
  top: -9999px;
  width: 147px;
}

.seed__pdf-template-icon {
  height: 40px;
  width: 147px;
}
