@import 'mixins';
@import 'variables';
@import 'libs/flexboxgrid.min.css';

* {
  //outline: 1px solid yellow;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $main-font-size;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  color: $color-font-base;
}

.flex {
  display: flex;
}

// Buttons
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  &.btn {
    @include btn();
  }
}

.btn {
  @include btn();
}

// Text
.page-title {
  font-size: 2rem;

  &__large {
    font-size: 2.5rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hint-title {
  position: relative;
  padding-left: 27px;

  &:before {
    content: '';
    background: url('/assets/images/icons/info.svg');
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Form containers
.input-label {
  margin-bottom: .4rem;
}

.input-container {
  margin-bottom: .5rem;
}

.checkbox-container {
  margin-bottom: 2rem;
}

.radio-container {
  position: relative;
  margin-bottom: 2rem;

  .input-label {
    margin-bottom: 0.6rem;
  }

  .mat-error {
    font-size: 75%;
    margin-top: 0.6666666667em;
    padding: 0 1em;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
}

.icon-protected {
  .mat-form-field-flex {
    &:before {
      content: "";
      pointer-events: none;
      background: url('/assets/images/icons/secured.svg') no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// Form inputs
mat-form-field {
  &.input-control {
    width: 350px;
  }

  .mat-form-field-infix {
    border-top: 0.3em solid transparent;
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-width: 1px !important;
    }
  }
}

// Form Checkbox input
mat-checkbox {
  .mat-checkbox-layout {
    align-items: center;
  }

  .mat-checkbox-inner-container {
    width: 47px;
    height: 47px;
    margin-right: 1rem;
  }

  .mat-checkbox-frame {
    border-width: 1px;
    border-color: $grey-border-color;
  }

  .mat-checkbox-label {
    line-height: 47px;
  }
}

// Form Radio input
mat-radio-button {
  & ~ .mat-radio-button {
    margin-left: 3.5rem;
  }

  .mat-radio-label-content {
    padding-left: 1rem;
  }

  .mat-radio-container {
    width: 45px;
    height: 45px;

    .mat-radio-outer-circle {
      width: 45px;
      height: 45px;
      border: 1px solid $grey-border-color;
    }

    .mat-radio-inner-circle {
      width: 45px;
      height: 45px;
    }
  }
}

// Header selectNetworkMenu
div.selectNetworkMenu {
  user-select: none;
  background: #2A2A2A;
  color: #ffffff;
  min-width: 330px;

  .menu-title {
    font-size: 18px;
    text-align: center;
    padding: 10px 0 15px;
    border-bottom: 1px solid #5D5D5D;
  }

  .menu-description {
    font-size: 13px;
    color: #AEAEAE;
    padding: 15px 40px 15px 60px;
  }

  .menu-items {
    .menu-item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 15px 40px 15px 60px;
      cursor: pointer;

      &__name {
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      @for $i from 1 through length($network-indicator-colors) {
        &:nth-child(#{$i}) {
          .network-indicator {
            background: nth($network-indicator-colors, $i);
          }
        }
      }

      &:hover {
        background: #373737;
      }

      &__active {
        &:before {
          content: "";
          width: 50px;
          position: absolute;
          left: 0;
          height: 2px;
          background: white;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .network-indicator {
        pointer-events: none;
        width: 12px;
        height: 10px;
        background: #6bbfa6;
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
        margin-right: 8px;
      }
    }
  }
}

div.selectProfileMenu {
  user-select: none;
  background: #2A2A2A;
  color: #ffffff;
  min-width: 330px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 15px;
    border-bottom: 1px solid #5D5D5D;

    .button-lock {
      border: 1px solid #ffffff;
      border-radius: 4px;
      font-size: 13px;
      color: #ffffff;
      background: transparent;
      padding: 4px 23px;
      cursor: pointer;
    }
  }

  &__items {
    .menu-item {
      position: relative;
      padding: 15px 10px 15px 45px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #373737;
      }

      &__active {
        &:before {
          content: "";
          width: 30px;
          position: absolute;
          left: 0;
          height: 2px;
          background: white;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .name {
        max-width: 240px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .rate {
        font-size: 14px;
        color: #929292;
      }
    }

    .profile-image {
      zoom: .6;
      margin-right: 15px;
    }
  }

  &__footer {
    border-top: 1px solid #5D5D5D;
    padding-top: 10px;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 7px 15px;
      cursor: pointer;

      &:hover {
        background: #373737;
      }

      span {
        font-size: 10px;
        margin-top: -10px;
        margin-left: 5px;
        font-style: italic;
      }

      .icon {
        margin-right: 10px;
      }

      svg {
        width: 22px;
        height: 22px;

        * {
          stroke: #ffffff;
        }
      }

      &__disabled {
        cursor: default;
        color: #8C8888;

        &:hover {
          background: transparent;
        }

        svg {
          * {
            stroke: #8C8888;
          }
        }
      }
    }
  }
}
