$main-font-size: 16px;
$main-font-family: #{'ArialMT, Arial, sans-serif'};

$color-font-base: #161616;
$color-primary: #4477e4;
$color-accent: #66c9c7;
$color-font-grey: #626262;

$grey-border-color: #dcdcdc;

$network-indicator-colors: #6bbfa6 #7497C5 #8E00FF #F6CC2A;

$color-link-accent: #66C9C7;
