<ng-container *transloco="let translate">
  <div class="app__section app__logo-container">
    <svg-icon
      class="app__icon app__logo"
      key="logo"
      (click)="openCharonHubOverview()"
    ></svg-icon>
  </div>

  <div class="app__section app__middle-container">
    <div class="app__middle-container-section">
      <div class="app__middle-container-section-dynamic">
        <app-color-value-dynamic
                class="app__meta-label"
                *ngIf="!isLocked && balance"
                [circleType]="'hole'"
                [color]="'green'"
                [dayMargin]="balance.dayMargin"
                [dayMarginDigitsInfo]="'1.0-5'"
        >
          <strong>{{ translate('pdv') }}</strong>
          <span class="app__meta-label-value">{{ balance.value | pdvValue }}</span>
        </app-color-value-dynamic>

        <app-color-value-dynamic
                class="app__meta-label"
                *ngIf="coinRate"
                [circleType]="'hole'"
                [color]="'yellow'"
                [dayMargin]="coinRate.dayMargin"
        >
          <strong>{{ translate('dec') }}</strong>
          <span class="app__meta-label-value">
          {{ coinRate.value | currency : 'USD' : 'symbol' : '1.4' }}
        </span>
        </app-color-value-dynamic>
      </div>
    </div>

    <div class="app__middle-container-section">
      <app-avatar
        class="app__icon"
        [avatarUrl]="avatar$ | async"
        (click)="openCharonHubMyWall()"
      ></app-avatar>

      <svg-icon
        class="app__icon"
        key="notification"
        (click)="openCharonHubRecentNews()"
      ></svg-icon>

      <svg-icon
        class="app__icon"
        key="settings"
        (click)="openCharonUserSettings()"
      ></svg-icon>
    </div>
  </div>

  <div class="app__section app__close-container" (click)="closeApp()">
    <svg-icon class="app__icon" key="close"></svg-icon>
  </div>
</ng-container>
