<div class="row">
  <div class="col-xs-12">
    <div class="btn btn__back" [routerLink]="['../', publicRoute.SecretPhrase]">
      < Back
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-title page-title__large">
      Confirm Your Secret Backup Phrase
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Please select each phrase in order to make sure it is correct.</p>

        <div class="finalPhrase">
          <div class="buttons-area-shuffled">
            <button
              *ngFor="let word of selectedSeedPhraseArr; let i = index; trackBy: trackByWord"
              class="btn"
              mat-stroked-button
              color="accent"
              (click)="onSelectWord(i, selectedSeedPhraseArr, seedPhraseShuffledArr)"
            >
              {{word}}
            </button>
          </div>
        </div>

        <div class="buttons-area-shuffled">
          <button
            *ngFor="let word of seedPhraseShuffledArr; let i = index; trackBy: trackByWord"
            class="btn"
            mat-stroked-button
            color="accent"
            (click)="onSelectWord(i, seedPhraseShuffledArr, selectedSeedPhraseArr)"
          >
            {{word}}
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button
          class="btn btn__small"
          mat-flat-button
          color="accent"
          [disabled]="!isUserPhraseValid"
          [routerLink]="['../', publicRoute.EmailConfirmation]"
        >
          CONFIRM
        </button>
      </div>
    </div>
  </div>
</div>
