$circle-post-analytics--background-color: #FFFFFF;
$circle-post-analytics--pdv-increase-color: #328374;
$circle-post-analytics--label-color: #9EA0A5;

:host {
  background-color: $circle-post-analytics--background-color;
  display: block;
}

.circle-post-analytics__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.circle-post-analytics__pdv-increase {
  color: $circle-post-analytics--pdv-increase-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.circle-post-analytics__labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle-post-analytics__label {
  color: $circle-post-analytics--label-color;
  font-size: 12px;
  line-height: 18px;
}

.circle-post-analytics__dynamics-icon {
  flex-grow: 1;
  margin-left: 30px;
}
