<ng-container *transloco="let translate; read: 'circle.circle_post_analytics_card'">
  <app-circle-post-preview-card
    [maxContentLines]="maxContentLines"
    [post]="postAnalytics"
  ></app-circle-post-preview-card>

  <mat-divider></mat-divider>

  <div class="circle-post-analytics__footer">
    <div class="circle-post-analytics__labels-container">
      <div class="circle-post-analytics__pdv-increase">
        {{ translate('pdv_increase', { percent: postAnalytics.pdvIncreasePercent }) }}
      </div>

      <div class="circle-post-analytics__label">
        {{ translate('activity_or_dec_id') }}
      </div>
    </div>

    <div
      class="circle-post-analytics__dynamics-icon"
      [inlineSVG]="'assets/images/icons/dynamics-positive.svg'"
    ></div>
  </div>
</ng-container>
