@import 'variables';

:host {
  display: block;
  height: 100%;
  padding-bottom: $grid-step * 5;
}

.email-confirmation-page__card {
  border: 2px solid var(--color-outlines);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: $grid-step * 2;
  text-align: center;
  width: 792px;
}

.email-confirmation-page__card__wait-icon {
  color: $color-blue;
  height: 96px;
  margin: 0 auto $grid-step * 2;
  width: 96px;
}

.email-confirmation-page__card__title {
  font-weight: 500;
  margin-bottom: $grid-step;
}

.email-confirmation-page__card__header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.email-confirmation-page__card__sent {
  margin-bottom: $grid-step;
}

.email-confirmation-page__card__sent-email {
  font-weight: 500;
}

.email-confirmation-page__card__ensure {
  color: $color-grey;
}

.email-confirmation-page__card__code-input {
  justify-content: center;
  margin: $grid-step * 5 auto;
}

.email-confirmation-page__card__resend-code-label {
  color: $color-grey;
}

.email-confirmation-page__card__resend-code-button {
  background: transparent;
  color: $color-blue;
  cursor: pointer;
  font-weight: 500;
  padding: 0;

  &.mod-disabled {
    color: $color-grey;
    cursor: not-allowed;
  }
}

.email-confirmation-page__card__divider {
  background: var(--color-outlines);
  height: 2px;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.email-confirmation-page__card__actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.email-confirmation-page__card__back-button {
  background: transparent;
  color: $color-blue;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
}

.email-confirmation-page__card__submit-button {
  width: 160px;
}
