<form
  class="email-confirmation-page__card"
  *transloco="let translate; read: 'sign_up.email_confirmation_page'"
  [formGroup]="codeForm"
  (ngSubmit)="confirm()"
>
  <div class="email-confirmation-page__card__header">
    <svg-icon
      class="email-confirmation-page__card__wait-icon"
      key="email-confirmation-wait"
    ></svg-icon>

    <div
      class="email-confirmation-page__card__title"
      appTypeface="subheader"
    >
      {{ translate('title') }}
    </div>

    <div appTypeface="paragraph">

      <div class="email-confirmation-page__card__sent">
        {{ translate('sent') }}

        <span class="email-confirmation-page__card__sent-email">
          {{ email }}.
        </span>
      </div>

      <div class="email-confirmation-page__card__ensure">
        {{ translate('ensure') }}

        <p appTypeface="caption">
          {{ translate('check_spam') }}
        </p>
      </div>
    </div>

    <app-code-input
      class="email-confirmation-page__card__code-input"
      [autofocus]="true"
      [length]="6"
      formControlName="code"
    ></app-code-input>

    <div class="email-confirmation-page__card__resend-code">
      <div class="email-confirmation-page__card__resend-code-label" appTypeface="paragraph">
        <div *ngIf="!secondsLeftToResend; else timer">
          {{ translate('did_not_get_code') }}
        </div>

        <ng-template #timer>
          {{ translate('resend_code_will_able', { time: secondsLeftToResend }) }}
        </ng-template>
      </div>

      <button
        type="button"
        class="email-confirmation-page__card__resend-code-button"
        [class.mod-disabled]="secondsLeftToResend"
        (click)="!secondsLeftToResend && sendEmail()"
        appTypeface="paragraph"
      >
        {{ translate('resend_code') }}
      </button>
    </div>
  </div>

  <div class="email-confirmation-page__card__divider"></div>

  <div class="email-confirmation-page__card__actions">
    <button
      class="email-confirmation-page__card__back-button"
      type="button"
      [appAnalyticsClickEvent]="analyticsEvent.RegisterNewAccount"
      (click)="registerNewAccount()"
    >
      {{ translate('register_new_account') }}
    </button>

    <button
      class="email-confirmation-page__card__submit-button"
      type="submit"
      [disabled]="codeForm.invalid"
      app-button
      size="md"
    >
      {{ translate('submit') }}
    </button>
  </div>
</form>
