@import 'variables';

:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nodes-expansion-connect__deposit {
  align-items: center;
  display: flex;
}

.nodes-expansion-connect__deposit-amount {
  align-items: center;
  border: 1px solid var(--color-outlines);
  border-radius: $border-radius;
  display: flex;
  font-weight: 500;
  padding: $grid-step * 1.5 $grid-step * 2.5;
}

.nodes-expansion-connect__actions {
  column-gap: $grid-step * 2;
  display: flex;
}

.nodes-expansion-connect__action {
  &.mod-red {
    background-color: var(--color-dportal-vpn-node-details-disconnect-background);
  }
}
