<div
  class="password-validation-state__container"
  *transloco="let translate; read: translationsConfig.read; scope: translationsConfig.scope"
  appTypeface="paragraph"
>
  {{ translate('at_least') }}&nbsp;

  <ng-container *ngIf="passwordValidationConfig.minlength">
    <ng-container [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: state.minlength }"></ng-container>
    <span class="password-validation-state__condition">
      {{ passwordValidationConfig.minlength }} {{ translate('symbols') }}
    </span>
  </ng-container>

  <ng-container *ngIf="passwordValidationConfig.upperCase">
    <ng-container *ngIf="passwordValidationConfig.minlength">
      ,&nbsp;
    </ng-container>
    <ng-container [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: state.upperCase }"></ng-container>
    <span class="password-validation-state__condition">
      1 {{ translate('upper') }}
    </span>
  </ng-container>

  <ng-container *ngIf="passwordValidationConfig.lowerCase">
    ,&nbsp;
    <ng-container [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: state.lowerCase }"></ng-container>
    <span class="password-validation-state__condition">
      1 {{ translate('lower') }}
    </span>
  </ng-container>

  <ng-container *ngIf="passwordValidationConfig.digit">
    ,&nbsp;
    <ng-container [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: state.digit }"></ng-container>
    <span class="password-validation-state__condition">
      1 {{ translate('digit') }}
    </span>
  </ng-container>

  <ng-container *ngIf="passwordValidationConfig.specialCharacter">
    ,&nbsp;
    <ng-container
      [ngTemplateOutlet]="icon" [ngTemplateOutletContext]="{ $implicit: state.specialCharacter }"
    ></ng-container>
    <span class="password-validation-state__condition">
      1 {{ translate('special') }}
    </span>
  </ng-container>

  {{ translate('end') }}
</div>

<ng-template #icon let-valid>
  <span
    class="password-validation-state__icon-container"
    [class.is-valid]="valid"
  >
    <svg-icon
      class="password-validation-state__icon"
      [class.is-valid]="valid"
      [key]="valid ? 'check' : 'closed'"
      [size]="valid ? 'sm' : 'md'"
    ></svg-icon>
  </span>
</ng-template>
