@import 'variables';

:host {
  display: block;
  padding-bottom: $grid-step * 2;
}

.redelegate-page__header {
  column-gap: $grid-step * 2;
  display: flex;
}

.redelegate-page__form {
  align-items: center;
  column-gap: $grid-step * 2;
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content minmax(0, 1fr);
}

.redelegate-page__form__input-container {
  height: 100%;
}

.redelegate-page__form__amount-control {
  height: 100%;
  text-align: end;
}

.redelegate-page__form__error-container {
  align-content: center;
  background-color: rgba($color-red, .08);
  border-radius: $border-radius;
  color: $color-red;
  column-gap: $grid-step;
  display: grid;
  grid-template-areas: 'icon title'
                       'empty text';
  grid-template-rows: min-content;
  height: 100%;
  min-height: 176px;
  padding: $grid-step * 2;
  row-gap: $grid-step / 2;
}

.redelegate-page__form__error-icon {
  grid-area: icon;
}

.redelegate-page__form__error-title {
  grid-area: title;
  font-weight: 700;
}

.redelegate-page__form__error-text {
  grid-area: text;
  white-space: pre-line;
}

  .redelegate-page__direction-icon {
  color: $color-light-grey;
  transform: rotate(180deg);
}

.redelegate-page__form__validator-control {
  grid-area: validator;
  height: 100%;
}

.redelegate-page__info {
  grid-area: info;
}

.redelegate-page__actions {
  align-items: flex-end;
  column-gap: $grid-step * 1.5;
  display: flex;
  justify-content: flex-end;
  margin-top: $grid-step;
}

.redelegate-page__actions__button {
  height: min-content;
}
