@import 'variables';

:host {
  align-items: center;
  background: $color-primary;
  border-radius: $border-radius;
  color: $color-white;
  column-gap: $grid-step;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  padding: $grid-step * 1.5 $grid-step * 3 $grid-step * 1.5 $grid-step * 2;
  transition: background .3s ease;
  white-space: nowrap;

  &:hover:not(:disabled) {
    background: $color-blue-hover;
  }

  &:disabled {
    color: $color-grey;
    background-color: $color-background;
    pointer-events: none;
  }
}

.hub-header-action-button__icon {
  display: inline-flex;
  font-size: 1.5em;
}
