<div class="row">
  <div class="col-xs-7">
    <div class="page-title page-title__large">
      Secret Backup Phrase
    </div>
    <div class="row">
      <div class="view-seed-phrase col-xs-10">
        <p>
          Your secret backup phrase (seed phrase) makes it easy to back up and restore your account.
        </p>
        <p>
          <strong>WARNING:</strong> Never disclose your backup phrase. Anyone with this phrase can take your Decs
          forever.
        </p>

        <div class="seed-phrase-words" [class.is-visible]="isSeedPhraseVisible">
          <div class="phrase">
            {{seedPhrase}}
          </div>
          <div *ngIf="!isSeedPhraseVisible"
               (click)="showSeedPhrase()"
               class="overlay">
            <div class="icon">
              <svg height="512pt" viewBox="-64 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m336 192h-16v-64c0-70.59375-57.40625-128-128-128s-128 57.40625-128 128v64h-16c-26.453125 0-48 21.523438-48 48v224c0 26.476562 21.546875 48 48 48h288c26.453125 0 48-21.523438 48-48v-224c0-26.476562-21.546875-48-48-48zm-229.332031-64c0-47.0625 38.269531-85.332031 85.332031-85.332031s85.332031 38.269531 85.332031 85.332031v64h-170.664062zm0 0"/>
              </svg>
            </div>
            Click here to reveal secret words
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn__small"
                mat-flat-button
                color="accent"
                (click)="switchToConfirmationPage()"
                [disabled]="!isSeedPhraseVisible">
          NEXT
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-5 hint-message">
    <div class="hint-title">
      Hint:
    </div>
    <p>Store your seed phrase in a password manager like 1Password.</p>
    <p>Write this phrase on a piece of paper and store in a secure location. If you want even more security. write it
      down on multiple pieces of paper and store each in 2 - 3 different locations.</p>
    <p>Memorize seed phrase.</p>
    <span>Download this Secret Backup Phrase and keep it stored safely on an external encrypted hard drive or storage medium.</span>
  </div>
</div>
