<ng-container *transloco="let translate">
  <ng-container *appAuthorizedLayoutNavigationDef>
    <ng-container *ngFor="let link of links$ | async">
      <ng-container *appAuthorizedLayoutNavigationLinkDef="link.link; colorClass: link.colorClass; exact: false">
        {{ translate(link.i18nKey) }}
      </ng-container>
    </ng-container>

    <ng-container *appBrowserPopupView>
      <a
        class="portal-navigation__expand-btn"
        *appSlot="navigationRightSlot"
        (click)="expandView()"
      >
        <svg-icon key="widescreen"></svg-icon>
      </a>
    </ng-container>
  </ng-container>
</ng-container>
