@import 'variables';

:host {
  display: block;
}

.mod-empty {
  color: $color-light-grey;
}

.withdraw-validator-table__validator-name {
  align-items: center;
  display: flex;
}

.withdraw-validator-table__validator-name__jailed {
  margin-left: $grid-step;
  user-select: none;
}

.withdraw-validator-table__validator-name__check {
  align-items: center;
  border: 1px solid $color-outlines;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: $grid-step;
  height: 24px;
  width: 24px;

  &.is-selected {
    background-color: $color-blue;
    border-color: $color-blue;

    .withdraw-validator-table__validator-name__check-icon {
      visibility: visible;
    }
  }
}

.withdraw-validator-table__validator-name__check-icon {
  color: $color-white;
  visibility: hidden;
}

.withdraw-validator-table__empty-row {
  color: $color-grey;
  padding: $grid-step;
  text-align: center;
}
