.page-welcome {
  padding-top: 165px;

  .logo-icon {
    margin-bottom: 5rem;

    img {
      width: 136px;
    }
  }

  .page-title {
    margin-bottom: 2rem;
  }

  .page-content {
    margin-bottom: 3rem;
  }
}
