<div
  *transloco="let translate; read: 'portal.token_transactions_table'"
  class="token-transaction"
  appTypeface="paragraph"
>
  <ng-container [ngSwitch]="message.type">
    <ng-template [ngSwitchCase]="messageType.BankSend">
      <ng-template
        [ngTemplateOutlet]="sendTemplate"
      ></ng-template>
    </ng-template>

<!--    <ng-template [ngSwitchCase]="messageType.WithdrawDelegate">-->
<!--      <ng-template-->
<!--        [ngTemplateOutlet]="withdrawTemplate"-->
<!--        [ngTemplateOutletContext]="{ label: translate('withdraw') }"-->
<!--      ></ng-template>-->
<!--    </ng-template>-->

<!--    <ng-template [ngSwitchCase]="messageType.WithdrawUndelegate">-->
<!--      <ng-template-->
<!--        [ngTemplateOutlet]="withdrawTemplate"-->
<!--        [ngTemplateOutletContext]="{ label: translate('withdraw') }"-->
<!--      ></ng-template>-->
<!--    </ng-template>-->

<!--    <ng-template [ngSwitchCase]="messageType.WithdrawRedelegate">-->
<!--      <ng-template-->
<!--        [ngTemplateOutlet]="withdrawTemplate"-->
<!--        [ngTemplateOutletContext]="{ label: translate('withdraw') }"-->
<!--      ></ng-template>-->
<!--    </ng-template>-->

<!--    <ng-template [ngSwitchCase]="messageType.WithdrawRewards">-->
<!--      <ng-template-->
<!--        [ngTemplateOutlet]="withdrawTemplate"-->
<!--        [ngTemplateOutletContext]="{ label: translate('withdraw') }"-->
<!--      ></ng-template>-->
<!--    </ng-template>-->

<!--    <ng-template [ngSwitchCase]="messageType.WithdrawValidatorRewards">-->
<!--      <ng-template-->
<!--        [ngTemplateOutlet]="withdrawTemplate"-->
<!--        [ngTemplateOutletContext]="{ label: translate('withdraw_validator') }"-->
<!--      ></ng-template>-->
<!--    </ng-template>-->
  </ng-container>

  <div
    *ngIf="transaction?.comment"
    class="token-transaction__memo"
    appTypeface="caption"
  >
    {{ translate('memo') }}: {{ transaction?.comment }}
  </div>

  <ng-template #sendTemplate>
    <svg-icon
      class="token-transaction__icon"
      [class.color-negative]="message.sender === walletAddress"
      [class.color-positive]="message.recipient === walletAddress"
      [key]="message.sender === walletAddress ? 'send' : 'receive'"
    ></svg-icon>

    <div class="token-transaction__operation">
      {{ translate(message.sender === walletAddress ? 'sent' : 'received') }}

      <app-token-transactions-actions
        *ngIf="transaction?.hash"
        [txhash]="transaction?.hash"
      ></app-token-transactions-actions>
    </div>

    <app-token-transaction-amount
      class="token-transaction__amount"
      [amount]="message.amount"
    ></app-token-transaction-amount>

    <div class="token-transaction__address" appTextEllipsis appTypeface="caption">
      <ng-container *ngIf="message.recipient === walletAddress">
        {{ translate('to') }}: {{ message.sender }}
      </ng-container>

      <ng-container *ngIf="message.sender === walletAddress">
        {{ translate('from') }}: {{ message.sender }}
      </ng-container>
    </div>

    <div *ngIf="transaction?.fee" class="token-transaction__fee" appTypeface="caption">
      {{ translate('fee') }}
      : {{ transaction.fee | microValue | numberFormat : null : true }}
      <app-currency-symbol></app-currency-symbol>
    </div>
  </ng-template>

  <ng-template #withdrawTemplate let-label="label">
    <svg-icon
      class="token-transaction__icon color-positive"
      key="receive"
    ></svg-icon>

    <div class="token-transaction__operation">
      {{ label }}

      <app-token-transactions-actions
        *ngIf="transaction?.hash"
        [txhash]="transaction?.hash"
      ></app-token-transactions-actions>
    </div>

    <app-token-transaction-amount
      class="token-transaction__amount"
      [amount]="message.amount.amount"
    ></app-token-transaction-amount>

    <div class="token-transaction__address" appTextEllipsis appTypeface="caption">
      {{ translate('from') }}: {{ message.sender }}
    </div>

    <div *ngIf="transaction?.fee" class="token-transaction__fee" appTypeface="caption">
      {{ translate('fee') }}: {{ transaction.fee | microValue | numberFormat : null : true }}
      <app-currency-symbol></app-currency-symbol>
    </div>
  </ng-template>
</div>
