<ng-container *transloco="let translate; read: 'sign_up.seed_phrase_page'">
  <section>
    <div
      class="seed-phrase__title"
      appTypeface="subheader"
    >
      {{ translate('title') }}
    </div>

    <div
      class="seed-phrase__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('subtitle') }}
    </div>

    <app-seed [value]="seedPhrase"></app-seed>

    <div class="seed-phrase__message mod-careful" appTypeface="paragraph">
      <svg-icon key="referral"></svg-icon>

      <div>
        <div class="seed-phrase__message__label">{{ translate('careful.label') }}</div>

        <div class="seed-phrase__message__text">
          <div>{{ translate('careful.text1') }}</div>
          <div>{{ translate('careful.text2') }}</div>
        </div>
      </div>
    </div>

    <div class="seed-phrase__message mod-warning" appTypeface="paragraph">
      <svg-icon key="loud"></svg-icon>

      <div>
        <div class="seed-phrase__message__label">{{ translate('warning.label') }}</div>

        <div class="seed-phrase__message__text">
          <div>{{ translate('warning.text1') }}</div>
          <div>{{ translate('warning.text2') }}</div>
          <div>{{ translate('warning.text3') }}</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="seed-phrase__divider"></div>

    <div class="seed-phrase__actions">
      <button
        class="seed-phrase__action-button"
        app-button
        color="grey"
        (click)="onBack()"
      >
        {{ translate('back') }}
      </button>

      <button
        class="seed-phrase__action-button"
        app-button
        (click)="onNext()"
      >
        {{ translate('next') }}
      </button>
    </div>
  </section>
</ng-container>
