<ng-container *transloco="let translate; read: 'sign_up.seed_phrase_page'">
  <section>

  <div
    class="seed-phrase__title"
    appTypeface="subheader"
  >
    {{ translate('title') }}
  </div>

  <div
    class="seed-phrase__subtitle"
    appTypeface="paragraph"
  >
    {{ translate('subtitle') }}
  </div>

  <div class="seed-phrase__seed-container">
    <div
      class="seed-phrase__seed-container__label"
      appTypeface="paragraph"
    >
      {{ translate('seed_label') }}
    </div>

    <div
      class="seed-phrase__seed-container__seed"
      appTypeface="paragraph"
    >
      <div>{{ isSeedPhraseVisible ? seedPhrase : securedSeedPhrase }}</div>

      <svg-icon
        class="seed-phrase__seed-container__toggle-icon"
        [key]="isSeedPhraseVisible ? 'eye' : 'eye-crossed'"
        (click)="toggleSeedVisibility()"
      ></svg-icon>
    </div>

    <div class="seed-phrase__seed-container__actions">
      <button
        app-button
        color="white"
        [cdkCopyToClipboard]="seedPhrase"
      >
        <svg-icon key="copy"></svg-icon>

        {{ translate('copy') }}
      </button>

      <button
        app-button
        color="white"
        (click)="downloadSeedPhrase()"
      >
        <svg-icon key="download"></svg-icon>

        {{ translate('download_pdf') }}
      </button>
    </div>
  </div>

  <div class="seed-phrase__warning" appTypeface="paragraph">
    <svg-icon key="loud"></svg-icon>

    <div>
      <div class="seed-phrase__warning__label">{{ translate('warning.label') }}</div>

      <div class="seed-phrase__warning__text">
        <div>{{ translate('warning.text1') }}</div>
        <div>{{ translate('warning.text2') }}</div>
        <div>{{ translate('warning.text3') }}</div>
      </div>
    </div>
  </div>
  </section>

  <section>
    <div class="seed-phrase__divider"></div>

    <div class="seed-phrase__actions">
      <button
        class="seed-phrase__action-button"
        app-button
        color="grey"
        (click)="onBack()"
      >
        {{ translate('back') }}
      </button>

      <button
        class="seed-phrase__action-button"
        app-button
        (click)="onNext()"
      >
        {{ translate('next') }}
      </button>
    </div>
  </section>
</ng-container>

<div #pdfTemplate class="seed-phrase__pdf-template">
  <svg-icon class="seed-phrase__pdf-template-icon" key="logo"></svg-icon>
</div>
