@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.seed-phrase__title {
  font-weight: 500;
}

.seed-phrase__subtitle {
  margin-top: $grid-step;
}

.seed-phrase__warning {
  background: rgba($color-negative, 0.08);
  border-radius: $border-radius;
  color: $color-negative;
  column-gap: $grid-step;
  display: flex;
  margin-top: $grid-step * 3;
  padding: $grid-step * 2;
}

.seed-phrase__warning__label {
  font-weight: 700;
}

.seed-phrase__warning__text {
  color: var(--color-main-text);
}

.seed-phrase__divider {
  background: var(--color-outlines);
  height: 2px;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.seed-phrase__actions {
  column-gap: $grid-step * 1.5;
  display: flex;
  justify-content: flex-end;
}

.seed-phrase__action-button {
  width: 160px;
}
