@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.seed-phrase__title {
  font-weight: 500;
}

.seed-phrase__subtitle {
  margin-top: $grid-step;
}

.seed-phrase__message {
  border-radius: $border-radius;
  column-gap: $grid-step;
  display: flex;
  margin-top: $grid-step * 2;
  padding: $grid-step * 2;

  &.mod-careful {
    background: rgba(var(--color-seed-phrase-careful), 0.08);
    color: rgb(var(--color-seed-phrase-careful));
  }

  &.mod-warning {
    background: rgba(var(--color-seed-phrase-warning), 0.08);
    color: rgb(var(--color-seed-phrase-warning));
  }
}

.seed-phrase__message__label {
  font-weight: 700;
}

.seed-phrase__message__text {
  color: var(--color-main-text);
}

.seed-phrase__divider {
  background: var(--color-outlines);
  height: 2px;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.seed-phrase__actions {
  column-gap: $grid-step * 1.5;
  display: flex;
  justify-content: flex-end;
}

.seed-phrase__action-button {
  width: 160px;
}
