@import 'variables';


::ng-deep {
  .chart-legend {
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__rate {
      font-size: 13px;
    }

    &__date {
      color: #838B94;
      font-size: 8px;
    }
  }

  .pdv-rate-history {
    display: flex;
    font-size: 32px;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 5px;

    span {
      min-width: 65px;
      font-size: 10px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      letter-spacing: 0;

      .rate-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }

    &__none {
      span {
        color: #797979;

        .rate-icon {
          border: 2px solid #797979;
          border-radius: 50%;

          ::ng-deep {
            svg {
              fill: transparent;
            }
          }
        }
      }
    }

    &__rise {
      span {
        color: #6BBFA6;

        .rate-icon {
          ::ng-deep {
            svg {
              fill: #6BBFA6;
            }
          }
        }
      }
    }

    &__fall {
      span {
        color: #C87794;

        .rate-icon {
          transform: rotate(180deg);

          ::ng-deep {
            svg {
              fill: #C87794;
            }
          }
        }
      }
    }
  }

  .chart-filter-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;

    li {
      margin: 5px 10px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      color: #4477E4;
    }
  }

  .hover-line {
    stroke: #4477E4;
    stroke-width: 1px;
  }

  .hover-circle {
    fill: #4477E4;
  }

  .line-class {
    pointer-events: none;
    fill: none;
    stroke: #4477E4;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .d3-chart {
    width: 100%;
    height: 100%;

    .overlay {
      fill: none;
      pointer-events: all;
    }
  }
}
