<app-staking-layout
  *transloco="let translate; read: 'staking.validator_details'"
  [contentDivider]="true"
>
  <ng-container ngProjectAs="[card-title]">
    <a
      class="validator-details__back-link"
      app-button-back
      [routerLink]="['../../../']"
    ></a>

    {{ translate('title') }}
  </ng-container>

  <ng-container ngProjectAs="[card-body]" *ngIf="validatorDetails$ | async as validatorDetails; else tablesLoading;">
    <div class="validator-details__description">
      <div class="validator-details__description__title">
        <span
          class="validator-details__moniker"
          [appTypeface]="isTabView ? 'header-4' : 'subheader'"
        >
          {{ validatorDetails.name }}
        </span>

        <app-validator-status
          [status]="validatorDetails.status"
          [filled]="true"
        ></app-validator-status>
      </div>

      <div
        class="validator-details__description__details"
        *ngIf="validatorDetails.details as details"
        appTypeface="paragraph"
      >
        {{ details }}
      </div>

      <app-validator-jailed
        *ngIf="validatorDetails.jailed"
        class="validator-details__jailed"
        [isBig]="true"
      >
        {{ translate('jailed') }}
      </app-validator-jailed>
    </div>

    <div class="validator-details__divider"></div>

    <app-details-table class="validator-details__address">
      <ng-template [appDetailsTableCellDef]="translate('details_table.operator_address')">
        {{ validatorDetails.address }}
      </ng-template>
    </app-details-table>

    <div class="validator-details__divider"></div>

    <app-details-table class="validator-details__details-table">
      <ng-template [appDetailsTableCellDef]="translate('details_table.website')">
        <a [appLink]="validatorDetails.website"></a>
      </ng-template>

      <ng-template [appDetailsTableCellDef]="translate('details_table.voting_power')">
        {{ validatorDetails.tokens | microValue | numberFormat : '1.0-0' : true }}

        <div
          class="validator-details__details-table__voting-power-percent"
          appTypeface="caption"
        >
          {{ validatorDetails.votingPower | percent : '1.0-2' }}
        </div>
      </ng-template>

      <ng-template [appDetailsTableCellDef]="translate('details_table.commission')">
        {{ validatorDetails.commission | percent }}
      </ng-template>
    </app-details-table>

    <div class="validator-details__divider mod-wide"></div>

    <div class="validator-details__footer">
      <div class="validator-details__footer-delegations">
        <div
          class="validator-details__footer-delegated"
          appTypeface="subheader"
        >
          <div class="validator-details__footer-delegated-label">
            {{ translate('delegated') }}
          </div>

          <div
            class="validator-details__footer-delegated-value"
            [class.mod-empty]="!+validatorDetails.delegated"
          >
            {{ validatorDetails.delegated && (validatorDetails.delegated | microValue | numberFormat : null : true) || '0' }}&nbsp;<app-currency-symbol></app-currency-symbol>
          </div>
        </div>

        <div
          *ngIf="validatorDetails.unbondingDelegation?.balance"
          class="validator-details__footer-unbonding"
          appTypeface="paragraph"
        >
          <div
            class="validator-details__footer-unbonding-value"
          >
            {{ validatorDetails.unbondingDelegation.balance | microValue | numberFormat : '1.0-6' : true }}&nbsp;<app-currency-symbol></app-currency-symbol>
          </div>

          <div class="validator-details__footer-unbonding-label">
            {{ translate('unbonding_delegations', { completionTime: validatorDetails.unbondingDelegation.completionTime | date : 'd MMM yyyy, HH:mm'}) }}
          </div>
        </div>
      </div>

      <div class="validator-details__actions">
        <button
          class="validator-details__actions-buttons"
          app-button
          color="grey"
          (click)="navigateTo(stakingRoute.Undelegate)"
          [disabled]="!+validatorDetails.delegated"
        >
          {{ translate('actions.undelegate') }}
        </button>

        <button
          class="validator-details__actions-buttons"
          app-button
          color="grey"
          (click)="navigateTo(stakingRoute.Redelegate)"
          [disabled]="!+validatorDetails.delegated"
        >

          {{ translate('actions.redelegate') }}
        </button>

        <button
          class="validator-details__actions-buttons"
          app-button
          (click)="navigateTo(stakingRoute.Delegate)"
          [disabled]="validatorDetails.jailed && !validatorDetails.selfValidator"
        >
          {{ translate('actions.delegate') }}
        </button>
      </div>
    </div>
  </ng-container>
</app-staking-layout>

<ng-template #tablesLoading>
  <ngx-skeleton-loader
    class="validator-details__loading"
    count="6"
    [theme]="{
      height: '40px',
      width: '100%'
    }"
  ></ngx-skeleton-loader>
</ng-template>
