<app-hub-statistics-card
  class="hub-adv-statistics__card"
  *transloco="let translate; read: 'hub.hub_adv_statistics'"
>
  <ng-container ngProjectAs="title">
    {{ translate('adv') }}
  </ng-container>

  <ng-container *ngIf="statistics" ngProjectAs="subtitle">
    {{ translate('average_data_value') }}
  </ng-container>

  <ng-container *ngIf="statistics" ngProjectAs="rate">
    {{ statistics | number : '1.4' }}
  </ng-container>

  <ng-template #loader>
    <div class="hub-ddv-statistics__loader-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</app-hub-statistics-card>
