<ng-container *transloco="let translate; read: 'circle.circle_post_dialog'">
  <div
    class="circle-post-dialog__close"
    [inlineSVG]="'assets/images/icons/plus.svg'"
    mat-dialog-close
  ></div>

  <div class="circle-post-dialog__header">
    <app-avatar [icon]="post.author.avatar"></app-avatar>

    <div class="circle-post-dialog__info-container">
      <span class="circle-post-dialog__author">{{ post.author.name }}</span>

      <app-circle-post-time [time]="post.time"></app-circle-post-time>
    </div>
  </div>

  <mat-dialog-content
    class="circle-post-dialog__content"
    [innerHTML]="post.content | appSanitize : 'html'"
  ></mat-dialog-content>

  <mat-divider class="circle-post-dialog__divider"></mat-divider>

  <div class="circle-post-dialog__footer">
    <div class="circle-post-dialog__pdv">
      <span [inlineSVG]="'assets/images/icons/signal.svg'"></span>
      <span class="circle-post-dialog__pdv-label">{{ translate('pdv') }}</span>
      <app-circle-post-pdv [pdv]="post.pdv"></app-circle-post-pdv>
    </div>

    <app-circle-post-rating
      [likes]="post.rating.likes"
      [dislikes]="post.rating.dislikes"
    ></app-circle-post-rating>
  </div>
</ng-container>
