<div
  class="edit-profile-page__card"
  *transloco="let translate; read: 'user.edit_profile_page'"
>
  <div
    class="edit-profile-page__title"
    appTypeface="subheader"
  >
    {{ translate('title') }}
  </div>

  <div class="edit-profile-page__divider"></div>

  <form
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <app-profile-form
      formControlName="profile"
      [translationsConfig]="{
        read: 'core.profile_form'
      }"
    ></app-profile-form>

    <div
      class="edit-profile-page__password-title"
      appTypeface="subheader"
    >
      {{ translate('password.title') }}
    </div>

    <app-password-form
      formControlName="password"
      [translationsConfig]="{
        read: 'core.profile_form'
      }"
    ></app-password-form>

    <div class="edit-profile-page__divider"></div>

    <div class="edit-profile-page__actions-container">
      <button
        class="edit-profile-page__action-button"
        app-button
        color="grey"
        type="submit"
        [appNavigateBack]="['/']"
      >
        {{ translate('back') }}
      </button>

      <button
        class="edit-profile-page__action-button"
        app-button
        type="submit"
      >
        {{ translate('submit') }}
      </button>
    </div>
  </form>
</div>
