<div
  class="edit-profile-page__card"
  *transloco="let translate; read: 'user.edit_profile_page'"
>
  <div
    class="edit-profile-page__title"
    appTypeface="subheader"
  >
    {{ translate('title') }}
  </div>

  <div class="edit-profile-page__divider"></div>

  <form
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    appSubmitSource
  >
    <app-profile-form
      formControlName="profile"
      [translationsConfig]="{
        read: 'core.profile_form'
      }"
    ></app-profile-form>

    <div
      class="edit-profile-page__password-title"
      appTypeface="subheader"
    >
      {{ translate('password.title') }}
    </div>

    <div class="edit-profile-page__password-form">
      <app-input-container
        class="password-form__old-password-container"
      >
        <app-input
          type="password"
          formControlName="oldPassword"
          [required]="!!passwordControl?.value"
        >
          <ng-container ngProjectAs="[label]">
            {{ translate('old_password.label') }}
          </ng-container>
        </app-input>

        <app-form-error controlName="oldPassword" i18nControlKey="password"></app-form-error>
      </app-input-container>

      <app-password-form
        formControlName="password"
        [translationsConfig]="{
          read: 'core.profile_form'
        }"
      ></app-password-form>
    </div>

    <div class="edit-profile-page__divider"></div>

    <div class="edit-profile-page__actions-container">
      <button
        class="edit-profile-page__action-button"
        app-button
        color="grey"
        [routerLink]="['../']"
      >
        {{ translate('back') }}
      </button>

      <button
        class="edit-profile-page__action-button"
        app-button
        type="submit"
      >
        {{ translate('submit') }}
      </button>
    </div>
  </form>
</div>
