<div class="row" *transloco="let translate; read: 'user.edit_profile_page'">
  <div class="col-xs-12">
    <div class="btn btn__back" [routerLink]="['../']">
      {{ translate('back') }}
    </div>
  </div>

  <div class="col-xs-7">
    <div class="page-title page-title__large">
      {{ translate('title') }}
    </div>
    <form
      #ngForm="ngForm"
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *transloco="let translate; read: 'user.edit_profile_page.form'"
    >
      <div class="row">
        <div class="radio-container col-xs-12">
          <div class="input-label">{{ translate('avatar.label') }}</div>
          <app-choose-avatar-radio formControlName="avatar"></app-choose-avatar-radio>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('first_name.label') }}</div>
          <mat-form-field
            class="input-control"
            appearance="outline"
          >
            <input
              matInput
              type="text"
              name="name"
              formControlName="firstName"
              placeholder=""
              trim="blur"
            >

            <mat-error>
              <app-form-error controlName="firstName" i18nControlKey="first_name"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('last_name.label') }}</div>
          <mat-form-field
                  class="input-control"
                  appearance="outline"
          >
            <input
              matInput
              type="text"
              name="name"
              formControlName="lastName"
              placeholder=""
              trim="blur"
            >

            <mat-error>
              <app-form-error controlName="lastName" i18nControlKey="last_name"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="radio-container col-xs-12">
          <div class="input-label">{{ translate('gender.label') }}</div>
          <mat-radio-group aria-label="Select an option"
                           formControlName="gender">
            <mat-radio-button [value]="gender.Male">{{ translate('gender.male') }}</mat-radio-button>
            <mat-radio-button [value]="gender.Female">{{ translate('gender.female') }}</mat-radio-button>
          </mat-radio-group>

          <mat-error *ngIf="ngForm.submitted">
            <app-form-error controlName="gender"></app-form-error>
          </mat-error>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('birthday.label') }}</div>
          <app-date-input formControlName="birthday"
                          appearance="outline"
                          className="input-control">
          </app-date-input>
        </div>

        <ng-container
          [ngTemplateOutlet]="emailControl"
          [ngTemplateOutletContext]="{
            $implicit: form.get('primaryEmail'),
            index: 1,
            label: translate('primary_email.label')
          }"
        ></ng-container>

        <ng-container
          *ngFor="let email of emailFormArray.controls; let index = index;"
          [ngTemplateOutlet]="emailControl"
          [ngTemplateOutletContext]="{
            $implicit: email,
            index: index + 2,
            label: translate('email.label')
          }"
        ></ng-container>

        <div formArrayName="usernames">
          <div *ngFor="let username of this.usernameFormArray.controls; let i = index; let first = first">
            <div class="input-container col-xs-12">
              <div class="input-label">{{ translate('username.label') }} {{ first ? '' : i + 1 }}</div>
              <mat-form-field class="input-control icon-protected"
                              appearance="outline">
                <input matInput
                       type="text"
                       name="name"
                       [formControlName]="i"
                       placeholder=""
                       trim="blur">

                <mat-error>
                  <app-form-error [controlName]="i" i18nControlKey="username"></app-form-error>
                </mat-error>
              </mat-form-field>

              <div *ngIf="first && usernameFormArray.length < maxUsernamesCount"
                   class="button__add"
                   (click)="addUsername()">
              </div>
              <div *ngIf="!first"
                   class="button__remove"
                   (click)="removeUsername(i)">
              </div>
            </div>
          </div>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="password"
                   formControlName="password"
                   placeholder="">

            <mat-error>
              <app-form-error controlName="password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('confirm_password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="confirmPassword"
                   formControlName="confirmPassword"
                   placeholder="">

            <mat-error >
              <app-form-error controlName="confirmPassword" i18nControlKey="confirm_password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xs-12">
          <button class="btn btn__small"
                  mat-flat-button
                  color="accent"
                  [disabled]="form.invalid">
            {{ translate('submit') }}
          </button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-xs-5 hint-message">
    <div class="hint-title">
      {{ translate('hint.label') }}:
    </div>
    <p [innerHTML]="translate('hint.text')"></p>
  </div>
</div>

<ng-template #emailControl let-control let-index="index" let-label="label">
  <div class="input-container col-xs-12">
    <div class="input-label">{{ label }} {{ index === 1 ? '' : index }}</div>
    <mat-form-field
      class="input-control icon-protected"
      appearance="outline"
    >
      <input
        matInput
        type="email"
        name="email"
        [formControl]="control"
        placeholder=""
        trim="blur"
      >

      <mat-error>
        <app-form-error [control]="control" i18nControlKey="email"></app-form-error>
      </mat-error>
    </mat-form-field>

    <div
      *ngIf="index === 1 && emailFormArray.length < maxAdditionalEmailsCount"
      class="button__add"
      (click)="addEmail()"
    >
    </div>
    <div
      *ngIf="index > 1"
      class="button__remove"
      (click)="removeEmail(index - 2)">
    </div>
  </div>
</ng-template>

