@import 'colors';
@import 'variables';

:root {
  --color-skeleton-background: #{hexToRGBString($color-skeleton-background)};
  --color-skeleton-background-animation: #{$color-skeleton-background-animation};
  --color-main-text: #{$color-black};
  --color-main-background: #{$color-white};
  --color-card-background: #{$color-background};
  --color-outlines: #{$color-outlines};
  --color-input-disabled-text: #{$color-light-grey};
  --color-input-background: #{$color-background};
  --color-input-invalid-color: #{$color-negative};
  --color-input-invalid-border: #{$color-negative};
  --color-input-text: #{$color-black};
  --color-input-label: #{$color-grey};
  --color-input-label-invalid: #{$color-negative};
  --color-input-placeholder: #{$color-grey};
  --color-input-icon: #{$color-black};
  --color-input-footer: #{$color-grey};

  // Toggle
  --color-toggle-bar: #{$color-grey};
  --color-toggle-thumb: #{$color-white};
  --color-toggle-bar-checked: #{$color-blue};
  --color-toggle-thumb-checked: #{$color-white};

  // Checkbox
  --color-checkbox-background: #{$color-background};
  --color-checkbox-invalid-border: #{$color-negative};
  --color-checkbox-active-color: #{$color-white};
  --color-checkbox-active-background: #{$color-blue};

  // Buttons
  --color-button-disabled-text: #{hexToRGBString($color-light-grey)};
  --color-button-disabled-background: #{hexToRGBString($color-background)};
  --color-button-negative-text: #{hexToRGBString($color-white)};
  --color-button-negative-background: #{hexToRGBString($color-negative)};
  --color-button-primary-text: #{hexToRGBString($color-white)};
  --color-button-primary-text-hover: #{hexToRGBString($color-white)};
  --color-button-primary-background: #{hexToRGBString($color-blue)};
  --color-button-primary-background-hover: #{hexToRGBString($color-blue-hover)};
  --color-button-grey-text: #{hexToRGBString($color-black)};
  --color-button-grey-text-hover: #{hexToRGBString($color-black)};
  --color-button-grey-background: #{hexToRGBString($color-background)};
  --color-button-grey-background-hover: #{hexToRGBString($color-outlines)};
  --color-button-white-text: #{hexToRGBString($color-black)};
  --color-button-white-text-hover: #{hexToRGBString($color-black)};
  --color-button-white-background: #{hexToRGBString($color-white)};
  --color-button-white-background-hover: #{hexToRGBString($color-outlines)};

  --color-button-back-text: #{hexToRGBString($color-grey)};
  --color-button-back-text-hover: #{hexToRGBString($color-black)};
  --color-button-back-background: #{hexToRGBString($color-background)};
  --color-button-back-background-hover: #{hexToRGBString($color-outlines)};

  --color-header-background: #{$color-white};

  --color-chart-tooltip: #{$color-black};
  --color-chart-tooltip-background: #{$color-white};

  // dHub
  @include postCategoryColor($color-post-categories);

  --color-dhub-header-meta-background: #{$color-background};
  --color-dhub-header-meta-background-hover: #{$color-outlines};
  --color-dhub-header-meta-divider: #{$color-white};
  --color-dhub-header-meta-details-button: #{$color-grey};
  --color-dhub-header-meta-details-button-hover: #{$color-dark-grey};
  --color-dhub-header-navigation-link: #{$color-grey};
  --color-dhub-header-navigation-link-hover: #{$color-dark-grey};
  --color-dhub-header-navigation-link-active: #{$color-black};
  --color-dhub-post-editor-error: #{$color-white};
  --color-dhub-post-editor-error-background: #{$color-red};

  --color-dhub-post-editor-category-selector: #{$color-dark-grey};
  --color-dhub-post-editor-title: #{$color-black};
  --color-dhub-post-editor-title-category-selector-filled: #{$color-white};
  --color-dhub-post-editor-preview-image-uploader-empty: #{$color-grey};
  --color-dhub-post-editor-preview-image-uploader-empty-hover: #{$color-dark-grey};
  --color-dhub-post-editor-preview-image-uploader-filled: #{$color-white};
  --color-dhub-post-editor-text-placeholder: #{$color-grey};
  --color-dhub-post-editor-text-image-uploader: #{$color-light-grey};
  --color-dhub-post-editor-text-image-uploader-icon: #{$color-grey};
  --color-dhub-post-editor-text-image-uploader-icon-hover: #{$color-dark-grey};
  --color-dhub-post-editor-text-image-uploader-icon-limit: #{$color-outlines};
  --color-dhub-post-editor-text-image-uploader-icon-container-background: #{$color-background};
  --color-dhub-post-editor-text-image-uploader-icon-container-background-hover: #{$color-outlines};

  --color-dhub-post-delete-confirmation: #{$color-white};
  --color-dhub-post-delete-confirmation-background: #{$color-dark-grey};
  --color-dhub-post-card-background: #{$color-white};
  --color-dhub-post-card-meta-separator: #{$color-grey};
  --color-dhub-post-card-time: #{$color-grey};
  --color-dhub-post-card-content: #{$color-grey};
  --color-dhub-post-card-footer-link: #{$color-grey};
  --color-dhub-post-card-footer-link-hover: #{$color-dark-grey};
  --color-dhub-no-posts: #{$color-grey};
  --color-dhub-infinity-posts-loading: #{$color-light-grey};
  --color-dhub-post-rating: #{$color-grey};
  --color-dhub-post-rating-hover: #{$color-dark-grey};
  --color-dhub-post-rating-background: #{$color-background};
  --color-dhub-post-rating-liked: #{$color-blue};
  --color-dhub-post-overlay: #{$color-black};
  --color-dhub-profile-card-bio: #{$color-grey};
  --color-dhub-profile-card-button-active: #{$color-white};
  --color-dhub-profile-card-button-active-background: #{$color-positive};
  --color-dhub-statistics: #{$color-white};

  // dPortal PDV rate
  --color-dportal-pdv-rate-chart-filter: #{$color-grey};
  --color-dportal-pdv-rate-chart-filter-background: #{$color-background};
  --color-dportal-pdv-rate-chart-filter-active: #{$color-black};
  --color-dportal-pdv-rate-chart-filter-active-background: #{$color-white};
  --color-dportal-pdv-rate-chart-filter-active-shadow: #{hexToRGBString($color-grey)};
  --color-dportal-pdv-rate-chart-axis-labels: #{$color-light-grey};
  --color-dportal-pdv-rate-chart-axis-line: #{$color-outlines};
  --color-dportal-pdv-rate-chart-no-data: #{$color-grey};
  --color-dportal-pdv-rate-pdv-reward-real-money: #{$color-grey};
  --color-dportal-pdv-rate-pdv-reward-no-data: #{$color-grey};

  // dPortal Activity
  --color-dportal-activity-page-pdv-description-key: #{$color-grey};
  --color-dportal-activity-page-no-activity: #{$color-grey};

  // dPortal Assets
  --color-dportal-assets-page-table-header-background: #{$color-background};
  --color-dportal-assets-page-table-new-transaction-background: #{rgba($color-green, 0.08)};
  --color-dportal-assets-page-token-transactions-action: #{$color-grey};
  --color-dportal-assets-page-token-transactions-action-background: #{$color-background};
  --color-dportal-assets-page-token-complex-transaction-icon: #{$color-grey};
  --color-dportal-assets-page-token-complex-transaction-fee: #{$color-grey};
  --color-dportal-assets-page-token-complex-transaction-memo: #{$color-grey};
  --color-dportal-assets-page-token-transaction-address: #{$color-grey};
  --color-dportal-assets-page-token-transaction-fee: #{$color-grey};
  --color-dportal-assets-page-token-transaction-memo: #{$color-grey};
  --color-dportal-transfer-page-balance: #{rgba($color-blue, 0.08)};
  --color-dportal-transfer-page-form-arrow: #{$color-light-grey};
  --color-dportal-transfer-page-disabled: #{$color-light-grey};
  --color-dportal-transfer-page-disabled-balance: #{rgba($color-background, 1)};
  --color-dportal-transfer-page-disabled-back-button: #{$color-light-grey};

  // dPortal Staking
  --color-dportal-staking-header-withdraw: #{$color-black};
  --color-dportal-staking-header-withdraw-button: #{$color-blue};
  --color-dportal-staking-header-withdraw-divider: #{$color-white};
  --color-dportal-staking-validators-table-validator-my: #{hexToRGBString($color-blue)};
  --color-dportal-staking-validators-table-voting-power: #{$color-grey};
  --color-dportal-staking-validators-table-unbonding-delegation: #{hexToRGBString($color-purple)};
  --color-dportal-staking-validators-table-reward: #{hexToRGBString($color-blue)};
  --color-dportal-staking-validators-table-empty: #{$color-light-grey};
  --color-dportal-staking-withdraw-delegator-footer-withdraw-text: #{$color-grey};
  --color-dportal-staking-withdraw-delegator-table-empty: #{$color-light-grey};
  --color-dportal-staking-withdraw-delegator-table-empty-row: #{$color-grey};
  --color-dportal-staking-withdraw-delegator-table-name-check: #{$color-white};
  --color-dportal-staking-withdraw-delegator-table-name-check-background: #{$color-blue};
  --color-dportal-staking-withdraw-validator-footer-withdraw-text: #{$color-grey};
  --color-dportal-staking-validator-details-details-table-voting-pover: #{$color-grey};
  --color-dportal-staking-validator-details-details-footer-delegated-value-empty: #{$color-light-grey};
  --color-dportal-staking-validator-details-details-footer-unbonding-label: #{$color-light-grey};
  --color-dportal-staking-delegate-direction-icon: #{$color-light-grey};
  --color-dportal-staking-delegate-warning: #{hexToRGBString($color-red)};
  --color-dportal-staking-undelegate-hint: #{hexToRGBString($color-blue)};
  --color-dportal-staking-jailed: #{hexToRGBString($color-red)};

  // Shared
  --color-data-table-header: #{$color-grey};
  --color-data-table-row-background-hover: #{$color-background};
  --color-data-table-link: #{$color-blue};
  --color-data-table-link-hover: #{$color-blue-hover};
  --color-data-table-row-selected: #{hexToRGBString($color-blue-hover)};
  --color-expansion-list-cell-hover: #{$color-background};
  --color-expansion-list-cell-active: #{$color-blue};
  --color-expansion-list-cell-active-background: #{hexToRGBString($color-blue)};
  --color-expansion-list-header-count: #{$color-black};
  --color-expansion-list-header-count-background: #{$color-background};
  --color-validator-status-bonded: #{hexToRGBString($color-green)};
  --color-validator-status-unbonded: #{hexToRGBString($color-light-grey)};
  --color-validator-status-unbonding: #{hexToRGBString($color-grey)};
  --color-validator-status-filled-label: #{$color-black};
  --color-datails-table-cell-title: #{$color-grey};
  --color-select-input: #{$color-black};
  --color-select-input-invalid: #{$color-red};
  --color-select-input-disabled: #{$color-light-grey};
  --color-select-input-label: #{$color-grey};
  --color-select-input-placeholder: #{$color-grey};
  --color-select-input-icon-close: #{$color-grey};
  --color-select-input-icon-dropdown: #{$color-grey};
  --color-select-input-option-meta: #{$color-grey};
  --color-select-input-footer: #{$color-grey};

  .theme-dark {
    color-scheme: dark;

    --color-skeleton-background: #{hexToRGBString($color-background-night)};
    --color-skeleton-background-animation: #{$color-skeleton-background-animation-night};
    --color-main-text: #{$color-white};
    --color-main-background: #{$color-black};
    --color-card-background: #{$color-card-background-night};
    --color-outlines: #{$color-outlines-night};
    --color-input-disabled-text: #{$color-light-grey};
    --color-input-background: #{$color-input-background-night};
    --color-input-invalid-color: #{$color-negative};
    --color-input-invalid-border: #{$color-negative};
    --color-input-text: #{$color-white};
    --color-input-label: #{$color-grey};
    --color-input-label-invalid: #{$color-negative};
    --color-input-placeholder: #{$color-grey};
    --color-input-icon: #{$color-light-grey};
    --color-input-footer: #{$color-grey};

    // Toggle
    --color-toggle-bar: #{$color-dark-grey};
    --color-toggle-thumb: #{$color-black};
    --color-toggle-bar-checked: #{$color-blue-night};
    --color-toggle-thumb-checked: #{$color-black};

    // Checkbox
    --color-checkbox-background: #{$color-grey};
    --color-checkbox-invalid-border: #{$color-negative};
    --color-checkbox-active-color: #{$color-white};
    --color-checkbox-active-background: #{$color-blue-night};

    // Buttons
    --color-button-disabled-text: #{hexToRGBString($color-light-grey)};
    --color-button-disabled-background: #{hexToRGBString($color-dark-grey)};
    --color-button-negative-text: #{hexToRGBString($color-white)};
    --color-button-negative-background: #{hexToRGBString($color-negative)};
    --color-button-primary-text: #{hexToRGBString($color-white)};
    --color-button-primary-text-hover: #{hexToRGBString($color-white)};
    --color-button-primary-background: #{hexToRGBString($color-blue-night)};
    --color-button-primary-background-hover: #{hexToRGBString($color-blue-hover)};
    --color-button-grey-text: #{hexToRGBString($color-white)};
    --color-button-grey-text-hover: #{hexToRGBString($color-white)};
    --color-button-grey-background: #{hexToRGBString($color-background-night)};
    --color-button-grey-background-hover: #{hexToRGBString($color-background-night)};
    --color-button-white-text: #{hexToRGBString($color-white)};
    --color-button-white-text-hover: #{hexToRGBString($color-white)};
    --color-button-white-background: #{hexToRGBString($color-dark-grey)};
    --color-button-white-background-hover: #{hexToRGBString($color-dark-grey)};

    --color-button-back-text: #{hexToRGBString($color-grey)};
    --color-button-back-text-hover: #{hexToRGBString($color-white)};
    --color-button-back-background: #{hexToRGBString($color-dark-grey)};
    --color-button-back-background-hover: #{hexToRGBString($color-dark-grey)};

    --color-header-background: #{$color-black};

    --color-chart-tooltip: #{$color-white};
    --color-chart-tooltip-background: #{$color-black};

    // dHub
    @include postCategoryColor($color-post-categories-night);

    --color-dhub-header-meta-background: #{$color-background-night};
    --color-dhub-header-meta-background-hover: #{$color-dark-grey};
    --color-dhub-header-meta-divider: #{$color-outlines-night};
    --color-dhub-header-meta-details-button: #{$color-grey};
    --color-dhub-header-meta-details-button-hover: #{$color-grey};
    --color-dhub-header-navigation-link: #{$color-grey};
    --color-dhub-header-navigation-link-hover: #{$color-white};
    --color-dhub-header-navigation-link-active: #{$color-white};
    --color-dhub-post-editor-error: #{$color-white};
    --color-dhub-post-editor-error-background: #{$color-red};

    --color-dhub-post-editor-category-selector: #{$color-grey};
    --color-dhub-post-editor-title: #{$color-white};
    --color-dhub-post-editor-title-category-selector-filled: #{$color-white};
    --color-dhub-post-editor-preview-image-uploader-empty: #{$color-grey};
    --color-dhub-post-editor-preview-image-uploader-empty-hover: #{$color-white};
    --color-dhub-post-editor-preview-image-uploader-filled: #{$color-white};
    --color-dhub-post-editor-text-placeholder: #{$color-grey};
    --color-dhub-post-editor-text-image-uploader: #{$color-grey};
    --color-dhub-post-editor-text-image-uploader-icon: #{$color-grey};
    --color-dhub-post-editor-text-image-uploader-icon-hover: #{$color-white};
    --color-dhub-post-editor-text-image-uploader-icon-limit: #{$color-grey};
    --color-dhub-post-editor-text-image-uploader-icon-container-background: #{$color-dark-grey};
    --color-dhub-post-editor-text-image-uploader-icon-container-background-hover: #{$color-dark-grey};

    --color-dhub-post-delete-confirmation: #{$color-white};
    --color-dhub-post-delete-confirmation-background: #{$color-dark-grey};
    --color-dhub-post-card-background: #{$color-black};
    --color-dhub-post-card-meta-separator: #{$color-grey};
    --color-dhub-post-card-time: #{$color-grey};
    --color-dhub-post-card-footer-link: #{$color-grey};
    --color-dhub-post-card-footer-link-hover: #{$color-white};
    --color-dhub-no-posts: #{$color-grey};
    --color-dhub-infinity-posts-loading: #{$color-light-grey};
    --color-dhub-post-rating: #{$color-grey};
    --color-dhub-post-rating-hover: #{$color-white};
    --color-dhub-post-rating-background: #{$color-dark-grey};
    --color-dhub-post-rating-liked: #{$color-blue-night};
    --color-dhub-post-overlay: #{$color-black};
    --color-dhub-profile-card-bio: #{$color-grey};
    --color-dhub-profile-card-button-active: #{$color-white};
    --color-dhub-profile-card-button-active-background: #{$color-positive};
    --color-dhub-statistics: #{$color-white};

    // dPortal PDV rate
    --color-dportal-pdv-rate-chart-filter: #{$color-grey};
    --color-dportal-pdv-rate-chart-filter-background: #{$color-dark-grey};
    --color-dportal-pdv-rate-chart-filter-active: #{$color-white};
    --color-dportal-pdv-rate-chart-filter-active-background: #{$color-dark-grey};
    --color-dportal-pdv-rate-chart-filter-active-shadow: #{hexToRGBString($color-black)};
    --color-dportal-pdv-rate-chart-axis-labels: #{$color-light-grey};
    --color-dportal-pdv-rate-chart-axis-line: #{$color-outlines-night};
    --color-dportal-pdv-rate-chart-no-data: #{$color-grey};
    --color-dportal-pdv-rate-pdv-reward-real-money: #{$color-grey};
    --color-dportal-pdv-rate-pdv-reward-no-data: #{$color-grey};

    // dPortal Activity
    --color-dportal-activity-page-pdv-description-key: #{$color-grey};
    --color-dportal-activity-page-no-activity: #{$color-grey};

    // dPortal Assets
    --color-dportal-assets-page-table-header-background: #{$color-dark-grey};
    --color-dportal-assets-page-table-new-transaction-background: #{rgba($color-green, 0.12)};
    --color-dportal-assets-page-token-transactions-action: #{$color-grey};
    --color-dportal-assets-page-token-transactions-action-background: #{$color-dark-grey};
    --color-dportal-assets-page-token-complex-transaction-icon: #{$color-grey};
    --color-dportal-assets-page-token-complex-transaction-fee: #{$color-grey};
    --color-dportal-assets-page-token-complex-transaction-memo: #{$color-grey};
    --color-dportal-assets-page-token-transaction-address: #{$color-grey};
    --color-dportal-assets-page-token-transaction-fee: #{$color-grey};
    --color-dportal-assets-page-token-transaction-memo: #{$color-grey};
    --color-dportal-transfer-page-balance: #{rgba($color-blue-night, 0.12)};
    --color-dportal-transfer-page-form-arrow: #{$color-grey};
    --color-dportal-transfer-page-disabled: #{$color-grey};
    --color-dportal-transfer-page-disabled-balance: #{rgba($color-grey, 0.12)};
    --color-dportal-transfer-page-disabled-back-button: #{$color-grey};

    // dPortal Staking
    --color-dportal-staking-header-withdraw: #{$color-white};
    --color-dportal-staking-header-withdraw-button: #{$color-blue-night};
    --color-dportal-staking-header-withdraw-divider: #{$color-black};
    --color-dportal-staking-validators-table-validator-my: #{hexToRGBString($color-blue-night)};
    --color-dportal-staking-validators-table-voting-power: #{$color-grey};
    --color-dportal-staking-validators-table-unbonding-delegation: #{hexToRGBString($color-purple)};
    --color-dportal-staking-validators-table-reward: #{hexToRGBString($color-blue-night)};
    --color-dportal-staking-validators-table-empty: #{$color-light-grey};
    --color-dportal-staking-withdraw-delegator-footer-withdraw-text: #{$color-grey};
    --color-dportal-staking-withdraw-delegator-table-empty: #{$color-light-grey};
    --color-dportal-staking-withdraw-delegator-table-empty-row: #{$color-grey};
    --color-dportal-staking-withdraw-delegator-table-name-check: #{$color-white};
    --color-dportal-staking-withdraw-delegator-table-name-check-background: #{$color-blue-night};
    --color-dportal-staking-withdraw-validator-footer-withdraw-text: #{$color-grey};
    --color-dportal-staking-validator-details-details-table-voting-pover: #{$color-grey};
    --color-dportal-staking-validator-details-details-footer-delegated-value-empty: #{$color-light-grey};
    --color-dportal-staking-validator-details-details-footer-unbonding-label: #{$color-light-grey};
    --color-dportal-staking-delegate-direction-icon: #{$color-light-grey};
    --color-dportal-staking-delegate-warning: #{hexToRGBString($color-red)};
    --color-dportal-staking-undelegate-hint: #{hexToRGBString($color-blue-night)};
    --color-dportal-staking-jailed: #{hexToRGBString($color-red)};

    // Shared
    --color-data-table-header: #{$color-grey};
    --color-data-table-row-background-hover: #{$color-dark-grey};
    --color-data-table-link: #{$color-blue-night};
    --color-data-table-link-hover: #{$color-blue-hover};
    --color-data-table-row-selected: #{hexToRGBString($color-blue-hover)};
    --color-expansion-list-cell-hover: #{$color-dark-grey};
    --color-expansion-list-cell-active: #{$color-blue-night};
    --color-expansion-list-cell-active-background: #{hexToRGBString($color-blue-night)};
    --color-expansion-list-header-count: #{$color-grey};
    --color-expansion-list-header-count-background: #{$color-dark-grey};
    --color-validator-status-bonded: #{hexToRGBString($color-green-night)};
    --color-validator-status-unbonded: #{hexToRGBString($color-light-grey)};
    --color-validator-status-unbonding: #{hexToRGBString($color-grey)};
    --color-validator-status-filled-label: #{$color-white};
    --color-datails-table-cell-title: #{$color-grey};
    --color-select-input: #{$color-white};
    --color-select-input-invalid: #{$color-red};
    --color-select-input-disabled: #{$color-light-grey};
    --color-select-input-label: #{$color-grey};
    --color-select-input-placeholder: #{$color-grey};
    --color-select-input-icon-close: #{$color-white};
    --color-select-input-icon-dropdown: #{$color-grey};
    --color-select-input-option-meta: #{$color-grey};
    --color-select-input-footer: #{$color-grey};
  }
}
