$color-blue: #4F80FF;
$color-blue-hover: #2B5DE0;
$color-green: #03B15E;
$color-red: #FA5454;
$color-light-red: #FEEBEB;

$color-black: #1C1D26;
$color-dark-grey: #494A52;
$color-grey: #929297;
$color-outlines: #EDEDEE;
$color-light-grey: #B6B7BA;
$color-outlines: #EDEDEE;
$color-background: #F6F6F7;
$color-white: #FFFFFF;

$color-orange: #FF8C04;
$color-yellow: #F8D72A;
$color-light-blue: #73D1F9;
$color-violet: #9F65FD;
$color-pink: #E87CC9;
$color-mint: #3EDCD3;
$color-purple: #A954A0;
