@use 'sass:math';
@import 'colors';

@function hexToRGBString($hexColor) {
  @return '#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}';
}

$main-font-size: 16px;
$main-font-family: #{'Inter, Arial, sans-serif'};

$border-radius: 12px;

$grid-step: 8px;
$grid-half-step: math.div($grid-step, 2);

$page-width: 1200px;
$page-side-padding: $grid-step * 3;

$color-font-base: $color-black;
$color-primary: $color-blue;
$color-negative: $color-red;
$color-neutral: $color-grey;
$color-positive: $color-green;
