@use 'sass:math';
@import 'colors';

@function hexToRGBString($hexColor) {
  @return '#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}';
}

$main-font-size: 16px;
$main-font-family: #{'Inter, Arial, sans-serif'};

$border-radius: 12px;

$grid-step: 8px;
$grid-half-step: math.div($grid-step, 2);

$page-width: 1200px;
$page-side-padding: $grid-step * 3;

$color-font-base: $color-black;
$color-primary: $color-blue;
$color-primary-hover: $color-blue-hover;
$color-negative: $color-red;
$color-neutral: $color-grey;
$color-positive: $color-green;

$color-accent: #66c9c7;
$color-font-grey: #626262;

$grey-border-color: #dcdcdc;

$color-link-accent: #66C9C7;

:root {
  --color-main-text: #{$color-black};
  --color-main-background: #{$color-white};
  --color-card-background: #{$color-background};
  --color-outlines: #{$color-outlines};
  --color-input-disabled-text: #{$color-light-grey};
  --color-input-background: #{$color-background};
  --color-input-invalid-color: #{$color-negative};
  --color-input-invalid-border: #{$color-negative};
  --color-input-text: #{$color-black};
  --color-input-label: #{$color-grey};
  --color-input-label-invalid: #{$color-negative};
  --color-input-placeholder: #{$color-grey};
  --color-input-icon: #{$color-black};
  --color-input-footer: #{$color-grey};

  // Checkbox
  --color-checkbox-background: #{$color-background};
  --color-checkbox-invalid-border: #{$color-negative};
  --color-checkbox-active-color: #{$color-white};
  --color-checkbox-active-background: #{$color-blue};

  // Buttons
  --color-button-disabled-text: #{hexToRGBString($color-light-grey)};
  --color-button-disabled-background: #{hexToRGBString($color-background)};
  --color-button-negative-text: #{hexToRGBString($color-white)};
  --color-button-negative-background: #{hexToRGBString($color-negative)};
  --color-button-primary-text: #{hexToRGBString($color-white)};
  --color-button-primary-background: #{hexToRGBString($color-blue)};
  --color-button-primary-background-hover: #{hexToRGBString($color-blue-hover)};
  --color-button-grey-text: #{hexToRGBString($color-black)};
  --color-button-grey-background: #{hexToRGBString($color-background)};
  --color-button-grey-background-hover: #{hexToRGBString($color-outlines)};
  --color-button-white-text: #{hexToRGBString($color-black)};
  --color-button-white-background: #{hexToRGBString($color-white)};
  --color-button-white-background-hover: #{hexToRGBString($color-outlines)};

  .theme-dark {
    --color-main-text: #{$color-white};
    --color-main-background: #{$color-main-background-night};
    --color-card-background: #{$color-card-background-night};
    --color-outlines: #{$color-outlines-night};
    --color-input-disabled-text: #{$color-light-grey};
    --color-input-background: #{$color-input-background-night};
    --color-input-invalid-color: #{$color-negative};
    --color-input-invalid-border: #{$color-negative};
    --color-input-text: #{$color-white};
    --color-input-label: #{$color-grey};
    --color-input-label-invalid: #{$color-negative};
    --color-input-placeholder: #{$color-grey};
    --color-input-icon: #{$color-light-grey};
    --color-input-footer: #{$color-grey};

    // Checkbox
    --color-checkbox-background: #{$color-grey};
    --color-checkbox-invalid-border: #{$color-negative};
    --color-checkbox-active-color: #{$color-white};
    --color-checkbox-active-background: #{$color-blue};

    // Buttons
    --color-button-disabled-text: #{hexToRGBString($color-light-grey)};
    --color-button-disabled-background: #{hexToRGBString($color-dark-grey)};
    --color-button-negative-text: #{hexToRGBString($color-white)};
    --color-button-negative-background: #{hexToRGBString($color-negative)};
    --color-button-primary-text: #{hexToRGBString($color-white)};
    --color-button-primary-background: #{hexToRGBString($color-blue)};
    --color-button-primary-background-hover: #{hexToRGBString($color-blue-hover)};
    --color-button-grey-text: #{hexToRGBString($color-white)};
    --color-button-grey-background: #{hexToRGBString($color-dark-grey)};
    --color-button-grey-background-hover: #{hexToRGBString($color-dark-grey)};
    --color-button-white-text: #{hexToRGBString($color-white)};
    --color-button-white-background: #{hexToRGBString($color-dark-grey)};
    --color-button-white-background-hover: #{hexToRGBString($color-dark-grey)};
  }
}
