@import 'variables';

:host {
  align-items: center;
  display: flex;
}

.hub-navigation-link {
  align-items: center;
  color: $color-grey;
  font-weight: 500;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $color-dark-grey;
  }

  &.is-active {
    color: $color-font-base;
    font-weight: 700;

    .hub-navigation-link__dot {
      display: none;
    }

    .hub-navigation-link__border {
      display: block;
    }
  }
}

@for $i from 1 through length($color-post-categories) {
  .hub-navigation-link[data-id='#{$i}'] {
    .hub-navigation-link__dot {
      background: nth($color-post-categories, $i);
    }

    .hub-navigation-link__border {
      background: nth($color-post-categories, $i);
    }
  }
}

.hub-navigation-link__dot {
  border-radius: 50%;
  height: 4px;
  left: -8px;
  position: absolute;
  width: 4px;
}

.hub-navigation-link__title {
  &:after {
    display: block;
    content: attr(data-title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.hub-navigation-link__border {
  background: $color-primary;
  bottom: 0;
  display: none;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}
