@import '../../styles/variables';

:host {
  display: block;
}

.confirmation-dialog__title {
  font-weight: 500;
  margin: 0;
}

.confirmation-dialog__content {
  margin: $grid-step 0 0;
  padding: 0;
}

.confirmation-dialog__actions {
  column-gap: $grid-step * 1.5;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.confirmation-dialog__button {
  height: 48px;
}
