@import 'variables';

:host {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  white-space: nowrap;

  &:hover {
    .hub-navigation-link__title {
      color: $color-dark-grey;
    }
  }

  &.is-active {
    .hub-navigation-link__title {
      color: $color-font-base;
      font-weight: 700;
    }

    .hub-navigation-link__dot {
      display: none;
    }

    .hub-navigation-link__border {
      display: block;
    }
  }
}


.hub-navigation-link__dot {
  background: currentColor;
  border-radius: 50%;
  height: 4px;
  left: -$grid-step;
  position: absolute;
  width: 4px;
}

.hub-navigation-link__title {
  color: $color-grey;
  font-weight: 500;

  &:after {
    display: block;
    content: attr(data-title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.hub-navigation-link__border {
  background: currentColor;
  bottom: 0;
  display: none;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}
