@import 'variables';

:host {
  display: flex;
  height: 48px;
}

.authorized-layout-navigation__container {
  align-items: center;
  display: flex;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.authorized-layout-navigation__link {
  & + & {
    margin-left: $grid-step * 3;
  }
}
