$hub-post-preview-card--background-color: #FFFFFF;
$hub-post-preview-card--padding-vertical: 16px;
$hub-post-preview-card--padding-horizontal: 24px;

@import 'mixins';

:host {
  background-color: $hub-post-preview-card--background-color;
  row-gap: 8px;
  display: grid;
  max-height: 293px;
  padding: 16px 24px;
  grid-template-rows: min-content 1fr 18px;

  &.mod-has-preview-image {
    grid-template-rows: 7fr min-content 4fr 18px;
  }
}

.hub-post-preview-card__image-container {
  overflow: hidden;
  margin: (-$hub-post-preview-card--padding-vertical) (-$hub-post-preview-card--padding-horizontal) 0;
}

.hub-post-preview-card__image {
  width: 100%;
}

.hub-post-preview-card__content {
  @include pre-clamp();

  font-size: 14px;
  line-height: 22px;
}
