$hub-post-preview-card--background-color: #FFFFFF;

:host {
  background-color: $hub-post-preview-card--background-color;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  padding: 16px 24px;
}

.hub-post-preview-card__image-container {
  overflow: hidden;
}

.hub-post-preview-card__title,
.hub-post-preview-card__content {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.hub-post-preview-card__title {
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 8px;
  -webkit-line-clamp: 2;
}

.hub-post-preview-card__content {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
  flex-grow: 1;

  &:not(:empty) {
    min-height: 22px;
  }
}

.hub-post-preview-card__time {
  margin-top: 8px;
}
