$hub-post-preview-card--background-color: #FFFFFF;
$hub-post-preview-card--time-color: #9EA0A5;

:host {
  background-color: $hub-post-preview-card--background-color;
  display: block;
  padding: 16px 24px;
}

.hub-post-preview-card__title,
.hub-post-preview-card__content {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.hub-post-preview-card__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 8px;
  -webkit-line-clamp: 2;
}

.hub-post-preview-card__content {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
}

.hub-post-preview-card__time {
  color: $hub-post-preview-card--time-color;
  font-size: 12px;
  margin-top: 10px;
}
