<div class="hub-header__bar" *transloco="let translate; read: 'hub.hub_page.header'">
  <a
    class="hub-header__bar-logo"
    [routerLink]="['./']"
  >
    <svg-icon class="hub-header__bar-logo-icon" key="logo"></svg-icon>
  </a>

  <div class="hub-header__bar-meta-container">
    <ng-content select="meta"></ng-content>
    <ng-container *appSlotContainer="metaSlotName"></ng-container>
  </div>

  <div class="hub-header__bar-actions-container">
    <a
      class="hub-header__bar-button"
      appHubCreatePostDialog
    >
      <svg-icon class="hub-header__bar-button-icon" key="edit"></svg-icon>
      {{ translate('new_post') }}
    </a>

    <app-menu></app-menu>
  </div>
</div>

<ng-container *appSlotContainer="contentSlotName"></ng-container>
