@import 'variables';

:host {
  display: block;
}

.hub-header__bar-container {
  background-color: $color-white;
}

.hub-header__bar {
  align-items: center;
  display: flex;
  height: 76px;
  margin: auto;
  padding: $grid-step * 1.5 $page-side-padding;
  width: $page-width + $page-side-padding * 2;
}

.hub-header__bar-actions-container {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hub-header__bar-actions-menu {
  margin-left: $grid-step * 3;
}

.hub-header__bar-logo {
  display: inline-flex;
}

.hub-header__bar-logo-icon {
  display: inline-flex;
  height: 40px;
  width: 115px;
}

.hub-header__bar-meta-container {
  border-radius: $border-radius;
  display: flex;
  flex-grow: 1;
  margin: 0 40px;
}
