<div
  #headerBarContainer
  class="hub-header__bar-container"
>
  <div class="hub-header__bar">
    <a
      class="hub-header__bar-logo"
      [routerLink]="['./']"
    >
      <svg-icon class="hub-header__bar-logo-icon" key="logo"></svg-icon>
    </a>

    <div class="hub-header__bar-meta-container">
      <ng-content select="meta"></ng-content>
      <ng-container *appSlotContainer="metaSlotName; rootElement: headerBarContainer"></ng-container>
    </div>

    <div class="hub-header__bar-actions-container">
      <ng-template [appSlotContainer]="actionsSlotName"></ng-template>

      <app-menu class="hub-header__bar-actions-menu"></app-menu>
    </div>
  </div>
</div>

<ng-container *appSlotContainer="contentSlotName"></ng-container>
