@import 'variables';

$hub-header--bar--background-color: #FFFFFF;
$hub-header--bar-button--background-color: #4F80FF;
$hub-header--bar-button--background-color-hover: #3063E6;
$hub-header--bar-button--color: #FFFFFF;

:host {
  display: block;
}

.hub-header__bar {
  align-items: center;
  background-color: $hub-header--bar--background-color;
  display: flex;
  height: 76px;
  padding: 10px 30px;
}

.hub-header__bar-actions-container {
  align-items: center;
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.hub-header__bar-button {
  align-items: center;
  background: $hub-header--bar-button--background-color;
  border-radius: $border-radius;
  color: $hub-header--bar-button--color;
  column-gap: 8px;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  padding: 12px 24px 12px 16px;
  transition: background .3s ease;

  &:hover {
    background: $hub-header--bar-button--background-color-hover;
  }
}

.hub-header__bar-button-icon {
  display: inline-flex;
  font-size: 1.5em;
}

.hub-header__bar-logo {
  display: inline-flex;
}

.hub-header__bar-logo-icon {
  display: inline-flex;
  height: 40px;
  width: 115px;
}

.hub-header__bar-meta-container {
  border-radius: 8px;
  display: flex;
  flex-grow: 1;
  margin: 0 40px;
}
