$hub-header--bar--background-color: #FFFFFF;
$hub-header--bar-meta-container--background-color: #F8FAFD;
$hub-header--bar-icon-button--hover-background-color: #F8FAFD;

:host {
  display: block;
}

.hub-header__bar {
  align-items: center;
  background-color: $hub-header--bar--background-color;
  display: flex;
  height: 82px;
  padding: 10px 30px;
}

.hub-header__bar-avatar {
  cursor: pointer;
  margin-right: 24px;
}

.hub-header__bar-actions-container {
  align-items: center;
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, min-content);
}

.hub-header__bar-icon-button {
  background: transparent;
  border-radius: 100%;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  padding: 8px;

  &:hover {
    background-color: $hub-header--bar-icon-button--hover-background-color;
  }
}

.hub-header__bar-icon {
  height: 24px;
  width: 24px;
}

.hub-header__bar-meta-container {
  background-color: $hub-header--bar-meta-container--background-color;
  border-radius: 8px;
  flex-grow: 1;
  margin: 0 30px;
  height: 100%;
  padding: 0 28px;
}
