<mat-toolbar
  [class.mat-toolbar__grey-bg]="background === 'grey'"
  [class.mat-toolbar__white-bg]="background === 'white'"
  [ngClass]="mediaService.isSmall() ? 'mat-toolbar__small' : 'mat-toolbar__large'"
>
  <div class="container header">
    <div
      class="header-wrapper"
      [class.header-wrapper__extended]="mediaService.isLarge()"
    >
      <div class="header__logo">
        <img *ngIf="mediaService.isSmall()" src="assets/images/logo-icon.svg" alt="Decentr">
        <img *ngIf="mediaService.isLarge()" src="assets/images/logo.svg" alt="Decentr">
      </div>

      <app-network-selector *ngIf="selectNetwork"></app-network-selector>

      <app-menu class="profile-selector" *ngIf="userProfile"></app-menu>
    </div>
  </div>
</mat-toolbar>
