<ng-container *transloco="let translate">
  <app-hub-post-layout
    *ngIf="post"
    [headerBackgroundImage]="'url(' + post.previewImage + ')'"
  >
    <div class="post-page__header" ngProjectAs="[category]">
      <a class="post-page__navigation-back-button" [appNavigateBack]="['../../../']">
        <svg-icon class="post-page__navigation-back-button-icon" key="arrow-left"></svg-icon>
      </a>

      <div class="post-page__category" appTypeface="paragraph" [routerLink]="['../../../']">
        <span class="post-page__category-dot" [appHubPostCategoryColor]="post.category"></span>
        <span class="post-page__category-label">{{ translate('hub.hub_post_category.' + post.category) }}</span>
      </div>
    </div>

    <ng-container ngProjectAs="[title]">{{ post.title }}</ng-container>

    <div [innerHTML]="post.text" ngProjectAs="[content]"></div>

    <div class="post-page__sidebar" ngProjectAs="[sidebar]">
      <app-hub-profile-card [profile]="authorProfile"></app-hub-profile-card>

      <app-hub-post-rating
        class="post-page__rating"
        [postId]="post.uuid"
        [filled]="true"
        [customHubLikesService]="postPageLikeService"
        appTypeface="paragraph"
      ></app-hub-post-rating>
    </div>

    <ng-container ngProjectAs="[footer]">
      <span class="post-page__footer-title" appTypeface="subheader">
        {{ translate('hub.hub_post_page.interesting_posts') }}
      </span>

      <app-hub-related-posts
        class="post-page__related-posts"
        [category]="post.category"
        [displayCount]="4"
        [excludeID]="post.uuid"
        [routerLinkFn]="postLinkFn"
      ></app-hub-related-posts>
    </ng-container>
  </app-hub-post-layout>
</ng-container>
