<ng-container *transloco="let translate">
  <app-hub-post-layout
    class="post-page__post-layout"
    *ngIf="post$ | async as post"
    [headerBackgroundImage]="'url(' + post.previewImage + ')'"
  >
    <div class="post-page__header" ngProjectAs="[category]">
      <a class="post-page__navigation-back-button" [appNavigateBack]="['/', appRoute.Hub]">
        <svg-icon class="post-page__navigation-back-button-icon" key="arrow-left"></svg-icon>
      </a>

      <div
        class="post-page__category"
        appTypeface="paragraph"
        [routerLink]="['/', appRoute.Hub, hubRoute.Posts, post.category]"
      >
        <span class="post-page__category-dot" [appHubPostCategoryColor]="post.category"></span>
        <span>{{ translate('hub.hub_post_category.' + post.category) }}</span>
      </div>
    </div>

    <ng-container ngProjectAs="[title]">{{ post.title }}</ng-container>

    <app-hub-post-delete-button
      *appHubCanDeletePost="post.owner"
      (delete)="onPostDelete(post)"
      ngProjectAs="[headerContent]"
    ></app-hub-post-delete-button>

    <div
      class="post-page__text"
      [innerHTML]="post.text"
      ngProjectAs="[contentMainColumn]"
    ></div>

    <div class="post-page__sidebar" ngProjectAs="[contentSecondaryColumn]">
      <app-hub-profile-card
        *ngIf="authorProfile$ | async as authorProfile"
        [profile]="authorProfile"
        (follow)="onFollowAuthor($event, post.owner)"
        (topUp)="onTopUpAuthor(post.owner)"
      ></app-hub-profile-card>

      <app-hub-pdv-statistics
        class="post-page__pdv-statistics"
        *ngIf="postStatistics$ | async as postStatistics"
        [statistics]="postStatistics"
        [translations]="postStatisticsTranslations$ | async"
      ></app-hub-pdv-statistics>

      <app-hub-post-rating
        class="post-page__rating"
        [post]="post"
        [filled]="true"
        appTypeface="paragraph"
      ></app-hub-post-rating>
    </div>

    <ng-container ngProjectAs="[footer]">
      <span class="post-page__footer-title" appTypeface="subheader">
        {{ translate('hub.hub_post_page.interesting_posts') }}
      </span>

      <app-hub-related-posts
        class="post-page__related-posts"
        [category]="post.category"
        [displayCount]="4"
        [excludeID]="post.uuid"
        [routerLinkFn]="postLinkFn"
      ></app-hub-related-posts>
    </ng-container>
  </app-hub-post-layout>
</ng-container>
