$pdv-rate-margin-icon-color-negative: #C87794;
$pdv-rate-margin-icon-color-positive: #6BBFA6;
$pdv-rate-margin-icon-color-neutral: #797979;

:host {
  display: flex;
  align-items: center;

  &.mod-negative {
    color: $pdv-rate-margin-icon-color-negative;

    .pdv-rate-margin__icon {
      transform: rotate(180deg);

      &::ng-deep {
        svg {
          path {
            fill: $pdv-rate-margin-icon-color-negative;
          }
        }
      }
    }
  }

  &.mod-neutral {
    color: $pdv-rate-margin-icon-color-neutral;

    .pdv-rate-margin__icon {
      border: 2px solid $pdv-rate-margin-icon-color-neutral;
      border-radius: 50%;

      &::ng-deep {
        svg {
          path {
            fill: transparent;
          }
        }
      }
    }
  }

  &.mod-positive {
    color: $pdv-rate-margin-icon-color-positive;
  }
}

.pdv-rate-margin__icon {
  display: inline-flex;
  width: 15px;
  height: 15px;
}

.pdv-rate-margin__label {
  display: inline-flex;
  font-size: 10px;
  margin-left: 5px;
}
