$circle-post-rating--color: #6B6C6F;

:host {
  align-items: center;
  color: $circle-post-rating--color;
  display: flex;
  font-size: 14px;
  line-height: 100%;
}

.circle-post-rating__section {
  align-items: center;
  display: flex;

  & + & {
    margin-left: 12px;
  }
}

.circle-post-rating__icon {
  align-items: center;
  display: flex;
  margin-right: 8px;

  &.mod-dislike {
    transform: rotate(180deg);
  }
}
