<ng-container *transloco="let translate; read: 'user.user_page'">
  <div *ngIf="items.length > 0; else noActivity"
       class="activity-items">
    <div *ngFor="let activityItem of items; let i = index; trackBy: trackByAddress"
         (click)="details.emit(activityItem.address)"
         class="activity-item">
      <div class="activity-item__name">
        {{activityItem.address}}
      </div>
      <div class="activity-item__date">
        {{activityItem.date | date : 'dd.MM.yyyy HH:mm'}}
      </div>
    </div>
  </div>

  <ng-template #noActivity>
    <div class="no-activity">
      {{ translate('no_activity') }}
    </div>
  </ng-template>
</ng-container>
