<div
  class="container page-welcome"
  *transloco="let translate; read: 'welcome.welcome_page'"
>
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="logo-icon">
        <img src="assets/images/logo-icon.svg" alt="Decentr">
      </div>

      <div class="page-title">
        {{ translate('title') }}
      </div>

      <div class="page-content">
        {{ translate('subtitle.line1') }}
        <br/>
        {{ translate('subtitle.line2') }}
      </div>

      <button class="btn btn__middle"
              mat-flat-button
              color="accent"
              [routerLink]="[welcomeRoute.NewUser]">
        {{ translate('get_started') }}
      </button>
    </div>
  </div>
</div>
