@import 'variables';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.welcome-page__card {
  border: 2px solid var(--color-outlines);
  border-radius: $border-radius;
  margin: auto;
  padding: $grid-step * 5 $grid-step * 3;
  width: 436px;
}

.welcome-page__network-selector {
  display: flex;
  justify-content: center;
  margin-bottom: $grid-step * 3;
}

.welcome-page__title {
  align-items: center;
  column-gap: $grid-step;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-bottom: $grid-step * 3;
}

.welcome-page__button {
  border-radius: $border-radius;
  color: var(--color-main-text);
  display: block;
  padding: $grid-step * 3;

  & + & {
    margin-top: $grid-step * 2;
  }

  &.mod-blue {
    background: rgba($color-primary, 0.08);

    .welcome-page__button__icon {
      color: $color-primary;
    }
  }

  &.mod-green {
    background: rgba($color-green, 0.08);

    .welcome-page__button__icon {
      color: $color-green;
    }
  }
}

.welcome-page__button__title {
  font-weight: 700;
  margin-top: $grid-step * 1.5;
}

.welcome-page__button__subtitle {
  color: $color-grey;
  margin-top: $grid-step;
}
