<div
  class="welcome-page__card"
  *transloco="let translate; read: 'welcome.welcome_page'"
>
  <div
    class="welcome-page__title"
    appTypeface="subheader"
  >
    {{ translate('title.log_in_to') }}

    <svg-icon key="logo-icon" size="lg"></svg-icon>

    {{ translate('title.decentr') }}
  </div>

  <a
    class="welcome-page__button mod-blue"
    [routerLink]="['/', appRoute.Login, loginRoute.Import]"
  >
    <svg-icon
      class="welcome-page__button__icon"
      key="seed-phrase"
      size="xl"
    ></svg-icon>

    <div
      class="welcome-page__button__title"
      appTypeface="subheader"
    >
      {{ translate('log_in.title') }}
    </div>

    <div
      class="welcome-page__button__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('log_in.subtitle') }}
    </div>
  </a>

  <a
    class="welcome-page__button mod-green"
    [routerLink]="['/', appRoute.SignUp]"
  >
    <svg-icon
      class="welcome-page__button__icon"
      key="new-user"
      size="xl"
    ></svg-icon>

    <div
      class="welcome-page__button__title"
      appTypeface="subheader"
    >
      {{ translate('sign_up.title') }}
    </div>

    <div
      class="welcome-page__button__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('sign_up.subtitle') }}
    </div>
  </a>
</div>
