<div
  class="header__select-network"
  [matMenuTriggerFor]="menuTemplate"
>
  <div class="network-item">
    <div class="network-indicator"></div>
    <div class="network-name">
      {{ activeNetwork?.name }}
    </div>
  </div>
  <div class="select-arrow"></div>
</div>

<mat-menu
  #menuTemplate
  class="network-selector__menu"
>
  <ng-template matMenuContent>
    <ng-container *ngIf="networks$ | async as networks; else loader">
      <div class="menu-wrapper">
        <ng-container *ngIf="translations$ | async as translations">
          <div class="menu-title">{{ translations.title }}</div>
          <div class="menu-description">{{ translations.defaultNetwork }}</div>
        </ng-container>

        <div class="menu-items">
          <div
            class="menu-item"
            [class.menu-item__active]="isNetworksEqual(network, activeNetwork)"
            [class.is-disabled]="network.disabled"
            *ngFor="let network of networks; trackBy: trackByName"
            (click)="switchNetwork(network)"
          >
            <div class="network-indicator"></div>
            <div class="menu-item__name">
              {{ network.name }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #loader>
      <div class="network-selector__loader">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-menu>
