<div
  class="network-selector__trigger"
  [matMenuTriggerFor]="menuTemplate"
>
    <svg-icon class="network-selector__trigger__icon-signal" key="signal"></svg-icon>

    <div class="network-selector__trigger__network-name">
      {{ activeNetwork?.name }}
    </div>
  <div class="network-selector__trigger__arrow"></div>
</div>

<mat-menu
  #menuTemplate
  class="network-selector__menu menu-popup"
>
  <ng-template matMenuContent>
    <ng-container *ngIf="networks$ | async as networks; else loader">
      <ng-container *ngIf="translations$ | async as translations">
        <div class="network-selector__menu__title" appTypeface="paragraph">
          {{ translations.title }}
        </div>
        <div class="network-selector__menu__subtitle" appTypeface="caption">
          {{ translations.defaultNetwork }}
        </div>
      </ng-container>

      <div class="menu-popup-items-section">
        <div
          class="network-selector__menu__item menu-popup-item"
          [class.is-active]="isNetworksEqual(network, activeNetwork)"
          [class.is-disabled]="network.disabled"
          *ngFor="let network of networks; trackBy: trackByName"
          (click)="switchNetwork(network)"
        >
          <svg-icon class="menu-popup-item-icon network-selector__menu__item-icon-signal" key="signal"></svg-icon>

          <span class="menu-popup-item-title">
            <span appTypeface="paragraph">{{ network.name }}</span>

            <svg-icon class="network-selector__menu__item-icon-check" key="check"></svg-icon>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-template #loader>
      <div class="network-selector__loader">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </ng-template>
</mat-menu>
