@import '../../styles/variables';

::ng-deep .cdk-overlay-container {
  .network-selector__menu {
    width: 320px;
  }

  .network-selector__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 223px;
  }
}

.network-selector__trigger {
  display: flex;
  align-items: center;
  border: 1px solid #bbc0c4;
  border-radius: 30px;
  column-gap: $grid-step;
  padding: 0 10px;
  min-height: 30px;
  cursor: pointer;
  transition: background .3s ease;

  &:hover {
    background: #eaeaea;
  }
}

.network-selector__trigger__icon-signal {
  color: $color-mint;
  display: inline-flex;
  font-size: 16px;
}

.network-selector__trigger__network-name {
  color: #59595D;
  font-size: 12px;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: .5px;
  user-select: none;

  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.network-selector__trigger__arrow {
  margin-right: 5px;
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  border-style: solid;
  border-color: #59595D;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg) translateY(-3px);
  transition: border-width 150ms ease-in-out;
}

.network-selector__menu__title {
  font-weight: 700;
}

.network-selector__menu__subtitle {
  color: $color-light-grey;
  margin: $grid-step * 1.5 0 $grid-step * 2;
}

.network-selector__menu__item {
  color: $color-grey;
  column-gap: $grid-step * 1.5;

  &.is-active,
  &:hover {
    color: $color-white;
  }

  &.is-active {
    .network-selector__menu__item-icon-signal {
      color: $color-mint;
    }

    .network-selector__menu__item-icon-check {
      display: inline-flex;
    }
  }
}

.network-selector__menu__item-icon-signal {
  display: inline-flex;
  font-size: 24px;
}

.network-selector__menu__item-icon-check {
  color: $color-white;
  display: none;
  font-size: 24px;
  margin-left: auto;
}
