@import '../../styles/variables';

::ng-deep .cdk-overlay-container {
  .network-selector__menu {
    width: 320px;
  }

  .network-selector__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 223px;
  }
}

.network-selector__trigger {
  align-items: center;
  background-color: $color-background;
  border-radius: $border-radius;
  column-gap: $grid-step / 2;
  cursor: pointer;
  display: flex;
  padding: $grid-step $grid-step * 1.5;
  transition: background .3s ease;

  &:hover {
    background: $color-outlines;
  }
}

.network-selector__trigger__network-icon {
  color: $color-mint;
}

.network-selector__trigger__network-name {
  color: $color-black;
  font-weight: 500;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.network-selector__trigger-icon {
  color: $color-grey;
}

.network-selector__menu__title {
  font-weight: 700;
}

.network-selector__menu__subtitle {
  color: $color-light-grey;
  margin: $grid-step * 1.5 0 $grid-step * 2;
}

.network-selector__menu__item {
  color: $color-grey;
  column-gap: $grid-step * 1.5;

  &.is-active,
  &:hover {
    color: $color-white;
  }

  &.is-active {
    .network-selector__menu__item-icon-signal {
      color: $color-mint;
    }

    .network-selector__menu__item-icon-check {
      display: inline-flex;
    }
  }
}

.network-selector__menu__item-icon-check {
  color: $color-white;
  display: none;
  margin-left: auto;
}
