@import 'variables';

:host {
  display: block;
}

.token-transaction {
  color: var(--color-main-text);
  column-gap: $grid-step;
  display: grid;
  grid-template-areas: 'icon operation amount' 'empty address fee' 'empty memo memo';
  grid-template-columns: min-content 1fr max-content;
  padding: $grid-step * 1.5 $grid-step * 2;
  row-gap: $grid-half-step;
}

.token-transaction__operation {
  column-gap: $grid-step;
  display: flex;
  font-weight: 500;
  grid-area: operation;
}

.token-transaction__icon {
  grid-area: icon;
}

.token-transaction__amount {
  grid-area: amount;
  text-align: right;
}

.token-transaction__address {
  color: var(--color-dportal-assets-page-token-transaction-address);
  grid-area: address;
}

.token-transaction__fee {
  color: var(--color-dportal-assets-page-token-transaction-fee);
  grid-area: fee;
  text-align: right;
}

.token-transaction__memo {
  color: var(--color-dportal-assets-page-token-transaction-memo);
  grid-area: memo;
}
