<div
  *transloco="let translate; read: 'portal.token_transactions_table'"
  class="token-transaction"
  appTypeface="paragraph"
>
  <svg-icon
    class="token-transaction__icon"
    [class.color-negative]="transaction.amount < 0"
    [class.color-positive]="transaction.amount >= 0"
    [key]="transaction.amount > 0 ? 'receive' : 'send'"
  ></svg-icon>

  <div class="token-transaction__operation">
    <ng-container [ngSwitch]="transaction.type">
      <ng-container *ngSwitchCase="messageType.BankSend">
        {{ translate(transaction.amount < 0 ? 'sent' : 'received') }}
      </ng-container>

      <ng-container *ngSwitchCase="messageType.StakingDelegate">
        {{ translate('delegated') }}
      </ng-container>

      <ng-container *ngSwitchCase="messageType.StakingUndelegate">
        {{ translate('undelegated') }}
      </ng-container>

      <ng-container *ngSwitchCase="messageType.DistributionWithdrawDelegatorReward">
        {{ translate('withdraw') }}
      </ng-container>

      <ng-container *ngSwitchCase="messageType.DistributionWithdrawValidatorCommission">
        {{ translate('withdraw_validator') }}
      </ng-container>
    </ng-container>

    <app-token-transactions-actions
      *ngIf="transaction.hash"
      [txhash]="transaction.hash"
    ></app-token-transactions-actions>
  </div>

  <app-token-transaction-amount
    class="token-transaction__amount"
    [amount]="transaction.amount"
  ></app-token-transaction-amount>

  <div class="token-transaction__address" appTextEllipsis appTypeface="caption">
    <ng-container *ngIf="transaction.amount < 0">
      {{ translate('to') }}: {{ transaction.recipient }}
    </ng-container>

    <ng-container *ngIf="transaction.amount >= 0">
      {{ translate('from') }}: {{ transaction.sender }}
    </ng-container>
  </div>

  <div *ngIf="transaction.fee" class="token-transaction__fee" appTypeface="caption">
    {{ translate('fee') }}
    : {{ transaction.fee | microValue | numberFormat : null : true }}
    <app-currency-symbol></app-currency-symbol>
  </div>

  <div
    *ngIf="transaction.comment"
    class="token-transaction__memo"
    appTypeface="caption"
  >
    {{ translate('memo') }}: {{ transaction.comment }}
  </div>
</div>
