@import '../../../styles/variables';

$menu--user-avatar--size: 40px;

:host {
  align-items: center;
  display: inline-flex;
  overflow: hidden;
}

::ng-deep .cdk-overlay-container {
  .menu-popup {
    margin-top: -$menu--user-avatar--size;
  }
}

.menu__trigger {
  align-items: center;
  column-gap: $grid-step;
  cursor: pointer;
  display: flex;
  user-select: none;
  width: 100%;

  &:hover {
    .menu__trigger-icon {
      color: $color-dark-grey;
    }
  }
}

.menu__user-avatar {
  height: $menu--user-avatar--size;
  min-height: $menu--user-avatar--size;
  min-width: $menu--user-avatar--size;
  width: $menu--user-avatar--size;
}

.menu__user-title {
  max-width: 220px;
}

.menu__trigger-icon {
  color: $color-grey;
  display: inline-flex;
  font-size: 24px;
  min-width: 1em;
  transition: color .3s ease;
}

.menu__user-item {
  column-gap: $grid-step;
  display: flex;
}

.menu__user-item-avatar {
  height: 40px;
  width: 40px;
}

.menu__user-item-title {
  max-width: 205px;
}

.menu__user-item__pdv {
  color: $color-grey;
}

.menu__item {
  column-gap: $grid-step;
}

.menu__item-icon {
  display: inline-flex;
  flex-shrink: 0;
  font-size: 24px;
}

.menu__item-coming-soon {
  align-self: center;
  color: $color-yellow;
  font-weight: normal;
  margin-left: $grid-step * 4;
}
