<ng-container *ngIf="translations$ | async as translations">
  <div
    *ngIf="userProfile$ | async as userProfile"
    class="menu__trigger"
    [matMenuTriggerFor]="menuTemplate"
  >
    <app-avatar
      class="menu__user-avatar"
      [avatarUrl]="userProfile.avatar"
    ></app-avatar>

    <ng-container *appBrowserTabView>
      <div class="menu__user-title menu-popup-item-title">
        <span
          appTextEllipsis
          appTypeface="paragraph"
        >
          {{ userProfile.firstName }} {{ userProfile.lastName | slice : 0 : 1 }}.
        </span>
      </div>

      <svg-icon class="menu__trigger-icon" key="dropdown-expand"></svg-icon>
    </ng-container>
  </div>

  <mat-menu
    #menuTemplate
    class="menu-popup"
    appTypeface="paragraph"
  >
    <div
      class="menu-popup-items-section menu-popup-item menu__item menu__user-item"
      *ngIf="userItem$ | async as userItem"
      (click)="userItem.action && userItem.action()"
    >
      <app-avatar
        class="menu__user-avatar"
        [avatarUrl]="(userProfile$ | async).avatar"
      ></app-avatar>

      <div>
        <div class="menu__user-item-title menu-popup-item-title">
          <span
            appTextEllipsis
            appTypeface="paragraph"
          >
            {{ userItem.firstName }} {{ userItem.lastName | slice : 0 : 1 }}.
          </span>
        </div>

        <div class="menu__user-item__pdv" appTypeface="caption">
          {{ userItem.pdvValue | pdvValue }} {{ translations.pdv }}
        </div>
      </div>
    </div>

    <div
      class="menu-popup-items-section"
      *ngFor="let section of items$ | async"
    >
      <ng-container *ngFor="let item of section; let last = last">
        <div
          class="menu-popup-item menu__item"
          [attr.data-id]="item.title | lowercase"
          [class.is-disabled]="!item.action"
          (click)="item.action && item.action()"
        >
          <svg-icon class="menu-popup-item-icon menu__item-icon" [key]="item.iconKey"></svg-icon>

          <span class="menu-popup-item-title">
            <span>{{ item.title }}</span>

            <span
              class="menu__item-coming-soon"
              *ngIf="!item.action"
              appTypeface="caption"
            >
              {{ translations.comingSoon }}
            </span>
          </span>

          <div
            class="menu-popup-item-description menu__item-description"
            *ngIf="item.description"
            appTypeface="caption"
          >
            {{ item.description }}
          </div>
        </div>

        <div class="menu-popup-items-divider" *ngIf="!last"></div>
      </ng-container>
    </div>
  </mat-menu>
</ng-container>
