@import 'variables';

:host {
  align-items: center;
  display: inline-flex;

  &.mod-filled {
    border-radius: $border-radius;
    font-weight: 500;
    padding: $grid-step $grid-step * 2 $grid-step $grid-step * 1.5;

    .validator-status__label {
      color: var(--color-validator-status-filled-label);
    }
  }

  &.mod-bonded {
    $bonded-color: var(--color-validator-status-bonded);

    color: rgb($bonded-color);

    &.mod-filled {
      background-color: rgba($bonded-color, 0.08);
    }
  }

  &.mod-unbonded {
    $unbonded-color: var(--color-validator-status-unbonded);

    color: rgb($unbonded-color);

    &.mod-filled {
      background-color: rgba($unbonded-color, 0.08);
    }
  }

  &.mod-unbonding {
    $unbonding-color: var(--color-validator-status-unbonding);

    color: rgb($unbonding-color);

    &.mod-filled {
      background-color: rgba($unbonding-color, 0.08);
    }
  }

  .validator-status__label {
    margin-left: $grid-step;
  }
}
