$color-margin-label--negative-color: #FA5454;
$color-margin-label--neutral-color: #929297;
$color-margin-label--positive-color: #03B15E;

:host {
  align-items: center;
  display: inline-flex;

  &.mod-negative {
    color: $color-margin-label--negative-color;
  }

  &.mod-neutral {
    color: $color-margin-label--neutral-color;
  }

  &.mod-positive {
    color: $color-margin-label--positive-color;
  }

  .color-margin-label-icon {
    display: inline-flex;
    font-size: 1.142857143em;
  }
}
