$color-margin-label--positive-color: #82C43C;
$color-margin-label--negative-color: #FC5A5A;
$color-margin-label--neutral-color: #92929D;

:host {
  align-items: center;
  display: inline-flex;

  &.mod-negative {
    color: $color-margin-label--negative-color;
  }

  &.mod-neutral {
    color: $color-margin-label--neutral-color;
  }

  &.mod-positive {
    color: $color-margin-label--positive-color;
  }

  .color-margin-label-icon {
    display: inline-flex;
    font-size: .7em;
    margin-left: 3px;
  }
}
