@import '../../../styles/variables';

:host {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);

  &:not(.mod-last) {
    .expansion-list-column__cell {
      cursor: pointer;
      padding: $grid-step * 1.5 $grid-step * 2;

      &:hover {
        background-color: $color-background;
      }

      &.is-active {
        background-color: rgba($color-primary, 0.08);
        color: $color-primary;
      }
    }
  }
}

.expansion-list-column__header-cell {
  align-items: center;
  border-bottom: var(--expansion-list--border);
  display: flex;
  font-weight: 500;
  min-height: 68px;
  padding: 0 $grid-step * 2;
}

.expansion-list-column__button-back {
  margin-right: $grid-step * 2;
}

.expansion-list-column__cells-container {
  overflow: auto;
}
