@import '../../../styles/variables';

:host {
  display: block;

  &:not(.mod-last) {
    .expansion-list-column__cell {
      cursor: pointer;
      padding: $grid-step * 1.5 $grid-step * 2;

      &:hover {
        background-color: $color-background;
      }

      &.is-active {
        background-color: rgba($color-primary, 0.08);
        color: $color-primary;
      }
    }
  }
}
