$hub-page--background-color: #F2F2F2;

:host {
  background: $hub-page--background-color;
  display: block;
  min-height: 100%;
}

.hub-page__header {
  position: sticky;
  top: 0;
}

.hub-page__header-meta-container {
  align-items: center;
  display: flex;
  height: 100%;
}

.hub-page__header-meta-label {
  font-size: 14px;

  & + & {
    margin-left: 40px;
  }
}

.hub-page__header-meta-label-value {
  margin-left: 4px;
}

.hub-page__content-container {
  padding: 30px;
}
