<app-hub-header
  *transloco="let translate; read: 'hub.hub_page.header'"
  class="hub-page__header"
  [avatarIcon]="avatar$ | async"
>
  <div
    *appSlot="headerMetaSlotName"
    class="hub-page__header-meta-container"
  >
    <div
      *ngIf="balance"
      class="hub-page__header-meta-label"
      [matTooltip]="translate('estimated_balance', { estimatedBalance: estimatedBalance$ | async })"
    >
      {{ translate('pdv') }}:
      <span class="hub-page__header-meta-label-value">
        {{ balance.value | pdvValue }}
      </span>

      <app-margin-label
        class="hub-page__header-meta-margin-label"
        [dayMargin]="balance.dayMargin"
        [digitsInfo]="'1.0-5'"
      ></app-margin-label>
    </div>

    <div
      *ngIf="coinRate$ | async as coinRate"
      class="hub-page__header-meta-label"
    >
      {{ translate('dec') }}:
      <span class="hub-page__header-meta-label-value">
        {{ coinRate.value | currency : 'USD' : 'symbol' : '1.4' }}
      </span>

      <app-margin-label
        class="hub-page__header-meta-margin-label"
        [dayMargin]="coinRate.dayMargin"
      ></app-margin-label>
    </div>

    <div
      class="hub-page__header-meta-details"
      [class.hub-page__header-meta-details-isOpen]="isDashboardVisible"
      (click)="isDashboardVisible = !isDashboardVisible"
    >
      <div class="hub-page__header-meta-details-title">
        {{ translate(isDashboardVisible ? 'short_view' : 'show_details') }}
      </div>
      <svg-icon class="hub-page__header-meta-details-icon" key="expand-more"></svg-icon>
    </div>
  </div>
</app-hub-header>

<div class="hub-page__content-container">
  <router-outlet></router-outlet>
</div>
