@import 'colors';
@import 'variables';

:host {
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hub-page__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hub-page__content-container {
  height: 100%;
  min-width: $page-width;
  overflow: auto;
}

.hub-page__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
