@import 'variables';

:host {
  align-content: center;
  background-color: rgba($color-negative, .08);
  border-radius: $border-radius;
  color: $color-negative;
  column-gap: $grid-step;
  display: grid;
  grid-template-areas: 'icon title'
                       'empty text';
  grid-template-rows: min-content;
  height: 100%;
  min-height: 176px;
  padding: $grid-step * 2;
  row-gap: $grid-half-step;
}

.staking-extended-error__error-icon {
  grid-area: icon;
}

.staking-extended-error__error-title {
  grid-area: title;
  font-weight: 700;
}

.staking-extended-error__error-text {
  grid-area: text;
  white-space: pre-line;
}
