<ng-container *transloco="let translate; read: 'hub.hub_navigation'">
  <div class="hub-navigation__section">
    <app-hub-navigation-link
      class="hub-navigation__link mod-overview"
      [link]="hubRoute.Overview"
      [title]="translate('account_overview')"
    ></app-hub-navigation-link>
  </div>

  <div class="hub-navigation__section">
    <app-hub-navigation-link
      class="hub-navigation__link"
      *ngFor="let linkConfig of newsLinksConfig; trackBy: trackByLink"
      [link]="[hubRoute.News, linkConfig.link]"
      [title]="translate(linkConfig.i18nKey)"
    ></app-hub-navigation-link>
  </div>
</ng-container>
