$hub-navigation--background-color: #FFFFFF;
$hub-navigation--height: 72px;

:host {
  align-items: center;
  background-color: $hub-navigation--background-color;
  display: flex;
  justify-content: flex-end;
  height: $hub-navigation--height;
  padding: 0 30px;
}

.hub-navigation__section {
  display: flex;
  height: 100%;
}

.hub-navigation__link {
  &:not(:last-child) {
    margin-right: 24px;
  }
}
