@import '../../../styles/variables';

:host {
  background-color: var(--color-input-background);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $grid-step * 2;
  width: 100%;

  &.is-invalid {
    &.is-submitted,
    &.is-touched {
      .input__label {
        color: var(--color-select-input-invalid);
      }
    }
  }

  &.is-disabled {
    .input {
      color: var(--color-select-input-disabled);
      pointer-events: none;
    }
  }
}

.input__label {
  color: var(--color-select-input-label);
  display: flex;
  justify-content: space-between;
}

.input__container {
  align-items: center;
  display: flex;
  position: relative;
}

.input {
  background-color: inherit;
  color: var(--color-select-input);
  font: inherit;
  font-weight: 500;
  padding: 0;
  width: 100%;

  &::placeholder {
    color: var(--color-select-input-placeholder);
    font-weight: normal;
  }

  &:not(.mod-text) {
    cursor: pointer;
  }
}

.input__container__icon {
  color: var(--color-select-input-icon-dropdown);
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.input__container__icon-close {
  color: var(--color-select-input-icon-close);
  cursor: pointer;
}

.input__option {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input__option-meta {
  color: var(--color-select-input-option-meta);
}

.input__footer {
  color: var(--color-select-input-footer);
  display: none;

  &.mod-visible {
    display: block;
    margin-top: $grid-step;
  }
}
