@import '../../styles/variables';

:host {
  display: flex;
}

.code-input__field {
  & + & {
    margin-left: $grid-step;
  }
}

.code-input__input {
  background-color: $color-background;
  border: 1px solid transparent;
  border-radius: $border-radius;
  height: 78px;
  text-align: center;
  width: 72px;

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid $color-red;
    }
  }
}
