@import '../../styles/variables';

:host {
  display: flex;
}

.code-input__field {
  & + & {
    margin-left: $grid-step;
  }
}

.code-input__input {
  background-color: var(--color-input-background);
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: var(--color-input-text);
  height: 78px;
  text-align: center;
  width: 72px;

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid var(--color-input-invalid-border);
    }
  }
}
