$circle-navigation--background-color: #FFFFFF;
$circle-navigation--height: 72px;

:host {
  align-items: center;
  background-color: $circle-navigation--background-color;
  display: flex;
  justify-content: space-between;
  height: $circle-navigation--height;
}

.circle-navigation__section {
  display: flex;
  height: 100%;
}

.circle-navigation__link {
  margin: 0 12px;

  &.mod-overview {
    font-size: 16px;
  }
}
