@import 'variables';

:host {
  display: block;
}

.validators-table__validator {
  align-items: center;
  display: flex;
}

.validators-table__validator-jailed {
  margin-left: $grid-step;
  user-select: none;
}

.validators-table__validator-my {
  align-items: center;
  background-color: rgba(var(--color-dportal-staking-validators-table-validator-my), .08);
  border-radius: $border-radius;
  color: rgb(var(--color-dportal-staking-validators-table-validator-my));
  display: inline-flex;
  margin-left: $grid-step;
  padding: $grid-half-step $grid-step;
  user-select: none;
}

.validators-table__validator-status {
  display: flex;
}

.validators-table__voting-power-percent {
  color: var(--color-dportal-staking-validators-table-voting-power);
}

.validators-table__reward-and-delegated {
  align-items: center;
  display: inline-flex;
}

.validators-table__unbonding-delegation {
  align-items: center;
  background-color: rgba(var(--color-dportal-staking-validators-table-unbonding-delegation), .12);
  border-radius: $border-radius;
  color: rgb(var(--color-dportal-staking-validators-table-unbonding-delegation));
  column-gap: $grid-half-step;
  display: inline-flex;
  font-weight: 500;
  margin-right: $grid-step;
  padding: $grid-step $grid-step * 1.5 $grid-step $grid-step * 1.5;
}

.validators-table__reward {
  align-items: center;
  background-color: rgba(var(--color-dportal-staking-validators-table-reward), .12);
  border-radius: $border-radius;
  color: rgb(var(--color-dportal-staking-validators-table-reward));
  column-gap: $grid-half-step;
  display: inline-flex;
  font-weight: 500;
  margin-right: $grid-step;
  padding: $grid-half-step $grid-step * 1.5 $grid-half-step $grid-step;

  &:hover {
    color: rgb(var(--color-dportal-staking-validators-table-reward-hover));
  }
}

.validators-table__reward-icon {
  margin-right: $grid-half-step;
}

.validators-table__voting-power-percent-loading {
  display: flex;
}

.mod-empty {
  color: var(--color-dportal-staking-validators-table-empty);
}
