<app-data-table
  *transloco="let translate; read: 'staking.validators_table'"
  [data]="data"
  [trackBy]="trackByAddress"
>
  <div
    *dataTableColumnDef="let validator; name: translate('validator')"
    class="validators-table__validator"
  >
    <a [routerLink]="[validator.address]">
      {{ validator.name }}
    </a>

    <app-validator-jailed
      *ngIf="validator.jailed"
      class="validators-table__validator-jailed"
    >
      {{ translate('jailed') }}
    </app-validator-jailed>

    <div
      *ngIf="userValidatorAddress === validator.address"
      class="validators-table__validator-my"
      appTypeface="caption"
    >
      {{ translate('my_validator') }}
    </div>
  </div>

  <ng-container *dataTableColumnDef="let validator; name: translate('voting_power')">
    {{ validator.tokens | microValue | numberFormat : '1.0-0' : true }}

    <div
      class="validators-table__voting-power-percent"
      appTypeface="caption"
    >
      {{ validator.votingPower | percent : '1.0-2' }}
    </div>
  </ng-container>

  <app-validator-status
    *dataTableColumnDef="let validator; name: translate('status')"
    [status]="validator.status"
    class="validators-table__validator-status"
  ></app-validator-status>

  <ng-container *dataTableColumnDef="let validator; name: translate('commission')">
    {{ validator.commission | percent }}
  </ng-container>

  <ng-container
    *dataTableColumnDef="
      let validator;
      name: translate('delegated') | appCurrencySymbol : true | async;
      id: translate('delegated');
      align: 'right'
    "
  >
    <div class="validators-table__reward-and-delegated">
      <button
        class="validators-table__reward"
        app-button
        size="xs"
        [light]="true"
        *ngIf="validator.reward"
        appTypeface="caption"
        (click)="onValidatorRewardClick(validator)"
      >
        <svg-icon
          class="validators-table__reward-icon"
          key="piggy-bank"
          size="xs"
        ></svg-icon>

        <ng-container *ngIf="validator.reward >= 1; else lessThanOneUdec">
          {{ validator.reward | microValue | numberFormat : '1.0-6' : true }}
        </ng-container>
      </button>

      <div [class.mod-empty]="!+validator.delegated">
        {{ validator.delegated && (validator.delegated | microValue | numberFormat : null : true) || '0' }}
      </div>
    </div>
  </ng-container>
</app-data-table>

<ng-template #lessThanOneUdec>
  <{{ 1 | microValue }}
</ng-template>
