<ng-container *transloco="let translate; read: 'portal.transfer_page'">
  <div class="transfer-page__header">
    <button
      app-button-back
      [appNavigateBack]="['../']"
    ></button>

    <span appTypeface="subheader">
      {{ translate('send') }}
    </span>

    <div
      class="transfer-page__balance"
      *ngIf="balance$ | async as balance"
      appTypeface="paragraph"
    >
      <svg-icon
        class="transfer-page__balance-icon"
        key="decentr-hub"
      ></svg-icon>
      {{ balance | microValue | numberFormat : null : true }}&nbsp;<app-currency-symbol></app-currency-symbol>
    </div>
  </div>

  <form
    [formGroup]="form"
    autocomplete="off"
    appSubmitAfterValidation
  >

    <div class="transfer-page__form__inputs-container">
      <ng-container formGroupName="data" appBindQueryParams>
        <app-input
          class="transfer-page__form__control-amount"
          formControlName="amount"
          [appTypeface]="isOpenedInPopup ? 'header-4' : 'header-3'"
          [numeric]="true"
        >
          <span ngProjectAs="[label]">{{ translate('form.amount.label') }}</span>

          <span *ngIf="fee$ | async as fee" ngProjectAs="[label-right]">
            <ng-container *ngIf="form.valid">
              {{ translate('form.amount.fee') }}: {{ fee | microValue | numberFormat : null : true }}
            </ng-container>
          </span>
        </app-input>

        <app-form-error
          class="transfer-page__form__error transfer-page__form__error-amount"
          controlName="amount"
          appTypeface="caption"
        ></app-form-error>
      </ng-container>

      <svg-icon
        *appBrowserTabView
        class="transfer-page__form__icon"
        key="arrow-left"
        size="xl"
      ></svg-icon>

      <ng-container formGroupName="data">
        <app-input
          class="transfer-page__form__control-to"
          rows="2"
          [resize]="false"
          formControlName="to"
          [appTypeface]="isOpenedInPopup ? 'paragraph' : 'subheader'"
          [placeholder]="translate('form.to.placeholder')"
        >
          <span ngProjectAs="[label]">{{ translate('form.to.label') }}</span>
        </app-input>

        <div class="transfer-page__form__error transfer-page__form__error-to">
          <app-form-error
            *ngIf="form.controls.data.controls.to.touched"
            controlName="to"
            appTypeface="caption"
          ></app-form-error>
        </div>
      </ng-container>

      <app-input
        class="transfer-page__form__control-memo"
        [maxlength]="100"
        [rows]="2"
        formControlName="comment"
      >
        <span ngProjectAs="[label]">{{ translate('form.memo.label') }}</span>
      </app-input>
    </div>

    <div
      class="transfer-page__form__actions-container"
      appTypeface="paragraph"
    >
      <button
        class="transfer-page__form__action-button"
        app-button
        color="grey"
        [disabled]="isPageDisabled"
        [appNavigateBack]="['../']"
      >
        {{ translate('cancel') }}
      </button>

      <button
        class="transfer-page__form__action-button"
        app-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="isPageDisabled || (canSend$ | async) === false"
      >
        {{ translate(isPageDisabled ? 'sending' : 'send') }}
      </button>
    </div>
  </form>
</ng-container>
