<div class="container page-login">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="logo-icon">
        <img src="/assets/images/logo-icon.svg" alt="Decentr">
      </div>

      <div class="page-title">
        Let's Decentr!
      </div>

      <div class="page-subtitle">
        The decentralized data market
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (keydown.enter)="$event.preventDefault();onSubmit()" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="input-container col-xs-12">
            <div class="input-label">Password</div>

            <mat-form-field class="input-control"
                            color="accent">
              <input matInput
                     type="password"
                     name="password"
                     formControlName="password"
                     placeholder="">

              <mat-error *ngIf="passwordControl.invalid">
                {{ getActivateErrorKey(passwordControl, [
                {errorCode: 'required', validationKeyPart: 'Password is required'}
              ]) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn__full-width"
                    mat-flat-button
                    color="accent"
                    [disabled]="form.invalid"
                    (click)="onSubmit()">
              UNLOCK
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="restore-account">
              <a [routerLink]="[loginRoute.Restore]">Restore Your Account</a> with Seed Phrase
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
