@import 'charon/src/assets/sass/variables';

.page-login {
  padding-top: 3.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  color: #AEAEAE;

  a {
    color: $color-accent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo-icon {
    margin-bottom: 2rem;

    img {
      width: 110px;
    }
  }

  .page-title {
    font-weight: 600;
    color: #333333;
    letter-spacing: 1px;
  }

  .page-subtitle {
    margin-bottom: 3.25rem;
    font-size: 15px;
  }

  .restore-account {
    font-size: 15px;
    margin-top: 1.5rem;
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    .input-label {
      font-size: 12px;
    }

    ::ng-deep {
      .mat-form-field-infix {
        border-top: 0;
      }
    }

    .input-container {
      margin-bottom: .5rem;
    }

    mat-form-field {
      width: 100%;
    }

    button {
      min-height: 60px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: .5px;

      &:disabled {
        background: $color-accent;
        color: #ffffff;
        opacity: .5;
      }
    }
  }
}
