<div class="container page-login" *transloco="let translate; read: 'login.login_page'">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="logo-icon">
        <img src="/assets/images/logo-icon.svg" alt="Decentr">
      </div>

      <div class="page-title">
        {{ translate('title') }}
      </div>

      <div class="page-subtitle">
        {{ translate('subtitle') }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="input-container col-xs-12">
            <div class="input-label">{{ translate('form.password.label') }}</div>

            <mat-form-field class="input-control"
                            color="accent">
              <input matInput
                     type="password"
                     name="password"
                     formControlName="password"
                     placeholder="">

              <mat-error>
                <app-form-error controlName="password"></app-form-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn__full-width"
                    mat-flat-button
                    color="accent"
                    [disabled]="form.invalid">
              {{ translate('form.submit') }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="restore-account">
              <a [routerLink]="[loginRoute.Restore]">{{ translate('restore') }}</a> {{ translate('with_seed') }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
