$cubic: cubic-bezier(0.5, 0.7, 0.4, 0.1);

:host {
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 9);
  border-radius: 50%;
  border-top-color: #4477E4;
  animation: spin 1.2s $cubic infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
