<div class="circle-header__bar">
  <div
    class="circle-header__bar-icon"
    [inlineSVG]="'assets/images/logo-icon.svg'"
  ></div>

  <div class="circle-header__bar-actions">
    <button
      class="circle-header__bar-icon"
      [inlineSVG]="'assets/images/icons/notification.svg'"
    >
    </button>

    <button
      class="circle-header__bar-icon"
      mat-icon-button
      [inlineSVG]="'assets/images/icons/plus-bold.svg'"
    ></button>

    <button
      class="circle-header__bar-icon"
      mat-icon-button
      [inlineSVG]="'assets/images/icons/settings.svg'"
    ></button>
  </div>
</div>

<ng-content></ng-content>
