<form
  [attr.id]="formId"
  class="account-form__form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  *transloco="let translate; read: 'sign_up.account_form_page.form'"
>
  <section class="account-form__section">
    <div
      class="account-form__section__title"
      appTypeface="subheader"
    >
      {{ translate('email.title') }}
    </div>

    <div
      class="account-form__section__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('email.subtitle') }}
    </div>

    <div class="account-form__inputs-container">
      <app-input-container class="account-form__input-container">
        <app-input
          class="account-form__input"
          formControlName="email"
        >
          <ng-container ngProjectAs="[label]">
            {{ translate('email.label') }}
          </ng-container>
        </app-input>

        <app-form-error controlName="email" i18nControlKey="email"></app-form-error>
      </app-input-container>
    </div>
  </section>

  <section class="account-form__section">
    <div
      class="account-form__section__title"
      appTypeface="subheader"
    >
      {{ translate('password.title') }}
    </div>

    <div class="account-form__inputs-container">
      <app-input-container class="account-form__input-container">
        <app-input
          class="account-form__input"
          type="password"
          formControlName="password"
        >
          <ng-container ngProjectAs="[label]">
            {{ translate('password.label') }}
          </ng-container>
        </app-input>

        <app-form-error controlName="password"></app-form-error>
      </app-input-container>

      <app-input-container class="account-form__input-container">
        <app-input
          class="account-form__input"
          type="password"
          [eye]="false"
          formControlName="confirmPassword"
        >
          <ng-container ngProjectAs="[label]">
            {{ translate('confirm_password.label') }}
          </ng-container>
        </app-input>

        <app-form-error controlName="confirmPassword" i18nControlKey="confirm_password"></app-form-error>
      </app-input-container>
    </div>

    <app-checkbox
      class="account-form__checkbox"
      formControlName="agreeTerms"
    >
      {{ translate('terms_of_use.have_read') }}
      <a
        class="account-form__link"
        href="https://decentr.net/terms.html"
        target="_blank"
      >
        {{ translate('terms_of_use.link') }}
      </a>
    </app-checkbox>
  </section>
</form>

<div *transloco="let translate; read: 'sign_up.account_form_page'">
  <div class="account-form__divider"></div>

  <div class="account-form__actions">
    <button
      class="account-form__action-button"
      app-button
      color="grey"
      (click)="onBack()"
    >
      {{ translate('back') }}
    </button>

    <button
      class="account-form__action-button"
      app-button
      type="submit"
      [attr.form]="formId"
    >
      {{ translate('submit') }}
    </button>
  </div>
</div>
