@import '../../styles/variables';

:host {
  --background-opacity: 1;
  align-items: center;
  border-radius: $border-radius;
  display: inline-flex;
  column-gap: $grid-step;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
  transition: background .3s ease, opacity .3s ease;
  user-select: none;

  &.mod-light-background {
    --background-opacity: .12;
  }

  &[app-icon-button] {
    padding: $grid-step;
  }

  &:not([app-icon-button]).mod-size {
    &-xs {
      padding: $grid-step $grid-step * 1.5 $grid-step $grid-step * 1.5;

      &.mod-with-icon {
        padding-left: $grid-step * 1;
      }
    }

    &-sm {
      padding: $grid-step $grid-step * 2 $grid-step $grid-step * 2;

      &.mod-with-icon {
        padding-left: $grid-step * 1.5;
      }
    }

    &-md {
      padding: $grid-step * 1.5 $grid-step * 3 $grid-step * 1.5 $grid-step * 3;

      &.mod-with-icon {
        padding-left: $grid-step * 2;
      }
    }
  }

  &.mod-color {
    &-negative {
      background: rgba(#{var(--color-button-negative-background)}, var(--background-opacity));
      color: rgb(var(--color-button-negative-text));
    }

    &-primary {
      background: rgba(#{var(--color-button-primary-background)}, var(--background-opacity));
      color: rgb(var(--color-button-primary-text));

      &:hover {
        background: rgba(#{var(--color-button-primary-background-hover)}, var(--background-opacity));
        color: rgb(var(--color-button-primary-text-hover));
      }
    }

    &-grey {
      background: rgba(#{var(--color-button-grey-background)}, var(--background-opacity));
      color: rgb(var(--color-button-grey-text));

      &:hover {
        background: rgba(#{var(--color-button-grey-background-hover)}, var(--background-opacity));
        color: rgb(var(--color-button-grey-text-hover));
      }
    }

    &-white {
      background: rgba(#{var(--color-button-white-background)}, var(--background-opacity));
      color: rgb(var(--color-button-white-text));

      &:hover {
        background: rgba(#{var(--color-button-white-background-hover)}, var(--background-opacity));
        color: rgb(var(--color-button-white-text-hover));
      }
    }
  }

  &:disabled {
    background: rgb(var(--color-button-disabled-background));
    color: rgb(var(--color-button-disabled-text));
    pointer-events: none;
  }

  &::ng-deep {
    svg-icon {
      flex-shrink: 0;
    }
  }
}
