<ng-container *transloco="let translate; read: 'loading'">
  <div
    *ngIf="isInitLoading"
    class="app-init-loading"
  >
    <svg-icon
      class="app-init-loading__icon"
      key="logo-icon"
      size="xxl"
    ></svg-icon>
    <span class="app-init-loading__message">
      {{ translate('message') }}
    </span>
  </div>
</ng-container>

<!--TODO: clean up-->
<app-theme-toggle style="position: absolute; right: 5px; top: 5px;"></app-theme-toggle>

<router-outlet (activate)="isInitLoading = false"></router-outlet>
