<ng-container *transloco="let translate; read: 'loading'">
  <div
    *ngIf="isInitLoading"
    class="app-init-loading"
  >
    <svg-icon
      class="app-init-loading__icon"
      key="logo-icon"
      size="xxl"
    ></svg-icon>

    <span class="app-init-loading__message">
      {{ translate('message') }}
    </span>

    <button
      *ngIf="isWireguardConnected$ | async"
      class="app-init-loading__disconnect-wireguard"
      app-button
      color="grey"
      size="sm"
      appTypeface="caption"
      (click)="onWireguardDisconnect()"
    >
      {{ translate('disconnect_vpn') }}
    </button>
  </div>
</ng-container>

<router-outlet (activate)="isInitLoading = false"></router-outlet>
