:host {
  background-color: var(--color-main-background);
  color: var(--color-main-text);
  display: block;

  .app-init-loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 594px;

    &__icon {
      display: inline-flex;
      font-size: 50px;
      margin-bottom: .5rem;
    }

    &__message {
      font-size: 18px;
    }
  }
}
