@import 'typeface';
@import 'variables';

:host {
  background-color: var(--color-main-background);
  color: var(--color-main-text);
  display: block;
  min-width: max-content;

  &.mod-popup-view {
    .app-init-loading {
      min-height: 594px;
    }
  }

  .app-init-loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &__icon {
      display: inline-flex;
      margin-bottom: .5rem;
    }

    &__message {
      @include typeface-paragraph;
    }

    &__disconnect-wireguard {
      bottom: $grid-step * 2;
      position: absolute;
    }
  }
}
