<ng-container *transloco="let translate; read: 'circle.wall_navigation'">
  <div class="wall-navigation__links-container">
    <app-navigation-link
      class="wall-navigation__link"
      [link]="wallRoute.Recent"
      [title]="translate('recent')"
    ></app-navigation-link>

    <app-navigation-link
      class="wall-navigation__link"
      [link]="wallRoute.MyWall"
      [title]="translate('my_wall')"
    ></app-navigation-link>
  </div>

  <mat-divider class="wall-navigation__divider"></mat-divider>
</ng-container>
