@import 'variables';
@import 'mixins';

$hub-post-layout--column-gap: $page-side-padding;
$hub-post-layout--content-column-count: 12;
$hub-post-layout--column-width: ($page-width - ($hub-post-layout--content-column-count - 1) * $hub-post-layout--column-gap) / $hub-post-layout--content-column-count;
$hub-post-layout--side-column-count: 1;
$hub-post-layout--main-column-count: 9;
$hub-post-layout--secondary-column-count: $hub-post-layout--content-column-count - $hub-post-layout--main-column-count;

$hub-post-layout--grid-columns: ($hub-post-layout--column-width * $hub-post-layout--side-column-count)
                                (($hub-post-layout--column-width + $hub-post-layout--column-gap) * $hub-post-layout--main-column-count - $hub-post-layout--column-gap)
                                (($hub-post-layout--column-width + $hub-post-layout--column-gap) * $hub-post-layout--secondary-column-count - $hub-post-layout--column-gap)
                                ($hub-post-layout--column-width * $hub-post-layout--side-column-count);

:host {
  display: block;
  width: $page-width + ($hub-post-layout--column-width + $hub-post-layout--column-gap) * 2;
}

.hub-post-layout__header {
  background-color: $color-background;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  height: 480px;
  padding: $grid-step * 4 0 $grid-step * 2;
  position: relative;
  width: 100%;

  &.mod-overlay:before {
    background-color: $color-black;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .24;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hub-post-layout__header-content {
  height: 100%;
  margin: 0 auto;
}

.hub-post-layout__header-content,
.hub-post-layout__content {
  column-gap: $hub-post-layout--column-gap;
  display: grid;
  grid-template-columns: $hub-post-layout--grid-columns;
  margin: auto;
  position: relative;
}

.hub-post-layout__content__side-column {
  position: relative;
}

.hub-post-layout__header-content__main-column {
  display: flex;
  flex-direction: column;
}

.hub-post-layout__header-content__main-column,
.hub-post-layout__content__main-column {
  grid-column: 2;
}

.hub-post-layout__title {
  @include clamp(4);

  flex-grow: 1;
  font-weight: 700;
  margin-top: $grid-step * 2;
}

.hub-post-layout__content {
  margin-top: $grid-step * 3;
  padding-bottom: $grid-step * 5;
}

.hub-post-layout__content__main-column {
  &::ng-deep {
    img {
      display: block;
      margin: $grid-step * 3 auto;
      max-height: 900px;
    }
  }
}

.hub-post-layout__footer {
  background-color: $color-background;
  width: 100%;

  .hub-post-layout__footer-content {
    margin: auto;
    padding: 0 $page-side-padding;
    width: $page-width;

    &:not(:empty) {
      padding: $grid-step * 2 $page-side-padding $grid-step * 3;
    }
  }
}
