@import 'variables';

$transfer-input--border-width: 2px;

:host {
  $border-width: 2px;

  background-color: $color-background;
  border-color: transparent;
  border-radius: $border-radius;
  border-style: solid;
  border-width: $transfer-input--border-width;
  height: 100%;
  padding: $grid-step * 2 - $transfer-input--border-width;
  width: 100%;

  &.is-invalid.is-touched {
    border-color: currentColor;
    color: $color-negative;
  }

  &.is-disabled {
    .transfer-input__label,
    .transfer-input {
      color: $color-light-grey;
    }
  }
}

.transfer-input__label {
  color: $color-grey;
}

.transfer-input {
  background-color: inherit;
  color: $color-black;
  font: inherit;
  padding: 0;
  resize: none;
  width: 100%;

  &.mod-textarea {
    height: 48px;
  }
}
