<div
  class="transfer-input__label"
  [appTypeface]="isOpenedInPopup ? 'caption' : 'paragraph'"
>
  <ng-content></ng-content>
</div>

<ng-template [ngIf]="rows > 1" [ngIfThen]="textArea" [ngIfElse]="input"></ng-template>

<ng-template #textArea>
  <textarea
    class="transfer-input mod-textarea"
    [rows]="rows"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (input)="onTouched()"
    trim
  ></textarea>
</ng-template>

<ng-template #input>
  <input
    class="transfer-input"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (input)="onTouched()"
    appNumeric
    trim
  >
</ng-template>
