@import 'variables';

:host .hub-top-posts__post {
  border-radius: 0;
  cursor: pointer;

  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
