<form
  #ngForm="ngForm"
  autocomplete="off"
  [formGroup]="form"
  *transloco="let translate; read: translationsConfig.read; scope: translationsConfig.scope"
>
  <div class="row">
    <div class="radio-container col-xs-12">
      <div class="input-label">{{ translate('avatar.label') }}</div>

      <app-choose-avatar-radio [formControlName]="controlName.Avatar"></app-choose-avatar-radio>
    </div>

    <div class="input-container col-xs-12">
      <div class="input-label input-label__required">{{ translate('first_name.label') }}</div>

      <mat-form-field
        class="input-control"
        appearance="outline"
      >
        <input
          matInput
          [formControlName]="controlName.FirstName"
          maxlength="20"
          trim="blur"
        >

        <mat-error>
          <app-form-error [controlName]="controlName.FirstName" i18nControlKey="first_name"></app-form-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-container col-xs-12">
      <div class="input-label input-label__required">{{ translate('last_name.label') }}</div>

      <mat-form-field
        class="input-control"
        appearance="outline"
      >
        <input
          matInput
          [formControlName]="controlName.LastName"
          maxlength="20"
          trim="blur"
        >

        <mat-error>
          <app-form-error [controlName]="controlName.LastName" i18nControlKey="last_name"></app-form-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="radio-container col-xs-12">
      <div class="input-label">{{ translate('gender.label') }}</div>
      <mat-radio-group
        [formControlName]="controlName.Gender"
      >
        <mat-radio-button [value]="gender.Male">
          {{ translate('gender.male') }}
        </mat-radio-button>

        <mat-radio-button [value]="gender.Female">
          {{ translate('gender.female') }}
        </mat-radio-button>
      </mat-radio-group>

      <mat-error *ngIf="ngForm.submitted">
        <app-form-error [controlName]="controlName.Gender"></app-form-error>
      </mat-error>
    </div>

    <!-- TODO: temporary solution to disable birthday -->

    <div class="input-container col-xs-12">
      <div class="input-label">{{ translate('bio.label') }}</div>

      <mat-form-field
        class="input-control"
        appearance="outline"
      >
        <textarea
          matInput
          cdkTextareaAutosize
          [formControlName]="controlName.Bio"
          trim="blur"
        ></textarea>

        <mat-error>
          <app-form-error [controlName]="controlName.Bio"></app-form-error>
        </mat-error>
      </mat-form-field>
    </div>

    <ng-container
      *ngFor="let email of getArrayControl(controlName.Emails).controls; let index = index;"
      [ngTemplateOutlet]="emailControl"
      [ngTemplateOutletContext]="{
        $implicit: email.get(controlName.EmailValue),
        index: index,
        label: translate('email.label')
      }"
    ></ng-container>
  </div>
</form>

<ng-template
  #emailControl
  let-control
  let-index="index"
  let-label="label"
>
  <div class="input-container col-xs-12">
    <div class="input-label input-label__required">{{ label }} {{ index + 1 }}</div>

    <mat-form-field
      class="input-control icon-protected"
      appearance="outline"
    >
      <input
        matInput
        type="email"
        [formControl]="control"
        trim="blur"
      >

      <mat-error>
        <app-form-error [control]="control" i18nControlKey="email"></app-form-error>
      </mat-error>
    </mat-form-field>

    <ng-container
      [ngTemplateOutlet]="arrayControls"
      [ngTemplateOutletContext]="{
        $implicit: controlName.Emails,
        controlsLimit: maxAdditionalEmailsCount,
        index: index
      }"
    ></ng-container>
  </div>
</ng-template>

<ng-template
  #arrayControls
  let-arrayName
  let-controlsLimit="controlsLimit"
  let-index="index"
>
  <ng-template
    [ngIf]="!index"
    [ngIfThen]="addBtn"
    [ngIfElse]="removeBtn"
  ></ng-template>

  <ng-template #addBtn>
    <div
      *ngIf="getArrayControl(arrayName).length < controlsLimit"
      class="button__add"
      (click)="addArrayControl(arrayName)"
    ></div>
  </ng-template>

  <ng-template #removeBtn>
    <div
      class="button__remove"
      (click)="removeArrayControl(arrayName, index)"
    ></div>
  </ng-template>
</ng-template>
