<form
  autocomplete="off"
  [formGroup]="form"
  *transloco="let translate; read: translationsConfig.read; scope: translationsConfig.scope"
>
  <section class="profile-form__section">
    <div
      class="profile-form__section__title"
      appTypeface="subheader"
    >
      {{ translate('avatar.title') }}
    </div>

    <div
      class="profile-form__section__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('avatar.subtitle') }}
    </div>

    <div class="profile-form__inputs-container">
      <app-avatar-selector
        class="profile-form__avatar-selector"
        [formControlName]="controlName.Avatar"
      ></app-avatar-selector>
    </div>
  </section>

  <section class="profile-form__section">
    <div
      class="profile-form__section__title"
      appTypeface="subheader"
    >
      {{ translate('personal_info.title') }}
    </div>

    <div
      class="profile-form__section__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('personal_info.subtitle') }}
    </div>

    <div class="profile-form__inputs-container">
      <app-input-container class="profile-form__input-container">
        <app-input
          [maxlength]="20"
          [formControlName]="controlName.FirstName"
        >
          <ng-container ngProjectAs="[label]">{{ translate('first_name.label') }}</ng-container>
        </app-input>

        <app-form-error [controlName]="controlName.FirstName" i18nControlKey="first_name"></app-form-error>
      </app-input-container>

      <app-input-container class="profile-form__input-container">
        <app-input
          [maxlength]="20"
          [formControlName]="controlName.LastName"
        >
          <ng-container ngProjectAs="[label]">{{ translate('last_name.label') }}</ng-container>
        </app-input>

        <app-form-error [controlName]="controlName.LastName" i18nControlKey="last_name"></app-form-error>
      </app-input-container>
    </div>

    <div class="profile-form__inputs-container">
      <app-input-container class="profile-form__input-container">
        <app-input
          [maxlength]="70"
          [rows]="2"
          [formControlName]="controlName.Bio"
          [placeholder]="translate('bio.placeholder')"
        >
          <ng-container ngProjectAs="[label]">{{ translate('bio.label') }}</ng-container>
        </app-input>

        <app-form-error [controlName]="controlName.Bio"></app-form-error>
      </app-input-container>
    </div>

    <div class="profile-form__inputs-container">
      <app-input-container class="profile-form__input-container">
        <app-date-input
          [formControlName]="controlName.Birthday"
        >
          <ng-container ngProjectAs="[label]">{{ translate('birthday.label') }}</ng-container>
        </app-date-input>

        <app-form-error [controlName]="controlName.Birthday"></app-form-error>
      </app-input-container>

      <app-input-container class="profile-form__input-container">
        <app-gender-selector
          [formControlName]="controlName.Gender"
          [translations]="genderTranslations$ | async"
          [placeholder]="(genderTranslations$ | async)?.placeholder"
        >
          <ng-container ngProjectAs="[label]">{{ translate('gender.label') }}</ng-container>
        </app-gender-selector>

        <app-form-error [controlName]="controlName.Gender"></app-form-error>
      </app-input-container>
    </div>
  </section>

  <section class="profile-form__section">
    <div
      class="profile-form__section__title"
      appTypeface="subheader"
    >
      {{ translate('email.title') }}
    </div>

    <div class="profile-form__inputs-container" [formArrayName]="controlName.Emails">
      <app-input-container
        class="profile-form__input-container"
        formGroupName="0"
      >
        <app-input
          [formControlName]="controlName.EmailValue"
        >
          <ng-container ngProjectAs="[label]">{{ translate('email.label') }}</ng-container>
        </app-input>

        <app-form-error
          [controlName]="controlName.EmailValue"
          i18nControlKey="email"
        ></app-form-error>
      </app-input-container>
    </div>
  </section>
</form>
