@import '../../styles/variables';

:host {
  display: block;
}

.profile-form__section {
  & + & {
    margin-top: $grid-step * 5;
  }
}

.profile-form__section__title {
  font-weight: 500;
}

.profile-form__section__subtitle {
  margin-top: $grid-step;
}

.profile-form__inputs-container {
  column-gap: $grid-step * 2;
  display: flex;
  margin-top: $grid-step * 2;
  width: 100%;
}

.profile-form__input-container {
  width: 100%;
}
