<ng-container *transloco="let translate; read: 'vpn.vpn_page.nodes_expansion'">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let node of nodes; trackBy: trackByAddress">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg-icon
            class="nodes-expansion__flag-icon"
            [key]="countryNameToCode(node.location.country)"
            size="lg"
          ></svg-icon>
        </mat-panel-title>

        <mat-panel-description>
          <div
            class="nodes-expansion__title"
            appTypeface="paragraph"
          >
            {{ node.moniker }} | {{ node.location.country }}, {{ node.location.city }}

            <svg-icon
              *ngIf="node.subscriptions?.length"
              class="nodes-expansion__subscribed-icon"
              key="check"
              size="xs"
            ></svg-icon>
          </div>

          <div class="nodes-expansion__description" appTypeface="caption">
            {{ translate('price') }}: {{ node.price | appPrice }}/GB |
            {{ translate('upload_speed') }}: {{ node.bandwidth.upload | appBytesSize }}/s |
            {{ translate('download_speed') }}: {{ node.bandwidth.download | appBytesSize }}/s
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-nodes-expansion-connect
        *ngIf="node.subscriptions?.length; else connect"
        [node]="node"
      ></app-nodes-expansion-connect>

      <ng-template #connect>
        <app-nodes-expansion-subscribe
          [node]="node"
        ></app-nodes-expansion-subscribe>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
