<ng-container *transloco="let translate; read: 'portal.vpn_page.nodes_expansion'">
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let node of nodes; trackBy: trackByAddress"
      [expanded]="nodeHasSession(node)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg-icon
            class="nodes-expansion__flag-icon"
            [key]="countryNameToCode(node.location.country)"
            size="lg"
          ></svg-icon>
        </mat-panel-title>

        <mat-panel-description>
          <div
            class="nodes-expansion__title"
            appTypeface="paragraph"
          >
            {{ node.moniker }} | {{ node.location.country }}, {{ node.location.city }}

            <svg-icon
              *ngIf="node.subscriptions?.length"
              class="nodes-expansion__subscribed-icon"
              key="check"
              size="sm"
            ></svg-icon>

            <svg-icon
              *ngIf="nodeHasSession(node)"
              class="nodes-expansion__connected-icon"
              key="signal"
              size="sm"
            ></svg-icon>
          </div>

          <div class="nodes-expansion__description" appTypeface="caption">
            <div>
              {{ translate('peers') }}: {{ node.peers }} |
              {{ translate('address') }}: {{ node.address }}
            </div>

            <div>
              {{ translate('price') }}: {{ node.price | appPrice }}/GB |
              {{ translate('upload_speed') }}: {{ node.bandwidth.upload | appBytesSize }}/s |
              {{ translate('download_speed') }}: {{ node.bandwidth.download | appBytesSize }}/s
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-nodes-expansion-subscribe
          [node]="node"
          (subscribedToNode)="subscribedToNode.next()"
        ></app-nodes-expansion-subscribe>

        <ng-container *ngIf="node.subscriptions?.length > 0">
          <app-nodes-expansion-connect
            class="nodes-expansion__content-connect"
            *ngFor="let subscription of node.subscriptions"
            [node]="node"
            [subscription]="subscription"
            (sessionEnded)="sessionEnded.next()"
            (sessionStarted)="sessionStarted.next()"
            (subscriptionCancelled)="subscriptionCancelled.next()"
          ></app-nodes-expansion-connect>
        </ng-container>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
