@import '../../../styles/variables';

:host {
  --expansion-list--border: 2px solid #{$color-outlines};

  border-radius: $border-radius;
  display: grid;
  grid-template-rows: 100%;
  height: 100%;

  &.mod-bordered {
    border: 2px solid $color-outlines;

    .expansion-list__column + .expansion-list__column {
      border-left: var(--expansion-list--border);
    }
  }
}

.expansion-list__column {
  &.mod-hidden {
    display: none;
  }
}
