$hub-post-pdv-diagram--positive-color: #338374;
$hub-post-pdv-diagram--negative-color: #F0376B;

:host {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;

  &.mod-positive {
    color: $hub-post-pdv-diagram--positive-color;
  }

  &.mod-negative {
    color: $hub-post-pdv-diagram--negative-color;
  }
}

.hub-post-pdv-diagram__icon {
  display: inline-flex;
  height: auto;
  margin-right: 14px;
  max-width: 130px;
  width: auto;
}
