@import 'variables';

$hub-post-pdv-diagram--positive-color: #338374;
$hub-post-pdv-diagram--negative-color: #F0376B;

:host {
  align-items: center;
  display: inline-flex;
}

.hub-post-pdv-diagram__icon {
  display: inline-flex;
  height: auto;
  margin-right: $grid-step / 2;
  max-width: 40px;
  width: auto;
}
