<ng-template [ngIf]="!isPostOutletActivated">
  <a
    class="feed-page__logo"
    *appSlot="headerLogoSlotName"
    [routerLink]="['./']"
  >
    <svg-icon
      class="feed-page__logo-icon"
      key="logo-feed"
    ></svg-icon>
  </a>
</ng-template>

<ng-template [appSlot]="headerActionsSlotName">
  <button
    app-button
    *transloco="let translate"
    [routerLink]="['/', appRoute.Hub, hubRoute.PostCreate]"
  >
    <svg-icon key="edit"></svg-icon>

    <span>{{ translate('hub.posts.new') }}</span>
  </button>
</ng-template>

<app-hub-feed-navigation *ngIf="!isPostOutletActivated"></app-hub-feed-navigation>

<div class="feed-page__content-container" [class.mod-hidden]="isPostOutletActivated">
  <div class="feed-page__left-column">
    <router-outlet></router-outlet>
  </div>

  <div class="feed-page__right-column">
    <div
      class="feed-page__top-posts__header"
      *transloco="let translate; read: 'hub.feed_page'"
      appTypeface="subheader"
    >
      {{ translate('top_posts') }}
    </div>

    <app-hub-top-posts
      [category]="undefined"
      [routerLinkFn]="postLinkFn"
    ></app-hub-top-posts>
  </div>
</div>

<router-outlet
  name="post"
  (activate)="onPostOutletActivate()"
  (deactivate)="onPostOutletDeactivate()"
></router-outlet>
