<ng-template [ngIf]="!isPostOutletActivated">
  <svg-icon
    class="feed-page__header-logo-icon"
    *appSlot="headerLogoSlotName"
    key="logo-pink"
  ></svg-icon>
</ng-template>

<app-hub-feed-navigation *ngIf="!isPostOutletActivated"></app-hub-feed-navigation>

<div class="feed-page__content-container" [class.mod-hidden]="isPostOutletActivated">
  <div class="feed-page__left-column">
    <router-outlet></router-outlet>
  </div>

  <div>
    <div
      class="feed-page__top-posts__header"
      *transloco="let translate; read: 'hub.feed_page'"
      appTypeface="subheader"
    >
      {{ translate('top_posts') }}
    </div>

    <app-hub-top-posts
      [category]="undefined"
      [routerLinkFn]="postLinkFn"
    ></app-hub-top-posts>
  </div>
</div>

<router-outlet
  name="post"
  (activate)="onPostOutletActivate()"
  (deactivate)="onPostOutletDeactivate()"
></router-outlet>
