@import 'variables';

$feed-page--top-feed-header--background-color: #FFFFFF;
$feed-page--top-feed--no-posts--color: #9EA0A5;

:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.feed-page__content-container {
  column-gap: $grid-step * 3;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0 auto;
  padding: $page-side-padding;
  width: $page-width + $page-side-padding * 2;

  &.mod-hidden {
    display: none;
  }
}

.feed-page__left-column {
  grid-column: 1 / 4;
}

.feed-page__top-posts__header {
  $border-width: 1px;
  background: $color-white;
  border: $border-width solid $color-outlines;
  font-weight: 700;
  padding: $grid-step * 2;
  position: sticky;
  top: $grid-step;
  z-index: 1;

  &:before {
    background: $color-white;
    content: '';
    height: $grid-step * 2;
    left: -$border-width;
    position: absolute;
    top: -$grid-step - $border-width;
    width: calc(100% + #{$border-width} * 2);
  }

  &:after {
    background: $color-white;
    border: $border-width solid $color-outlines;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 0;
    content: '';
    height: $grid-step + $border-width;
    left: -$border-width;
    position: absolute;
    top: 0;
    width: calc(100% + #{$border-width} * 2);
  }
}

.feed-page__top-feed__header {
  background-color: $feed-page--top-feed-header--background-color;
  padding: 24px;
}

.feed-page__top-feed__posts-container {
  height: 100%;
  padding-bottom: 30px;
}

.feed-page__top-feed__no-posts {
  color: $feed-page--top-feed--no-posts--color;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
