<ng-container *transloco="let translate; read: 'hub.feed_page'">
  <div class="feed-page__wall">
    <app-hub-feed-navigation class="feed-page__wall-navigation"></app-hub-feed-navigation>

    <router-outlet></router-outlet>
  </div>

  <div class="feed-page__top-feed">
    <div class="feed-page__top-feed__header">{{ translate('top_feed') }}</div>

    <div class="feed-page__top-feed__posts-container">
      <ng-container *ngFor="let post of posts$ | async">
        <mat-divider></mat-divider>

<!--        <app-hub-short-post [post]="post"></app-hub-short-post>-->
      </ng-container>
    </div>
  </div>
</ng-container>
