@import 'variables';

$feed-page--top-feed-header--background-color: #FFFFFF;
$feed-page--top-feed--no-posts--color: #9EA0A5;

:host {
  background: #F2F2F2;
  display: flex;
  padding: 30px $page-side-padding 0;
  height: 100%;
}

.feed-page__wall,
.feed-page__top-feed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feed-page__wall {
  width: 60%;
}

.feed-page__wall-navigation {
  margin-bottom: 20px;
}

.feed-page__top-feed {
  margin-left: 30px;
  width: 40%;
}

.feed-page__top-feed__header {
  background-color: $feed-page--top-feed-header--background-color;
  padding: 24px;
}

.feed-page__top-feed__posts-container {
  height: 100%;
  overflow: auto;
  padding-bottom: 30px;
}

.feed-page__top-feed__no-posts {
  color: $feed-page--top-feed--no-posts--color;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
