@import 'variables';

:host {
  align-items: center;
  background-color: rgba(var(--color-dportal-staking-jailed), .08);
  border-radius: $border-radius;
  color: rgb(var(--color-dportal-staking-jailed));
  column-gap: $grid-half-step;
  display: inline-flex;
  padding: $grid-half-step $grid-step $grid-half-step $grid-half-step;

  &.mod-big {
    column-gap: $grid-step;
    padding: $grid-step $grid-step * 2 $grid-step $grid-step * 1.5;
  }
}
