<div class="container page-successful-registration">
  <div class="row">
    <div class="col-xs-12">
      <img class="image-congratulation" src="assets/images/congratulation.png" alt="Congratulation">
      <div class="page-title page-title__large">
        Congratulations
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span>You passed the test - keep your seed phrase safe, it's your responsibility!</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="page-subtitle">
            Tips on storing it safely:
          </div>

          <ul>
            <li>Save a backup in multiple places.</li>
            <li>Never share the phrase with anyone.</li>
            <li>Be careful of phishing! MetaMask will never spontaneously ask for your seed phrase.</li>
            <li>If you need to back up your seed phrase again, you can find it in <strong>Settings -> Security</strong>.
            </li>
            <li>If you ever have questions or see something fishy, email support@decentr.net</li>
          </ul>

          <p class="notice">*Decentr cannot recover your seed phrase. <a href="#" target="_blank">Learn more</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn__small"
                  mat-flat-button
                  color="accent"
                  [routerLink]="['/', appRoute.User]">
            ALL DONE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
