.page-successful-registration {
  margin-top: 4.5rem;

  .image-congratulation {
    width: 80px;
    margin-bottom: 1rem;
  }

  .page-subtitle {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2rem 0 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 13px;
      line-height: 1.5rem;

      &:before {
        content: "•";
        padding-right: 5px;
      }
    }
  }

  .notice {
    font-size: 13px;
    margin: 1.5rem 0;
  }
}
