@import 'variables';

:host {
  display: block;
  height: 100%;
  margin: 0 auto;
  padding: $grid-step * 2 $page-side-padding;
  width: $page-width + $page-side-padding * 2;
}

.portal-page__copy-wallet-button {
  background-color: $color-background;
  border-radius: $border-radius;
  color: $color-black;
  cursor: pointer;
  display: inline-flex;
  gap: $grid-step;
  padding: $grid-step * 1.5 $grid-step * 3 $grid-step * 1.5 $grid-step * 2;
  transition: background-color .3s ease;

  &:hover {
    background-color: $color-outlines;
  }
}
