@import 'variables';

:host {
  display: block;
  height: 100%;
  margin: 0 auto;

  &:not(.mod-popup-view) {
    padding: $grid-step * 2 $page-side-padding;
    width: $page-width + $page-side-padding * 2;
  }
}

.portal-page__logo {
  display: inline-flex;
}

.portal-page__logo-icon {
  height: 40px;
  width: 119px;
}
