<ng-container *transloco="let translate; read: 'portal.portal_page'">
  <app-portal-navigation></app-portal-navigation>

  <a
    class="portal-page__logo"
    *appSlot="headerLogoSlot"
    [routerLink]="['./']"
    [target]="isOpenedInPopup ? 'blank' : ''"
  >
    <div class="portal-page__logo-icon"></div>
  </a>

  <div
    *appSlot="headerActionsSlot"
    [cdkCopyToClipboard]="walletAddress$ | async"
    (cdkCopyToClipboardCopied)="onWalletAddressCopied()"
  >
    <button
      *appBrowserTabView
      app-button
      color="grey"
    >
      <svg-icon key="wallet"></svg-icon>

      {{ translate('copy_wallet_address') }}
    </button>

    <button
      *appBrowserPopupView
      app-icon-button
      color="grey"
    >
      <svg-icon key="wallet"></svg-icon>
    </button>
  </div>

  <ng-container *appBrowserTabView>
    <app-network-selector
      *appSlot="headerMetaSlot"
    ></app-network-selector>
  </ng-container>

  <router-outlet></router-outlet>
</ng-container>
