@import 'variables';

:host {
  display: block;
  height: 100%;
  margin: 0 auto;

  .mod-tab-view & {
    padding: $grid-step * 2 $page-side-padding;
    width: $page-width + $page-side-padding * 2;
  }
}

.portal-page__logo {
  cursor: pointer;
  display: inline-flex;
}

.portal-page__logo-icon {
  background-image: var(--logo-dhub-portal);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 120px;
}
