<ng-container *transloco="let translate; read: 'user.assets_history_list_item'">
  <div class="assets-history-list-item__container">
    <svg-icon
      class="assets-history-list-item__icon"
      [key]="item.role === 'recipient' ? 'receive-coin' : 'send-coin'"
    ></svg-icon>

    <div class="assets-history-list-item__details">
      <div class="assets-history-list-item__details-direction">
        {{ translate(item.role === 'recipient' ? 'received' : 'sent') }}
      </div>

      <div class="assets-history-list-item__details-wallet">
        <ng-container *ngIf="item.role === 'recipient'; else to">
          {{ translate('from') }}:
          <ng-container *ngTemplateOutlet="walletAddress; context: {$implicit: item.sender}"></ng-container>
        </ng-container>

        <ng-template #to>
          {{ translate('to') }}:
          <ng-container *ngTemplateOutlet="walletAddress; context: {$implicit: item.recipient}"></ng-container>
        </ng-template>
      </div>

      <ng-template #walletAddress let-walletAddress>
        <span
          [appCopyWalletAddress]="walletAddress"
          class="assets-history-list-item__details-wallet-address"
          [matTooltip]="translate('copy_wallet_address')"
        >
          {{ walletAddress }}
        </span>
      </ng-template>

      <div class="assets-history-list-item__details-date">
        {{ item.timestamp | date }}
      </div>
    </div>

    <div class="assets-history-list-item__amount">
      {{ item.amount.amount | microValue }}&nbsp;tDEC
    </div>
  </div>
</ng-container>
