$assets-history-list-item--icon-color: #4477e4;
$assets-history-list-item--details-span-color: #929292;

:host {
  display: flex;
  flex-direction: column;
}

.assets-history-list-item__container {
  padding: 15px 5px;
  display: grid;
  grid-template-columns: 26px 1fr 0.1fr;
  grid-gap: 10px;
  overflow: hidden;
}

.assets-history-list-item__icon {
  align-self: center;
  border: 1px solid $assets-history-list-item--icon-color;
  border-radius: 50%;
  display: inline-flex;
  font-size: 26px;
  padding: 4px;

  ::ng-deep svg {
    path {
      stroke: $assets-history-list-item--icon-color;
    }
  }
}

.assets-history-list-item__details {
  display: flex;
  flex-direction: column;
}

.assets-history-list-item__details-direction {
  font-size: 18px;
}

.assets-history-list-item__details-wallet {
  font-size: 10px;
  color: $assets-history-list-item--details-span-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 768px) {
    max-width: 11rem;
  }
}

.assets-history-list-item__details-date {
  font-size: 10px;
  color: $assets-history-list-item--details-span-color;
}

.assets-history-list-item__amount {
  align-self: center;
  display: inline-flex;
  font-size: 12px;
}
