<ng-container *appSlot="headerContentSlotName">
  <app-hub-navigation></app-hub-navigation>
</ng-container>

<app-hub-infinite-posts-container
  [canLoadMore]="canLoadMore$ | async"
  [isLoading]="isLoading$ | async"
  (loadMore)="loadMore()"
>
  <div class="posts-page__posts-grid-container">
    <app-hub-post-card
      class="posts-page__post"
      [class.a]="index === 1"
      *ngFor="let post of posts$ | async; let index=index; trackBy: trackByPostId"
      [post]="post"
      [disableCategory]="true"
      orientation="horizontal"
      [appHubPostDialog]="post.uuid"
    ></app-hub-post-card>
  </div>
</app-hub-infinite-posts-container>
