:host {
  display: block;
}

.posts-page__posts-grid-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  justify-content: center;
  margin: auto;

  &:after {
    content: '';
    flex: auto;
  }
}

.posts-page__post {
  //height: 450px;
}
