@import 'colors';
@import 'variables';

$hub-posts-page--gap: $grid-step * 3;
$hub-posts-page--columns: repeat(4, minmax(0, 1fr));

:host {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.posts-page__spinner {
  margin: $page-side-padding auto;
}

.posts-page__container {
  display: grid;
  gap: $hub-posts-page--gap;
  grid-template-areas: 'top  top  top  top'
                       'left left left right';
  grid-template-columns: $hub-posts-page--columns;
  padding: $page-side-padding;
  width: $page-width + $page-side-padding * 2;
}

.posts-page__section-top {
  grid-area: top;
}

.posts-page__section-left {
  grid-area: left;
}

.posts-page__section-right {
  grid-area: right;
}

.posts-page__posts-grid-container {
  gap: $hub-posts-page--gap;
  display: grid;
  grid-template-columns: $hub-posts-page--columns;
}

.posts-page__post-card {
  cursor: pointer;
}

.posts-page__horizontal-post {
  border-top: 1px solid $color-outlines;
  padding: ($grid-step * 2) 0;
}

.posts-page__top-posts__header {
  $border-width: 1px;
  background: $color-white;
  border: $border-width solid $color-outlines;
  font-weight: 700;
  padding: $grid-step * 2;
  position: sticky;
  top: $grid-step;
  z-index: 1;

  &:before {
    background: $color-white;
    content: '';
    height: $grid-step * 2;
    left: -$border-width;
    position: absolute;
    top: -$grid-step - $border-width;
    width: calc(100% + #{$border-width} * 2);
  }

  &:after {
    background: $color-white;
    border: $border-width solid $color-outlines;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 0;
    content: '';
    height: $grid-step + $border-width;
    left: -$border-width;
    position: absolute;
    top: 0;
    width: calc(100% + #{$border-width} * 2);
  }
}
