$hub-post-pdv--positive-color: #338374;
$hub-post-pdv--negative-color: #F0376B;

:host {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;

  &.mod-positive {
    color: $hub-post-pdv--positive-color;
  }

  &.mod-negative {
    color: $hub-post-pdv--negative-color;
  }
}

.hub-post-pdv__dynamics-icon {
  margin-right: 14px;
  width: 130px;
}
