$circle-short-post--background-color: #FFFFFF;

:host {
  background-color: $circle-short-post--background-color;
  display: block;
  font-size: 14px;
  padding: 24px;
}

.circle-short-post__header {
  display: flex;
  justify-content: space-between;
}

.circle-short-post__header-section {
  display: flex;
}

.circle-short-post__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  overflow: hidden;
}

.circle-short-post__content {
  line-height: 22px;
  margin-top: 10px;
}
