<ng-container *transloco="let translate; read: 'hub.hub_dashboard'">
  <div
    class="hub-dashboard__title"
    appTypeface="header-4"
  >
    {{ translate('your_dashboard') }}
  </div>

  <div class="hub-dashboard__statistics-container">
    <app-hub-pdv-statistics [estimatedBalance]="estimatedBalance$ | async" [statistics]="pdvStatistics"></app-hub-pdv-statistics>
    <app-hub-currency-statistics [statistics]="rateStatistics$ | async"></app-hub-currency-statistics>
    <app-hub-additional-statistics></app-hub-additional-statistics>
  </div>
</ng-container>
