@import 'variables';

:host {
  background: $color-white;
  padding: $grid-step * 3;
  width: 100%;
}

.hub-dashboard__title {
  font-weight: 700;
}

.hub-dashboard__statistics-container {
  display: grid;
  gap: $grid-step * 3;
  grid-template-columns: repeat(2, minmax(0, 1fr)) minmax(0, 2fr);
}
