@import 'variables';

:host {
  display: block;
}

.settings-page__header {
  align-items: center;
  column-gap: $grid-step * 2;
  display: flex;
  font-weight: 500;
}

.settings-page__divider {
  border-bottom: 2px solid $color-outlines;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.settings-page__content__title {
  font-weight: 500;
}

.settings-page__content__subtitle {
  margin-bottom: $grid-step * 2;
  margin-top: $grid-step / 2;
}

.settings-page__content__warning {
  align-items: center;
  background: rgba($color-negative, .12);
  border-radius: $border-radius;
  color: $color-negative;
  column-gap: $grid-step;
  display: flex;
  margin-top: $grid-step * 2;
  padding: $grid-step * 1.5;
}
