<ng-container *transloco="let translate; read: 'user.settings_page'">
  <div class="settings-page__header">
    <button
      app-button-back
      [routerLink]="['../']"
    ></button>

    <div appTypeface="subheader">
      {{ translate('title') }}
    </div>
  </div>

  <div class="settings-page__divider"></div>

  <app-pdv-types-settings [translations]="translations$ | async"></app-pdv-types-settings>

  <app-lock-delay-settings class="settings-page__lock-delay-settings"></app-lock-delay-settings>
</ng-container>
