@import 'variables';

:host {
  display: block;
}

.settings-page__header {
  align-items: center;
  column-gap: $grid-step * 2;
  display: flex;
  font-weight: 500;
}

.settings-page__divider {
  border-bottom: 2px solid $color-outlines;
  margin: $grid-step * 2 (-$grid-step * 2);
}
