@import '../../../styles/variables';

:host {
  background-color: var(--color-input-background);
  border-radius: $border-radius;
  display: block;
  padding: $grid-step * 2;
  width: 100%;

  &.is-invalid {
    &.is-submitted,
    &.is-touched {
      .input__label {
        color: var(--color-input-invalid-color);
      }
    }
  }

  &.is-disabled {
    .input__label,
    .input {
      color: var(--color-input-disabled-text);
      pointer-events: none;
    }
  }
}

.input__label {
  color: var(--color-input-label);
  display: flex;
  justify-content: space-between;
}

.input__container {
  column-gap: $grid-step * 2;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}

::ng-deep {
  mat-select {
    .mat-select-placeholder {
      color: var(--color-input-placeholder);
      font-weight: 400;
    }

    .mat-select-value {
      color: var(--color-main-text);
    }

    .mat-select-arrow {
      color: var(--color-input-icon);
    }
  }
}
