<div
  class="sign-up-page__card"
  *transloco="let translate; read: 'sign_up.sign_up_page'"
  [ngSwitch]="activeTab"
>
  <div appTypeface="subheader">
    <span class="sign-up-page__card__title">
      {{ translate('title') }}
    </span>

    <span class="sign-up-page__card__step">
      {{ translate('step') }} {{ activeTab === tab.SeedPhrase ? 1 : 2 }}/2
    </span>
  </div>

  <div class="sign-up-page__card__divider"></div>

  <ng-container *ngSwitchCase="tab.SeedPhrase">
    <app-seed-phrase
      [seedPhrase]="seedPhrase"
      (back)="navigateBack()"
      (next)="switchTab(tab.AccountForm)"
    ></app-seed-phrase>
  </ng-container>

  <ng-container *ngSwitchCase="tab.AccountForm">
    <app-account-form
      (back)="navigateBack()"
      (submitted)="onSubmitAccountForm($event)"
    ></app-account-form>
  </ng-container>
</div>
