<ng-template [appSlot]="headerActionsSlotName">
  <button
    app-hub-header-action-button
    *transloco="let translate"
    [icon]="'publish'"
    (click)="createPost()"
    [attr.form]="formId"
  >
    {{ translate('hub.posts.publish') }}
  </button>
</ng-template>

<ng-template [appSlot]="headerLogoSlotName">
  <svg-icon class="post-create-page__header-logo-icon" key="logo"></svg-icon>
</ng-template>

<app-hub-post-editor
  [formId]="formId"
  [formControl]="postControl"
></app-hub-post-editor>
