@use 'sass:math';
@import 'variables';

$hub-post-editor--text-image-uploader-icon-container-size: 44px;

:host {
  display: block;
  padding-bottom: $grid-step * 5;

  .hub-post-editor__category-select {
    color: $color-dark-grey;
  }

  &.mod-has-preview-image {
    .hub-post-editor__category-select,
    .hub-post-editor__title-control,
    .hub-post-editor__title-control::placeholder {
      color: $color-white;
    }
  }
}

.hub-post-editor__post-layout {
  position: relative;
}

.hub-post-editor__title-control {
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  min-height: 80px;
  padding: 0;
  width: 100%;
}

.hub-post-editor__preview-image-uploader {
  align-items: center;
  column-gap: $grid-step;
  display: grid;
  grid-template-areas: 'icon title'
                       'empty subtitle';
  grid-template-columns: min-content max-content;
  row-gap: $grid-half-step;
  width: max-content;

  &.mod-empty {
    color: $color-grey;

    &:hover {
      .hub-post-editor__preview-image-uploader__icon-container,
      .hub-post-editor__preview-image-uploader__title {
        color: $color-dark-grey;
      }
    }
  }

  &.mod-filled {
    .hub-post-editor__preview-image-uploader__icon-container {
      align-items: center;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
    }

    .hub-post-editor__preview-image-uploader__title,
    .hub-post-editor__preview-image-uploader__subtitle {
      color: $color-white;
    }
  }
}

.hub-post-editor__preview-image-uploader__icon-container {
  cursor: pointer;
  display: inline-flex;
  grid-area: icon;
  height: $grid-step * 3;
  width: $grid-step * 3;
}

.hub-post-editor__preview-image-uploader__icon {
  display: inline-flex;
}

.hub-post-editor__preview-image-uploader__title {
  cursor: pointer;
  font-weight: 700;
  grid-area: title;
}

.hub-post-editor__preview-image-uploader__subtitle {
  grid-area: subtitle;
}

.hub-post-editor__preview-image-uploader__subtitle-clickable {
  cursor: pointer;
  font-weight: 700;
}

.hub-post-editor__text-image-uploader {
  align-items: center;
  color: $color-light-grey;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  row-gap: $grid-step;
  top: 100%;

  &.mod-moved {
    margin-top: calc(-#{math.div($hub-post-editor--text-image-uploader-icon-container-size, 4)});
  }

  &.mod-limit-reached {
    pointer-events: none;

    .hub-post-editor__text-image-icon {
      color: $color-outlines;
    }
  }
}

.hub-post-editor__text-image-icon-container {
  align-items: center;
  background-color: $color-background;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-flex;
  height: $hub-post-editor--text-image-uploader-icon-container-size;
  justify-content: center;
  width: $hub-post-editor--text-image-uploader-icon-container-size;

  &:hover {
    background-color: $color-outlines;

    .hub-post-editor__text-image-icon {
      color: $color-dark-grey;
    }
  }

  .hub-post-editor__text-image-icon {
    color: $color-grey;
    display: inline-flex;
    font-size: $grid-step * 2.5;
  }
}

.hub-post-editor__editor {
  min-height: 12em;
}
