<ng-container *transloco="let translate; read: 'hub.hub_post_editor'">
  <app-hub-post-layout
    [headerBackgroundImage]="previewImage && 'url(' + previewImage + ')'"
    [formGroup]="form"
  >
    <app-hub-category-select
      class="hub-post-editor__category-select"
      ngProjectAs="[category]"
      formControlName="category"
    ></app-hub-category-select>

    <textarea
      class="hub-post-editor__title-control"
      ngProjectAs="[title]"
      formControlName="title"
      maxlength="150"
      [placeholder]="translate('title.placeholder')"
      trim="blur"
      appAutoFocus
      (keydown.enter)="preventEvent($event)"
    ></textarea>

    <div ngProjectAs="[headerContent]">
      <ng-template [ngTemplateOutlet]="previewImage ? imageUploaderFilled : imageUploaderEmpty"></ng-template>
    </div>

    <div
      class="hub-post-editor__text-image-uploader"
      [class.mod-moved]="textImagePositionTop > 0"
      [class.mod-limit-reached]="imageLimitReached$ | async"
      [style.top.px]="textImagePositionTop"
      ngProjectAs="[contentLeftColumn]"
    >
      <div
        #textImageUploaderElement
        class="hub-post-editor__text-image-icon-container"
        appHubImageUploader
        #textImageUploader="appHubImageUploader"
      >
        <svg-icon class="hub-post-editor__text-image-icon" key="add-image"></svg-icon>
      </div>

      <div appTypeface="caption">{{ imagesCount$ | async }} / {{ maxImagesCount }}</div>
    </div>

    <app-hub-post-text-editor
      [imageSource]="textImageUploader.uploaded"
      [ignoreSelectionReset]="[textImageUploaderElement]"
      (cursorPositionTopChange)="onTextCursorPositionChange($event)"
      ngProjectAs="[contentMainColumn]"
      formControlName="text"
    ></app-hub-post-text-editor>
  </app-hub-post-layout>

  <ng-template #imageUploaderEmpty>
    <div class="hub-post-editor__preview-image-uploader mod-empty">
      <div
        class="hub-post-editor__preview-image-uploader__icon-container"
        (appHubImageUploader)="onTitleImageUpload($event)"
      >
        <svg-icon class="hub-post-editor__preview-image-uploader__icon" key="add-image"></svg-icon>
      </div>

      <div
        class="hub-post-editor__preview-image-uploader__title"
        appTypeface="paragraph"
        (appHubImageUploader)="onTitleImageUpload($event)"
      >
        {{ translate('image_uploader.empty.title') }}
      </div>

      <div class="hub-post-editor__preview-image-uploader__subtitle" appTypeface="caption">
        {{ translate('image_uploader.empty.subtitle') }}
      </div>
    </div>
  </ng-template>

  <ng-template #imageUploaderFilled>
    <div class="hub-post-editor__preview-image-uploader mod-filled">
      <div
        class="hub-post-editor__preview-image-uploader__icon-container"
        (click)="clearPreviewImage()"
      >
        <svg-icon class="hub-post-editor__preview-image-uploader__icon" key="close"></svg-icon>
      </div>

      <div
        class="hub-post-editor__preview-image-uploader__title"
        appTypeface="paragraph"
        (click)="clearPreviewImage()"
      >
        {{ translate('image_uploader.filled.title') }}
      </div>

      <div class="hub-post-editor__preview-image-uploader__subtitle" appTypeface="caption">
        {{ translate('image_uploader.filled.subtitle.or') }}
        <span
          class="hub-post-editor__preview-image-uploader__subtitle-clickable"
          (appHubImageUploader)="onTitleImageUpload($event)"
        >
          {{ translate('image_uploader.filled.subtitle.change') }}
        </span>
        {{ translate('image_uploader.filled.subtitle.to_another') }}
      </div>
    </div>
  </ng-template>
</ng-container>
