@import 'variables';

:host {
  border-radius: $border-radius;
  color: var(--color-dhub-statistics);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.hub-statistics-card__float-container {
  left: $grid-step * 2;
  pointer-events: none;
  position: absolute;
  top: $grid-step * 2;
  z-index: 1;
}

.hub-statistics-card__title {
  font-weight: 700;
}

.hub-statistics-card__subtitle {
}

.hub-statistics-card__rate {
  align-items: baseline;
  display: inline-flex;
  font-weight: 700;
  margin-top: $grid-step * 1.5;
  pointer-events: all;
}

.hub-statistics-card__changed {
}

.hub-statistics-card__content-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
