<div class="hub-statistics-card__float-container">
  <div class="hub-statistics-card__title" appTypeface="paragraph">
    <ng-content select="title"></ng-content>
  </div>

  <div class="hub-statistics-card__subtitle" appTypeface="caption">
    <ng-content select="subtitle"></ng-content>
  </div>

  <div class="hub-statistics-card__rate">
    <ng-content select="rate"></ng-content>
  </div>

  <div class="hub-statistics-card__changed">
    <ng-content select="changed"></ng-content>
  </div>
</div>

<div class="hub-statistics-card__content-container">
  <ng-content></ng-content>
</div>
