@import 'variables';

:host {
  color: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hub-statistics-card__float-container {
  left: 0;
  padding: $grid-step * 2;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hub-statistics-card__title {
  font-weight: 700;
}

.hub-statistics-card__subtitle {
  margin-top: 7px;
}

.hub-statistics-card__rate {
  align-items: baseline;
  display: inline-flex;
  font-weight: 700;
  margin-top: 14px;
}

.hub-statistics-card__changed {

}

.hub-statistics-card__content-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
