<ng-container *transloco="let translate; read: 'hub.hub_infinite_posts_container'">
  <ng-content></ng-content>

  <div class="hub-infinite-posts-container__loading-container">
    <ng-template [ngIf]="isLoading" [ngIfElse]="loadMoreSource">
      <app-spinner></app-spinner>
    </ng-template>
  </div>

  <ng-template #loadMoreSource>
    <ng-template [ngIf]="canLoadMore">
      <div
        *ngIf="useIntersection"
        appIntersectionTarget
        (intersect)="onLoadMoreClick()"
      ></div>

      <button
        app-hub-load-more-button
        *ngIf="!useIntersection"
        (click)="onLoadMoreClick()"
      >
        {{ translate('load_more_posts') }}
      </button>
    </ng-template>
  </ng-template>
</ng-container>
