@import 'variables';
:host {
  display: block;
}

.hub-infinite-posts-container__loading-container {
  display: flex;
  justify-content: center;

  &:not(:empty) {
    margin-top: $grid-step * 1.5;
  }
}
