@import '../../../styles/variables';

:host {
  background-color: var(--color-input-background);
  border-radius: $border-radius;
  display: block;
  padding: $grid-step * 2;
  width: 100%;

  &.is-submitted,
  &.is-touched {
    &.mod-warning {
      .input__label {
        color: var(--color-input-label-warning);
      }
    }

    &.is-invalid {
      .input__label {
        color: var(--color-input-label-invalid);
      }
    }
  }

  &.is-disabled {
    .input {
      color: var(--color-input-disabled-text);
      pointer-events: none;
    }
  }

  &.is-empty {
    .input__eye {
      color: var(--color-input-icon);
    }
  }

  &.has-eye {
    .input__container {
      grid-template-columns: minmax(0, 1fr) min-content;
    }
  }
}

.input__label {
  color: var(--color-input-label);
  display: flex;
  justify-content: space-between;
}

.input__container {
  column-gap: $grid-step * 2;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-content: space-between;
  margin-top: $grid-step;

  &:not(:last-child) {
    margin-bottom: $grid-step;
  }
}

.input__eye {
  color: var(--color-input-icon);
  cursor: pointer;
  flex-shrink: 0;
}

.input {
  background-color: inherit;
  color: var(--color-input-text);
  font: inherit;
  font-weight: 500;
  padding: 0;
  resize: none;
  text-align: inherit;
  width: 100%;

  &::placeholder {
    color: var(--color-input-placeholder);
    font-weight: normal;
  }

  &.mod-textarea {
    &[type=password] {
      -webkit-text-security: disc;
    }
  }
}

.input__footer {
  color: var(--color-input-footer);
  display: none;

  &.mod-visible {
    display: block;
    margin-top: $grid-step;
  }
}
