<div class="container page-new-user">
  <div class="row">
    <div class="col-xs-12 page-title text-center">
      New to Decentr?
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 item">
      <mat-card class="text-center">
        <div class="icon"
             aria-label="Import Account"
             [resolveSVGUrl]="false"
             [inlineSVG]="'assets/images/icons/import.svg'">
        </div>
        <mat-card-title>
          No, I already have a seed phrase
        </mat-card-title>

        <mat-card-subtitle>
          Import your existing account using a 12 word seed phrase
        </mat-card-subtitle>

        <button class="btn btn__middle"
                mat-flat-button
                color="accent"
                [routerLink]="['../', publicRoute.ImportAccount]">
          Import Account
        </button>
      </mat-card>
    </div>

    <div class="col-xs-6 item">
      <mat-card class="text-center">
        <div class="icon"
             aria-label="Import Account"
             [resolveSVGUrl]="false"
             [inlineSVG]="'/assets/images/icons/plus.svg'">
        </div>

        <mat-card-title>
          Yes, create an account
        </mat-card-title>

        <mat-card-subtitle>
          This will create a new wallet and seed phrase
        </mat-card-subtitle>

        <button class="btn btn__middle"
                mat-flat-button
                color="accent"
                [routerLink]="['/', appRoute.SignUp]">
          Create an Account
        </button>
      </mat-card>
    </div>
  </div>
</div>
