<div
  class="container page-new-user"
  *transloco="let translate; read: 'welcome.new_user_page'"
>
  <div class="row">
    <div class="col-xs-12 page-title text-center">
      {{ translate('title') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 item">
      <mat-card class="text-center">
        <div>
          <div class="icon"
               aria-label="Import Account"
               [resolveSVGUrl]="false"
               [inlineSVG]="'assets/images/icons/import.svg'">
          </div>
          <mat-card-title>
            {{ translate('import.title') }}
          </mat-card-title>

          <mat-card-subtitle>
            {{ translate('import.subtitle') }}
          </mat-card-subtitle>
        </div>

        <div>
          <button class="btn btn__middle"
                  mat-flat-button
                  color="accent"
                  [routerLink]="['/', appRoute.Login, loginRoute.Import]">
            {{ translate('import.button') }}
          </button>
        </div>
      </mat-card>
    </div>

    <div class="col-xs-6 item">
      <mat-card class="text-center">
        <div>
          <div class="icon"
               aria-label="Import Account"
               [resolveSVGUrl]="false"
               [inlineSVG]="'/assets/images/icons/plus.svg'">
          </div>

          <mat-card-title>
            {{ translate('create.title') }}
          </mat-card-title>

          <mat-card-subtitle>
            {{ translate('create.subtitle') }}
          </mat-card-subtitle>
        </div>

        <div>
          <button class="btn btn__middle"
                mat-flat-button
                color="accent"
                [routerLink]="['/', appRoute.SignUp]">
          {{ translate('create.button') }}
         </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
