$hub-post-analytics--background-color: #FFFFFF;
$hub-post-analytics--pdv-increase-color: #328374;

:host {
  background-color: $hub-post-analytics--background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hub-post-analytics-card__pdv {
  padding: 16px 24px;
}
