@import '../../styles/variables';

:host {
  color: var(--color-input-label-invalid);
  display: block;
}

.form-error__container {
  &.mod-warning {
    color: var(--color-input-label-warning);
  }
}
