::ng-deep .cdk-overlay-container .profile-selector__menu {
  user-select: none;
  background: #2A2A2A;
  color: #ffffff;
  min-width: 330px;
}

.profile-image {
  position: relative;
  border-radius: 50%;
  border: 2px solid #4476e4;
  background: #333333;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all .2s ease;

  &:before {
    content: '';
    position: absolute;
    top: 17%;
    left: 18%;
    background: #50C8A6;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 57%;
    left: 54%;
    background: #D26694;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  &:hover {
    transform: rotate(90deg);

    &:before {
      transition: all .25s ease;
      animation: rotateProfileImageBefore 1s;
    }

    &:after {
      transition: all .15s ease;
      animation: rotateProfileImageAfter 1s;
    }
  }
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 15px;
  border-bottom: 1px solid #5D5D5D;

  .button-lock {
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    background: transparent;
    padding: 4px 23px;
    cursor: pointer;
  }
}

.menu__items {
  .menu-item {
    position: relative;
    padding: 15px 10px 15px 45px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #373737;
    }

    &__active {
      &:before {
        content: "";
        width: 30px;
        position: absolute;
        left: 0;
        height: 2px;
        background: white;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .name {
      max-width: 240px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .rate {
      font-size: 14px;
      color: #929292;
    }
  }

  .profile-image {
    zoom: .6;
    margin-right: 15px;
  }
}

.menu__footer {
  border-top: 1px solid #5D5D5D;
  padding-top: 10px;

  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      background: #373737;
    }

    span {
      font-size: 10px;
      margin-top: -10px;
      margin-left: 5px;
      font-style: italic;
    }

    .icon {
      margin-right: 10px;

      ::ng-deep svg {
        width: 22px;
        height: 22px;

        * {
          stroke: #ffffff;
        }
      }
    }

    &__disabled {
      cursor: default;
      color: #8C8888;

      &:hover {
        background: transparent;
      }

      .icon ::ng-deep svg {
        * {
          stroke: #8C8888;
        }
      }
    }
  }
}

@keyframes rotateProfileImageBefore {
  16% {
    transform: translateX(5px) translateY(-5px);
    animation-timing-function: ease-out;
  }

  48% {
    transform: translateX(10px) translateY(5px);
    animation-timing-function: ease-out;
  }

  78% {
    transform: translateX(5px) translateY(10px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: ease-out;
  }
}

@keyframes rotateProfileImageAfter {
  16% {
    transform: translateX(-5px) translateY(5px);
    animation-timing-function: ease-out;
  }

  48% {
    transform: translateX(-10px) translateY(-5px);
    animation-timing-function: ease-out;
  }

  78% {
    transform: translateX(-5px) translateY(-10px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    animation-timing-function: ease-out;
  }
}
