<div
  class="profile-image"
  [matMenuTriggerFor]="menuTemplate">
</div>

<mat-menu
  #menuTemplate
  class="profile-selector__menu"
>
  <div class="menu-wrapper">
    <div class="menu__header">
      <div class="menu-title">My Accounts</div>
      <button class="button-lock">Lock</button>
    </div>

    <div class="menu__items">
      <div class="menu-item menu-item__active">
        <div class="profile-image"></div>
        <div>
          <div class="name">Vaskovsky Vasily Nikolaevich</div>
          <div class="rate">1.001 PDV</div>
        </div>
      </div>
    </div>

    <div class="menu__footer">
      <div class="menu-item"
           [class.menu-item__disabled]="true">
        <div class="icon"
             aria-label="Import Account"
             [resolveSVGUrl]="false"
             [inlineSVG]="'/assets/images/icons/import.svg'">
        </div>
        Import Account <span>(coming soon)</span>
      </div>
      <div class="menu-item">
        <div class="icon"
             aria-label="Import Account"
             [resolveSVGUrl]="false"
             [inlineSVG]="'/assets/images/icons/information.svg'">
        </div>
        Info & Help
      </div>
    </div>
  </div>
</mat-menu>
