$hub-pdv-statistics--pdv-color: #354052;
$hub-pdv-statistics--pdv-change-color: #9EA0A5;
$hub-pdv-statistics--no-data-color: #9EA0A5;

:host {
  display: block;
}

.hub-pdv-statistics__card {
  height: 100%;
}

.hub-pdv-statistics__pdv {
  color: $hub-pdv-statistics--pdv-color;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  margin-top: 14px;
}

.hub-pdv-statistics__pdv-change {
  color: $hub-pdv-statistics--pdv-change-color;
}

.hub-pdv-statistics__chart {
  margin-top: 28px;
  height: 80px;
}

.hub-pdv-statistics__no-data {
  color: $hub-pdv-statistics--no-data-color;
  font-size: 14px;
  text-align: center;
  margin-top: 28px;
}
