<app-hub-statistics-card
  class="hub-pdv-statistics__card"
  *transloco="let translate; read: 'hub.hub_pdv_statistics'"
>
  <ng-container ngProjectAs="title">
    {{ translations?.pdv || translate('my_pdv') }}
  </ng-container>

  <ng-container *ngIf="statistics" ngProjectAs="subtitle">
    {{ translations?.from || translate('activity_from') }} {{ statistics.fromDate | date }}
  </ng-container>

  <ng-container *ngIf="statistics" ngProjectAs="rate">
    <div
      *ngIf="estimatedBalance; else pdvValue"
      [matTooltip]="translate('estimated_balance', { estimatedBalance: estimatedBalance })"
    >
      <ng-template [ngTemplateOutlet]="pdvValue"></ng-template>
    </div>

    <ng-template #pdvValue>
      {{ statistics.pdv | pdvValue }}
    </ng-template>
  </ng-container>

  <ng-container *ngIf="statistics" ngProjectAs="changed">
    <div class="hub-pdv-statistics__pdv-change" appTypeface="caption">
      <span class="hub-pdv-statistics__pdv-direction">
        <ng-container *ngIf="!isNeutral else notChangedPDV">
          {{ isPositive ? '+' : '' }}{{ statistics.pdvChangedIn24HoursPercent | number : '1.0-5' }}%
        </ng-container>

        <ng-template #notChangedPDV>
          {{ translate('pdv_change.no_change') }}
        </ng-template>
      </span>

      {{ translate('pdv_change.last_hours') }}
    </div>
  </ng-container>

  <ng-container *ngIf="statistics; else loader">
    <app-line-chart
      *ngIf="statistics.points.length > 1; else noData"
      class="hub-pdv-statistics__chart"
      color="#A954A0"
      [data]="statistics.points"
      [lineWidth]="4"
      [showArea]="true"
      [showHoverLine]="true"
      [showTooltip]="true"
    >
      <div
        *appLineChartTooltip="let chartPoint"
        class="hub-pdv-statistics__tooltip"
      >
        {{ chartPoint.value | pdvValue }} PDV
        <div class="hub-pdv-statistics__tooltip-date">
          {{ chartPoint.date | date }}
        </div>
      </div>
    </app-line-chart>

    <ng-template #noData>
      <div class="hub-pdv-statistics__no-data" appTypeface="caption">
        <ng-container *ngIf="statistics.points.length === 1">{{ translate('not_enough_chart_data') }}</ng-container>
        <ng-container *ngIf="statistics.points.length < 1">{{ translate('no_chart_data') }}</ng-container>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loader>
    <div class="hub-pdv-statistics__loader-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</app-hub-statistics-card>
