<form
  class="import-restore-page__form"
  *transloco="let translate; read: 'login.import_restore_page'"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  appSubmitSource
>
  <section class="import-restore-page__section">
    <div
      class="import-restore-page__section__title"
      appTypeface="subheader"
    >
      {{ translate('form.seed.title') }}
    </div>

    <div
      class="import-restore-page__section__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('form.seed.subtitle') }}
    </div>

    <app-input-container class="import-restore-page__field">
      <app-input
        class="import-restore-page__input"
        type="password"
        rows="2"
        formControlName="seedPhrase"
      >
        <ng-container ngProjectAs="[label]">
          {{ translate('form.seed.label') }}
        </ng-container>
      </app-input>

      <app-form-error controlName="seedPhrase" i18nControlKey="seed"></app-form-error>
    </app-input-container>
  </section>

  <section class="import-restore-page__section">
    <div
      class="import-restore-page__section__title"
      appTypeface="subheader"
    >
      {{ translate('form.password.title') }}
    </div>

    <div
      class="import-restore-page__section__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('form.password.subtitle') }}
    </div>

    <app-password-form
      class="import-restore-page__field"
      formControlName="password"
      [required]="true"
      [translationsConfig]="{ read: 'login.import_restore_page.form' }"
    ></app-password-form>
  </section>

  <div class="import-restore-page__divider"></div>

  <div class="import-restore-page__actions">
    <button
      class="import-restore-page__action-button"
      app-button
      color="grey"
      size="md"
      (click)="navigateBack()"
    >
      {{ translate('back') }}
    </button>

    <button
      class="import-restore-page__action-button"
      app-button
      color="primary"
      size="md"
      type="submit"
    >
      {{ translate('submit') }}
    </button>
  </div>
</form>
