@import '../../../styles/variables';

:host {
  background-color: var(--color-input-background);
  border-radius: $border-radius;
  display: block;
  padding: $grid-step * 2;
  width: 100%;

  &.is-invalid {
    &.is-submitted,
    &.is-touched {
      .input__label {
        color: var(--color-input-invalid-color);
      }
    }
  }

  &.is-disabled {
    .input__label,
    .input {
      color: var(--color-input-disabled-text);
      pointer-events: none;
    }
  }
}

.input__label {
  color: var(--color-input-label);
  display: flex;
  justify-content: space-between;
}

.input {
  background-color: inherit;
  color: var(--color-main-text);
  font: inherit;
  font-weight: 500;
  padding: 0;
  width: 100%;

  &::placeholder {
    color: var(--color-input-placeholder);
    font-weight: normal;
  }
}
