:host {
  display: block;
  position: relative;
}

.chart {
  height: inherit;
  position: relative;
}

.tooltip {
  border-radius: 4px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
  visibility: hidden;
  z-index: 1;
}
