:host {
  display: block;
  position: relative;
}

.chart {
  height: inherit;
  position: relative;
}

.tooltip {
  background: #FFFFFF;
  border-radius: 4px;
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
  visibility: hidden;
  z-index: 1;
}
