<app-expansion-list
  class="assets-page__expansion-list"
  *transloco="let translate; read: 'portal.assets_page'"
  [data]="assetsList$ | async"
  [border]="isOpenedInTab"
  [singleColumnMode]="!isOpenedInTab"
  appIntersectionArea
>
  <ng-container
    appExpansionListColumnDef
    [appExpansionListColumnDefChooseFirst]="isOpenedInTab"
  >
    <div
      class="assets-page__tokens-header-cell"
      *appExpansionListHeaderCellDef
    >
      {{ translate('tokens') }}

      <div class="assets-page__tokens-header-cell__actions">
        <button
          app-button
          color="grey"
          size="sm"
          disabled
          appTypeface="caption"
        >
          <svg-icon key="add" size="xs"></svg-icon>

          {{ translate('add_token') }}
        </button>

        <ng-container *appBrowserPopupView>
          <ng-template [ngTemplateOutlet]="sendButton"></ng-template>
        </ng-container>
      </div>
    </div>

    <div
      class="assets-page__token-cell"
      *appExpansionListCellDef="let asset;"
    >
      <svg-icon key="decentr-hub"></svg-icon>

      {{ asset.balance | microValue | numberFormat : null : true | appCurrencySymbol | async }}
    </div>

    <ng-container *appExpansionListLoading>
      <ngx-skeleton-loader
        class="assets-page__skeleton-loader"
        [count]="5"
        [theme]="skeletonLoaderTheme"
      ></ngx-skeleton-loader>
    </ng-container>

    <ng-container appExpansionListColumnDef="transactions" appExpansionListColumnDefColspan="2">
      <div
        class="assets-page__transactions-header-cell"
        *appExpansionListHeaderCellDef="let transactions; let asset = parentItem"
      >
        <div class="assets-page__transactions-header-cell-section">
          <ng-container *appBrowserTabView>
            {{ translate('transactions') }}
          </ng-container>

          <ng-container *appBrowserPopupView>
            {{ asset?.balance | microValue | numberFormat : null : true | appCurrencySymbol | async }}
          </ng-container>
        </div>

        <ng-container *appBrowserTabView>
          <ng-template [ngTemplateOutlet]="sendButton"></ng-template>
        </ng-container>
      </div>

      <ng-container *appExpansionListCellDef="let transactions;">
        <app-token-transactions-table
          [transactions]="transactions"
        ></app-token-transactions-table>

        <div
          class="assets-page__no-transactions"
        >
          <ng-container *ngIf="isLoadingFailed">
            {{ translate('loading_failed') }}
          </ng-container>

          <ng-container *ngIf="!isLoadingFailed && transactions?.length === 0">
            {{ translate('no_transactions') }}
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #sendButton>
    <button
      app-button
      size="sm"
      [routerLink]="['./', portalRoute.Transfer]"
      appTypeface="caption"
    >
      <svg-icon key="send" size="xs"></svg-icon>

      {{ translate('send') }}
    </button>
  </ng-template>
</app-expansion-list>
