@import 'variables';

:host {
  display: block;
}

.token-transactions-table__group-header {
  background-color: $color-background;
  font-weight: 700;
  padding: $grid-step $grid-step * 2;
}

.token-transactions-table__group-item {
  border-bottom: 1px solid $color-outlines;
  column-gap: $grid-step;
  display: grid;
  grid-template-areas: 'icon operation amount'
                       'empty address fee'
                       'empty memo memo';
  grid-template-columns: min-content 1fr max-content;
  padding: $grid-step * 1.5 $grid-step * 2;
  row-gap: $grid-half-step;

  &.mod-new {
    background-color: rgba($color-positive, 0.08);
  }

  &:last-child {
    border: none;
  }
}

.token-transactions-table__operation {
  column-gap: $grid-step;
  display: flex;
  font-weight: 500;
  grid-area: operation;
}

.token-transactions-table__icon {
  grid-area: icon;
}

.token-transactions-table__amount {
  grid-area: amount;
  text-align: right;
}

.token-transactions-table__address {
  color: $color-grey;
  grid-area: address;
}

.token-transactions-table__fee {
  color: $color-grey;
  grid-area: fee;
  text-align: right;
}

.token-transactions-table__memo {
  color: $color-grey;
  grid-area: memo;
}

.token-transactions-table__color-receive {
  color: $color-positive;
}

.token-transactions-table__color-send {
  color: $color-negative;
}

.token-transactions-table__operation__actions {
  display: flex;
  column-gap: $grid-half-step;
}

.token-transactions-table__operation__action {
  align-items: center;
  background-color: $color-background;
  border-radius: 8px;
  color: $color-grey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: $grid-half-step;
}
