<ng-container *transloco="let translate; read: 'sign_up.pdv_consent'">
  <div
    class="profile-card__container"
    *ngIf="profile$ | async as profile; else loader"
  >
    <app-avatar
      class="profile-card__avatar"
      [avatarUrl]="profile.avatar"
    ></app-avatar>

    <div
      class="profile-card__name"
      appTypeface="header-4"
    >
      <span appTextEllipsis>
        {{ profile.firstName }} {{ profile.lastName }}
      </span>

      <span
        class="profile-card__name__ban-label"
        appTypeface="caption"
        *ngIf="profile.banned"
        [appTooltip]="translate('banned.tooltip')"
      >
        {{ translate('banned.label') }}
      </span>
    </div>

    <div
      class="profile-card__balance"
      appTypeface="paragraph"
    >
      <svg-icon
        class="profile-card__balance__icon"
        key="wallet"
      ></svg-icon>

      <span>
        {{ balance$ | async | microValue | numberFormat : null : true }}&nbsp;<app-currency-symbol></app-currency-symbol>
      </span>
    </div>

    <div
      class="profile-card__bio"
      appTypeface="paragraph"
    >
      {{ profile.bio }}
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <ngx-skeleton-loader
    [theme]="{ height: '80px' }"
  ></ngx-skeleton-loader>
</ng-template>
