@import '../../styles/variables';

:host {
  align-items: center;
  background: rgb(var(--color-button-back-background));
  border-radius: $border-radius;
  color: rgb(var(--color-button-back-text));
  cursor: pointer;
  display: inline-flex;
  padding: $grid-step;
  transition: background .3s ease;

  &:hover {
    background: rgb(var(--color-button-back-background-hover));
    color: rgb(var(--color-button-back-text-hover));
  }
}
