@import 'variables';

:host {
  display: block;
  height: 100%;
  padding-bottom: $grid-step * 5;
}

.success-page__card {
  border: 2px solid $color-outlines;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  padding: $grid-step * 2;
  width: 792px;
}

.success-page__card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.success-page__icon {
  height: 96px;
  margin: 0 auto $grid-step * 2;
  width: 96px;
}

.success-page__title {
  font-weight: 500;
  margin-bottom: $grid-step;
  text-align: center;
}

.success-page__subtitle {
  margin-bottom: $grid-step * 3;
  text-align: center;
}

.success-page__divider {
  background: $color-outlines;
  height: 2px;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.success-page__actions {
  display: flex;
  justify-content: flex-end;
}

.success-page__tips {
  color: $color-grey;
}

.success-page__tips-list {
  list-style: none;
  padding: $grid-step 0;

  li {
    font-size: 16px;
    line-height: 24px;

    &:before {
      content: "•";
      padding-right: 5px;
    }
  }
}
