<div
  class="success-page__card"
  *transloco="let translate; read: 'sign_up.success_page'"
>
  <div class="success-page__card__header">
    <svg-icon
      class="success-page__icon"
      key="congratulations"
    ></svg-icon>

    <div
      class="success-page__title"
      appTypeface="subheader"
    >
      {{ translate('title') }}
    </div>

    <div
      class="success-page__subtitle"
      appTypeface="paragraph"
    >
      {{ translate('subtitle') }}
    </div>

    <div
      class="success-page__tips"
      appTypeface="caption"
    >
      <ul class="success-page__tips-list">
        <li>{{ translate('tips.tip1') }}</li>
        <li>{{ translate('tips.tip2') }}</li>
        <li [innerHTML]="translate('tips.tip3')"></li>
      </ul>

      <p>
        {{ translate('hint.label') }}
      </p>
    </div>
  </div>

  <section>
    <div class="success-page__divider"></div>

    <div class="success-page__actions">
      <button
        class="success-page__actions__button"
        app-button
        [routerLink]="['/']"
      >
        {{ translate('done') }}
      </button>
    </div>
  </section>
</div>
