@import 'variables';

:host {
  display: block;
  height: 100%;
  padding-bottom: $grid-step * 5;
}

.success-page__card {
  border: 2px solid var(--color-outlines);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  padding: $grid-step * 2;
  text-align: center;
  width: 792px;
}

.success-page__card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.success-page__icon {
  $icon-sie: 96px;

  height: $icon-sie;
  margin: 0 auto $grid-step * 2;
  width: $icon-sie;
}

.success-page__title {
  font-weight: 500;
  margin-bottom: $grid-step;
}

.success-page__subtitle {
  margin-bottom: $grid-step * 2;
}

.success-page__divider {
  background: var(--color-outlines);
  height: 2px;
  margin: $grid-step * 2 (-$grid-step * 2);
}

.success-page__actions {
  display: flex;
  justify-content: flex-end;
}

.success-page__tips {
  color: var(--color-success-page-tips);
}

.success-page__tips-list {
  list-style: none;
  margin-bottom: $grid-step * 2;
}
