@import 'variables';

$hub-feed-navigation--height: 48px;

:host {
  background-color: $color-white;
  display: block;
  margin: auto;
  overflow-x: auto;
  padding: 0 $page-side-padding;
  width: $page-width + $page-side-padding * 2;
}

.hub-feed-navigation__links-container {
  align-items: center;
  display: flex;
  height: $hub-feed-navigation--height;
}

.hub-feed-navigation__link {
  height: 100%;

  & + & {
    margin-left: 24px;
  }
}

.hub-feed-navigation__divider {
  margin-top: -1px;
}
