$circle-statistics-card--background-color: #FFFFFF;
$circle-statistics-card--subtitle-color: #9EA0A5;
$circle-statistics-card--padding: 24px;

:host {
  background-color: $circle-statistics-card--background-color;
  display: flex;
  flex-direction: column;
  padding: $circle-statistics-card--padding;
}

.circle-statistics-card__title {
  font-size: 16px;
  font-weight: 500;
}

.circle-statistics-card__subtitle {
  color: $circle-statistics-card--subtitle-color;
  font-size: 14px;
  line-height: 22px;
  margin-top: 7px;
}

.circle-statistics-card__content-container {
  height: 100%;
}

.circle-statistics-card__divider {
  margin: 16px (-$circle-statistics-card--padding) 0;
}

.circle-statistics-card__footer {
  padding: 18px 0;
  margin-bottom: -$circle-statistics-card--padding;
}
