@use 'sass:math';
@import 'colors';
@import 'variables';
@import 'typeface';

:host {
  align-items: center;
  color: var(--color-dhub-post-rating);
  column-gap: $grid-step * 2;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;

  &.mod-filled {
    border-radius: $border-radius;
    column-gap: math.div($grid-step, 4);

    .hub-post-rating__section {
      background-color: var(--color-dhub-post-rating-background);
    }
  }

  &.is-disabled {
    .hub-post-rating__section {
      cursor: not-allowed;
    }
  }

  &.is-updating {
    .hub-post-rating__section {
      cursor: wait;
    }
  }
}

.hub-post-rating__section {
  align-items: center;
  display: flex;
  cursor: pointer;
  flex-grow: 1;
  height: 100%;
  justify-content: center;

  &:hover {
    color: var(--color-dhub-post-rating-hover);
  }
}

.hub-post-rating__icon {
  align-items: center;
  display: flex;
  margin-right: 8px;

  &.mod-dislike {
    transform: rotate(180deg);
  }

  &.mod-liked,
  &.mod-disliked {
    color: var(--color-dhub-post-rating-liked);
  }
}
