<ng-container *ngIf="post$ | async as post">
  <div
    class="hub-post-rating__section"
    (click)="onLike(post)"
  >
    <svg-icon
      class="hub-post-rating__icon"
      [class.mod-liked]="post.likeWeight === likeWeight.LIKE_WEIGHT_UP"
      key="like"
      size="xs"
    ></svg-icon>

    <span>{{ post.likesCount }}</span>
  </div>

  <div
    class="hub-post-rating__section"
    (click)="onDislike(post)"
  >
    <svg-icon
      class="hub-post-rating__icon mod-dislike"
      [class.mod-disliked]="post.likeWeight === likeWeight.LIKE_WEIGHT_DOWN"
      key="like"
      size="xs"
    ></svg-icon>

    <span>{{ post.dislikesCount }}</span>
  </div>
</ng-container>
