$hub-post-rating--color: #6B6C6F;
$hub-post-rating--liked--color: #338374;
$hub-post-rating--disliked--color: #F0376B;

:host {
  align-items: center;
  color: $hub-post-rating--color;
  display: flex;
  font-size: 14px;
  line-height: 100%;
}

.hub-post-rating__section {
  align-items: center;
  display: flex;
  cursor: pointer;

  & + & {
    margin-left: 12px;
  }

  &.is-disabled {
    pointer-events: none;
  }

  &.mod-liked {
    color: $hub-post-rating--liked--color;
  }

  &.mod-disliked {
    color: $hub-post-rating--disliked--color;
  }
}

.hub-post-rating__icon {
  align-items: center;
  display: flex;
  margin-right: 8px;

  &.mod-dislike {
    transform: rotate(180deg);
  }
}
