@import 'colors';
@import 'variables';

:host {
  align-items: center;
  color: $color-grey;
  display: flex;
  line-height: 100%;
}

.hub-post-rating__section {
  align-items: center;
  display: flex;
  cursor: pointer;

  & + & {
    margin-left: $grid-step * 2;
  }

  &.is-disabled {
    cursor: wait;
  }
}

.hub-post-rating__icon {
  align-items: center;
  display: flex;
  margin-right: 8px;

  &.mod-dislike {
    transform: rotate(180deg);
  }

  &.mod-liked {
    color: $color-positive;
  }

  &.mod-disliked {
    color: $color-negative;
  }
}
