$circle-statistics-card--coming-soon-color: #9EA0A5;

:host {
  display: block;
  font-size: 14px;
}

.circle-activity-statistics__card {
  height: 100%;
}

.circle-activity-statistics__param {
  align-items: center;
  display: flex;
  margin-top: 20px;
  white-space: nowrap;
}

.circle-activity-statistics__param-name {
  font-weight: 500;
  width: 55px;
}

.circle-activity-statistics__param-distribution {
  margin-left: 20px;
  width: 100%;
}

.circle-activity-statistics__future-params {
  align-items: center;
  display: flex;

  .circle-activity-statistics__param-name {
    margin-top: 20px;
  }
}

.circle-activity-statistics__coming-soon {
  color: $circle-statistics-card--coming-soon-color;
  font-size: 12px;
  margin: auto;
}

.circle-activity-statistics__source-label {
  font-size: 8px;

  & + & {
    margin-left: 22px;
  }
}

.circle-activity-statistics__source-label-text {
  font-size: 14px;
}
