<div
  class="input__label"
  [appTypeface]="isOpenedInPopup ? 'caption' : 'paragraph'"
>
  <ng-content select="[label]"></ng-content>

  <ng-content select="[label-right]"></ng-content>
</div>

<div class="input__container">
  <ng-template [ngIf]="useTextArea" [ngIfThen]="textArea" [ngIfElse]="input"></ng-template>

  <svg-icon
    class="input__eye"
    *ngIf="type === 'password' && eye"
    [key]="valueSecured ? 'eye-crossed' : 'eye'"
    (click)="onEyeClick()"
  ></svg-icon>
</div>

<ng-template #textArea>
  <textarea
    class="input mod-textarea"
    [rows]="rows"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (blur)="onTouched()"
    [attr.type]="type ==='password' && valueSecured ? 'password' : 'text'"
    trim="blur"
  ></textarea>
</ng-template>

<ng-template #input>
  <input
    class="input"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (blur)="onTouched()"
    [type]="type ==='password' && valueSecured ? 'password' : 'text'"
    trim="blur"
  >
</ng-template>
