<ng-container *transloco="let translate">
  <div
    class="hub-post-card__image-container"
    *ngIf="post.previewImage"
    [class.mod-vertical-padding]="includeVerticalImagePadding"
  >
    <img
      class="hub-post-card__image"
      (error)="imgSrc = post.previewImage"
      [src]="imgSrc"
      [alt]="post.previewImage"
    >
  </div>

  <div class="hub-post-card__container">
    <div class="hub-post-card__meta">
      <ng-container *ngIf="!disableCategory">
        <span
          class="hub-post-card__category"
          [appHubPostCategoryColor]="post.category"
          appTypeface="caption"
        >
          {{ translate('hub.hub_post_category.' + post.category) }}
        </span>

        <span class="hub-post-card__meta-separator"></span>
      </ng-container>

      <span class="hub-post-card__time" appTypeface="caption">
        {{ post.createdAt | appCoerceTimestamp | date : 'd MMM yyyy, HH:mm' }}
      </span>
    </div>

    <div class="hub-post-card__title" appTypeface="paragraph">
      {{ post.title }}
    </div>

    <div
      class="hub-post-card__content"
      [innerHTML]="post.text | appTextContent"
      appTextClamp
      appTypeface="paragraph"
    ></div>

    <div class="hub-post-card__footer">
      <app-hub-post-rating [post]="post"></app-hub-post-rating>

      <app-hub-post-pdv
        class="hub-post-card__footer__pdv"
        [pdv]="post.pdv"
      ></app-hub-post-pdv>

      <div
        class="hub-post-card__footer__link"
        appTypeface="caption"
        [cdkCopyToClipboard]="post.shareLink"
        [appClipboardCopiedNotification]="'hub.hub_post_card.link.copy_notification'"
        [appAnalyticsClickEvent]="analyticsEvent.CopyPostLink"
        (click)="onLinkClick($event)"
      >
        <svg-icon key="link" size="xs"></svg-icon>

        {{ translate('hub.hub_post_card.link.copy') }}
      </div>
    </div>
  </div>
</ng-container>
