@import 'colors';
@import 'variables';

$hub-post-card--padding: $grid-step * 2;
$hub-post-card--vertical--image-height: 44%;
$hub-post-card--horizontal--image-width: 31%;

:host {
  background: $color-white;
  display: flex;
  overflow: hidden;

  &.mod-vertical {
    border: 1px solid $color-outlines;
    border-radius: $border-radius;
    flex-direction: column;
    height: 374px;

    .hub-post-card__image-container {
      height: $hub-post-card--vertical--image-height;
      max-height: $hub-post-card--vertical--image-height;

      &.mod-vertical-padding {
        border-radius: $border-radius;
        margin: ($grid-step * 2) ($grid-step * 2) 0;

        .hub-post-card__image {
          border-radius: $border-radius;
        }
      }
    }

    .hub-post-card__container {
      height: 100% - $hub-post-card--vertical--image-height;
      padding: $hub-post-card--padding;
    }
  }

  &.mod-horizontal {
    column-gap: $grid-step * 2;
    height: 220px;
    overflow: hidden;
    padding: $hub-post-card--padding 0;

    .hub-post-card__image-container {
      border-radius: $border-radius;
      width: $hub-post-card--horizontal--image-width;
    }

    .hub-post-card__image {
      border-radius: $border-radius;
    }

    .hub-post-card__container {
      width: 100% - $hub-post-card--horizontal--image-width;
    }
  }
}

.hub-post-card__image-container {
  overflow: hidden;
}

.hub-post-card__image {
  width: 100%;
}

.hub-post-card__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hub-post-card__meta {
  align-items: center;
  column-gap: $grid-step / 2;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
}

.hub-post-card__category {
  font-weight: 700;
}

.hub-post-card__meta-separator {
  background-color: $color-grey;
  border-radius: 100%;
  height: 4px;
  width: 4px;
}

.hub-post-card__time {
  color: $color-grey;
}

.hub-post-card__remove-icon {
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  margin-left: $grid-step;
}

.hub-post-card__title {
  font-weight: 700;
  margin-top: $grid-step;
}

.hub-post-card__content {
  color: $color-grey;
  margin: $grid-step 0;
  overflow: hidden;
}

.hub-post-card__footer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: auto;
}
