<ng-container *transloco="let translate">
  <div class="hub-post-card__image-container" *ngIf="hasPreviewImage">
    <img class="hub-post-card__image" [src]="post.previewImage" [alt]="post.previewImage">
  </div>

  <div class="hub-post-card__meta">
    <span [appHubPostCategoryColor]="post.category">
      {{ translate('hub.hub_post_category.' + post.category) }}
    </span>

    <span class="hub-post-card__meta-separator"></span>

    <app-hub-post-time [time]="post.createdAt"></app-hub-post-time>
  </div>

  <div class="hub-post-card__title">{{ post.title }}</div>

  <div
    class="hub-post-preview-card__content"
    [innerHTML]="post.text | appCutHtmlImages"
    appTextClamp
  ></div>

  <div class="hub-post-card__footer">
    <app-hub-post-rating [postId]="post.uuid"></app-hub-post-rating>

    <app-hub-post-pdv [pdv]="post.pdv"></app-hub-post-pdv>
  </div>
</ng-container>
