@import 'variables';

$popup-side-padding: $grid-step * 2;

:host {
  display: block;

  .mod-popup-view & {
    display: flex;
    flex-direction: column;
    height: 100%;

    .pdv-rate__pdv {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: $popup-side-padding;
    }

    .pdv-rate__pdv-header {
      flex-direction: column;
    }

    .pdv-rate__pdv-chart {
      flex-grow: 1;
    }

    .pdv-rate__currency,
    .pdv-rate__rewards {
      border-top: $grid-half-step solid var(--color-outlines);
      padding: $grid-step * 2 $popup-side-padding;
    }
  }

  .mod-tab-view & {
    padding-bottom: $grid-step * 2;

    .pdv-rate__pdv,
    .pdv-rate__currency,
    .pdv-rate__rewards {
      border: 2px solid var(--color-outlines);
      border-radius: $border-radius;
    }

    .pdv-rate__currency {
      margin-top: $grid-step * 3;
      padding: $grid-step * 3 $page-side-padding;
    }

    .pdv-rate__rewards {
      margin-top: $grid-step * 3;
      padding: $grid-step * 2 $page-side-padding;
    }
  }
}

.pdv-rate__pdv {
  display: block;
  padding: $page-side-padding;
}

.pdv-rate__pdv-loading {
  width: 100%;
}

.pdv-rate__skeleton-loader {
  display: block;
  width: 100%;
}

.pdv-rate__pdv-header {
  display: flex;
  justify-content: space-between;
}

.pdv-rate__pdv-value-margin {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.pdv-rate__pdv-margin-pending {
  color: var(--color-dportal-pdv-rate-margin-pending);
}

.pdv-rate__pdv-filter {
  margin-top: $grid-step;
}

.pdv-rate__pdv-filter {
  background: var(--color-dportal-pdv-rate-chart-filter-background);
  border-radius: $border-radius;
  display: flex;
  font-weight: 500;
  height: max-content;
  margin-top: $grid-step;
  user-select: none;
  width: max-content;

  li {
    padding: $grid-step * 1.5 $grid-step * 2;

    &.active {
      color: var(--color-dportal-pdv-rate-chart-filter-active);
      background: var(--color-dportal-pdv-rate-chart-filter-active-background);
      border-radius: $border-radius;
      box-shadow: 0 $grid-half-step $grid-step * 1.5 rgba(var(--color-dportal-pdv-rate-chart-filter-active-shadow), 0.4);
      cursor: default;
    }

    &:not(.active) {
      color: var(--color-dportal-pdv-rate-chart-filter);
      cursor: pointer;
    }
  }
}

.pdv-rate__pdv-chart {
  margin-top: $grid-step;
  height: 250px;
}

.pdv-rate__pdv-chart__no-data {
  align-items: center;
  color: var(--color-dportal-pdv-rate-chart-no-data);
  display: flex;
  justify-content: center;
  min-height: inherit;
}

.pdv-rate__currency {
  align-items: center;
  display: flex;
  font-weight: 500;
}

.pdv-rate__currency-icon {
  display: flex;
  margin-right: $grid-step * 2;
}

.pdv-rate__rewards__title {
  column-gap: $grid-step;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.pdv-rate__rewards__real-money-reward {
  color: var(--color-dportal-pdv-rate-pdv-reward-real-money);
}

.pdv-rate__rewards__height {
  font-weight: 500;
  margin-top: $grid-step;
}
