<div
  class="vpn-page__layout"
  *transloco="let translate; read: 'portal.vpn_page'"
>
  <div class="vpn-page__header">
    <div class="vpn-page__header-section mod-left">
      <span appTypeface="subheader">
        {{ translate('title') }}
      </span>

      <div *ngIf="balance$ | async as balance; else balanceLoading">
        <ng-container *appBrowserTabView>
          {{ translate('balance') }}:
        </ng-container>

        <span [appTypeface]="isOpenedInTab ? 'paragraph' : 'caption'">
          {{ balance | appPrice }}
        </span>
      </div>

      <button
        *appBrowserPopupView
        app-icon-button
        color="grey"
        size="xs"
        (click)="topUpBalance()"
      >
        <svg-icon key="topup" size="xs"></svg-icon>
      </button>

      <button
        *appBrowserTabView
        app-button
        color="grey"
        size="sm"
        appTypeface="caption"
        (click)="topUpBalance()"
      >
        <svg-icon key="topup" size="xs"></svg-icon>

        {{ translate('topup')}}
      </button>
    </div>

    <div class="vpn-page__header-section">
      <mat-slide-toggle [formControl]="onlySubscribedControl">
        <ng-container *appBrowserTabView>
          {{ translate('toggle.show_only_subscribed') }}
        </ng-container>
      </mat-slide-toggle>

      <div class="vpn-page__header-vertical-divider"></div>

      <div (click)="refreshAll()">
        <button
          *appBrowserPopupView
          app-icon-button
          color="grey"
        >
          <svg-icon key="reload"></svg-icon>
        </button>

        <button
          *appBrowserTabView
          app-button
          color="grey"
        >
          <svg-icon key="reload"></svg-icon>

          {{ translate('refresh') }}
        </button>
      </div>

      <button
        *ngIf="isConnectedToWireguard"
        app-button
        color="negative"
        (click)="disconnect()"
      >
        {{ translate('disconnect') }}
      </button>
    </div>
  </div>

  <ng-container *ngIf="nodes$ | async as nodes; else nodesLoading">
    <app-node-accordion
      *ngIf="nodes.length > 0; else nodesNoData"
      class="vpn-page__node-accordion"
      [nodes]="nodes"
      [isConnectedToWireguard]="isConnectedToWireguard"
    >
      <div
        class="vpn-page__node-accordion-content"
        *appNodeAccordionContent="let node"
      >
        <app-node-subscribe
          [price]="node.price"
          (subscribe)="subscribeToNode(node, $event)"
        ></app-node-subscribe>

        <app-node-subscription
          *ngFor="let subscription of node.subscriptions"
          [subscriptionStatusAt]="subscription.statusAt"
          [subscriptionId]="subscription.id"
          [isConnected]="subscription.sessions.length > 0 && isConnectedToWireguard"
          [isConnectedToWireguard]="isConnectedToWireguard"
          (cancel)="cancelSubscription(subscription)"
          (connect)="connect(node, subscription)"
          (disconnect)="disconnect(subscription)"
        ></app-node-subscription>
      </div>
    </app-node-accordion>
  </ng-container>

  <ng-template #balanceLoading>
    <ngx-skeleton-loader
      class="vpn-page__loader-balance"
      [theme]="{
        height: '24px',
        marginBottom: '0',
        width: '180px'
      }"
    ></ngx-skeleton-loader>
  </ng-template>

  <ng-template #nodesLoading>
    <ngx-skeleton-loader
      class="vpn-page__loader-nodes"
      count="5"
      [theme]="{
        height: '40px',
        width: '100%'
      }"
    ></ngx-skeleton-loader>
  </ng-template>

  <ng-template #nodesNoData>
    <div class="vpn-page__no-data">
      {{ translate('no_data') }}
    </div>
  </ng-template>
</div>
