@import 'variables';

:host {
  display: block;
}

.referral-bonus-milestones__header,
.referral-bonus-milestones__footer {
  color: var(--color-referral-bonus-milestones);
  display: flex;
}

.referral-bonus-milestones__header {
  text-align: center;
}

.referral-bonus-milestones__header-cell {
  align-items: center;
  display: inline-flex;
  height: 32px;
  justify-content: center;

  & + & {
    border-left: 1px solid var(--color-outlines);
  }

  &.is-active {
    color: var(--color-referral-bonus-milestones-header-cell);
    font-weight: 700;
  }
}

.referral-bonus-milestones__footer {
  position: relative;
}

.referral-bonus-milestones__footer-cell {
  position: relative;

  &:last-child {
    .referral-bonus-milestones__footer-cell-label {
      transform: initial;
    }
  }

  &.mod-start {
    left: 0;
    position: absolute;
  }
}

.referral-bonus-milestones__footer-cell-label {
  position: absolute;
  right: 0;
  transform: translateX(50%);
}

.referral-reward-milestones__bar {
  align-items: center;
  background-color: var(--color-outlines);
  border-radius: $grid-half-step;
  display: flex;
  height: $grid-step;
  margin: $grid-step 0 $grid-step * 1.5;
  position: relative;
}

.referral-bonus-milestones__bar__progress {
  background-color: var(--color-referral-bonus-milestones-bar-progress-background);
  border-radius: inherit;
  height: inherit;
}

.referral-bonus-milestones__bar__progress-label {
  background-color: var(--color-referral-bonus-milestones-bar-progress-label);
  border-radius: $border-radius;
  color: var(--color-referral-bonus-milestones-bar-progress);
  min-width: 32px;
  padding: $grid-half-step;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
