<ng-container
  *transloco="let translate; read: 'portal.vpn_page.nodes_expansion.connect'"
>
  <div
    class="node-subscription__deposit"
  >
    <div
      class="node-subscription__deposit-amount"
    >
      <ng-container *ngIf="quota$ | async as quota; else loadingQuota">
        {{ +(quota?.consumed || 0) | appBytesSize }} /
        {{ +(quota?.allocated || 0) | appBytesSize }}
      </ng-container>

      <ng-template #loadingQuota>
        <ngx-skeleton-loader
          class="node-subscription__deposit-amount-loading"
          [theme]="{
            height: '22px',
            width: '53px',
            marginBottom: '0'
          }"
        ></ngx-skeleton-loader>
      </ng-template>
    </div>
  </div>

  <div class="node-subscription__actions">
    <ng-container *ngIf="isConnected; else notConnectedActions">
      <button
        class="node-subscription__action mod-red"
        app-button
        (click)="onDisconnect()"
      >
        {{ translate('actions.disconnect') }}
      </button>
    </ng-container>

    <ng-template #notConnectedActions>
      <button
        *ngIf="!isConnected"
        class="node-subscription__action"
        app-button
        color="grey"
        (click)="onCancel()"
      >
        {{ translate('actions.cancel_subscription') }}
      </button>

      <button
        class="node-subscription__action"
        app-button
        (click)="onConnect()"
      >
        {{ translate('actions.connect') }}
      </button>
    </ng-template>
  </div>
</ng-container>
