@import '../../styles/variables';

:host {
  display: block;
  overflow: auto;

  &::ng-deep {
    a {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }
    }
  }
}

.data-table__table {
  width: 100%;
}

.data-table__header-row {
  border-bottom: 2px solid $color-outlines;
  color: $color-grey;
}

.data-table__header-row__cell {
  font-weight: 500;
  padding: $grid-step $grid-step * 2 $grid-half-step;
}

.data-table__row {
  transition: background-color .3s ease-in-out;

  & + & {
    border-top: 1px solid $color-outlines;
  }

  &:hover {
    background-color: $color-background;
  }

  &.is-selected {
    background-color: rgba($color-blue, .12);
  }

  &.mod-selectable {
    cursor: pointer;
  }
}

.data-table__row__cell {
  padding: $grid-step $grid-step * 2;
  vertical-align: middle;
}

.data-table__empty-row {
  padding: $grid-step $grid-step * 2 0;
}
