<table
  class="data-table__table"
  cdk-table
  [dataSource]="data"
  [trackBy]="trackBy"
>
  <ng-container
    *ngFor="let column of columns; trackBy: trackByColumnIdOrName"
    [cdkColumnDef]="column.idOrName"
  >
    <th
      class="data-table__header-row__cell"
      [style.textAlign]="column.align"
      [style.width]="column.width"
      cdk-header-cell
      *cdkHeaderCellDef
      appTypeface="caption"
    >
      {{ column.name }}
    </th>

    <td
      class="data-table__row__cell"
      [style.textAlign]="column.align"
      cdk-cell
      *cdkCellDef="let item"
      appTypeface="paragraph"
    >
      <ng-template
        [ngTemplateOutlet]="column.templateRef"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-template>
    </td>
  </ng-container>

  <tr
    class="data-table__header-row"
    cdk-header-row
    *cdkHeaderRowDef="columnNames"
  ></tr>

  <tr
    class="data-table__row"
    cdk-row
    *cdkRowDef="let item; columns: columnNames"
    [class.is-selected]="isItemSelected(item)"
    [class.mod-selectable]="itemClick.observers.length > 0"
    (click)="onItemClick(item)"
  ></tr>
</table>
