@import '../../styles/variables';

:host {
  color: var(--color-main-text);
  display: block;
  overflow: auto;

  &::ng-deep {
    a {
      color: var(--color-data-table-link);

      &:hover {
        color: var(--color-data-table-link-hover);
      }
    }
  }
}

.data-table__table {
  width: 100%;
}

.data-table__header-row {
  border-bottom: 2px solid var(--color-outlines);
  color: var(--color-data-table-header);
}

.data-table__header-row__cell {
  font-weight: 500;
  padding: $grid-step $grid-step * 2 $grid-half-step;
}

.data-table__row {
  transition: background-color .3s ease-in-out;

  & + & {
    border-top: 1px solid var(--color-outlines);
  }

  &:hover {
    background-color: var(--color-data-table-row-background-hover);
  }

  &.is-selected {
    background-color: rgba(var(--color-data-table-row-selected), .12);
  }

  &.mod-selectable {
    cursor: pointer;
  }
}

.data-table__row__cell {
  padding: $grid-step $grid-step * 2;
  vertical-align: middle;
}

.data-table__empty-row {
  padding: $grid-step $grid-step * 2 0;
}
