$hub-simple-text-editor--placeholder--color: #9EA0A5;

:host {
  display: flex;
  flex-direction: column;

  &.id-disabled {
    pointer-events: none;
  }
}

.hub-simple-text-editor__text-container {
  height: 100%;
  overflow-y: auto;

  &:empty:before {
    color: $hub-simple-text-editor--placeholder--color;
    content: attr(placeholder);
    pointer-events: none;
  }
}

.hub-simple-text-editor__footer {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-top: 8px;
}

.hub-simple-text-editor__add-image-icon {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 24px;
}

.mat-form-field-underline {
  bottom: initial;
  position: relative;
}

::ng-deep {
  .mat-form-field-type-hub-simple-text-editor {
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-infix,
    .hub-simple-text-editor {
      height: 100%;
    }

    .mat-form-field-wrapper {
      > .mat-form-field-underline,
      .hub-simple-text-editor__divider {
        display: none;
      }
    }

    .mat-form-field-subscript-wrapper {
      margin-top: 0;
    }
  }
}
