<div
  #textContainer
  class="hub-simple-text-editor__text-container"
  [attr.contenteditable]="!disabled"
  [attr.placeholder]="placeholder"
  (blur)="onBlur()"
  (input)="onTextInput()"
></div>

<ng-container *transloco="let translate; read: 'hub.hub_simple_text_editor'">
  <div class="hub-simple-text-editor__footer">
    <svg-icon
      #addImageIcon
      class="hub-simple-text-editor__add-image-icon"
      [class.is-disabled]="isImageLimitReached$ | async"
      key="add-image"
      [matTooltip]="(isImageLimitReached$ | async) ? translate('image_limit_reached') : ''"
      matTooltipPosition="above"
      (click)="addImage()"
    ></svg-icon>

    <mat-divider class="hub-simple-text-editor__divider"></mat-divider>

    <div class="mat-form-field-underline">
      <span class="mat-form-field-ripple"></span>
    </div>
  </div>
</ng-container>
