<div
  #textContainer
  class="hub-simple-text-editor__text-container"
  [attr.contenteditable]="!disabled"
  [attr.placeholder]="placeholder"
  (blur)="onBlur()"
  (input)="onTextInput()"
></div>

<div class="hub-simple-text-editor__footer">
  <svg-icon
    class="hub-simple-text-editor__add-image-icon"
    key="add-image"
    (click)="addImage()"
  ></svg-icon>

  <mat-divider class="hub-simple-text-editor__divider"></mat-divider>

  <div class="mat-form-field-underline">
    <span class="mat-form-field-ripple"></span>
  </div>
</div>
