<form
  class="password-form__form"
  *transloco="let translate; read: translationsConfig.read; scope: translationsConfig.scope"
  [formGroup]="form"
>
  <app-input-container
    class="password-form__input-container"
  >
    <app-input
      type="password"
      formControlName="password"
    >
      <ng-container ngProjectAs="[label]">
        {{ translate('password.label') }}
      </ng-container>
    </app-input>

    <app-form-error controlName="password"></app-form-error>
  </app-input-container>

  <app-input-container
    class="password-form__input-container"
  >
    <app-input
      type="password"
      [eye]="false"
      formControlName="confirmPassword"
    >
      <ng-container ngProjectAs="[label]">
        {{ translate('confirm_password.label') }}
      </ng-container>
    </app-input>

    <app-form-error controlName="confirmPassword" i18nControlKey="confirm_password"></app-form-error>
  </app-input-container>
</form>
