<ng-container *transloco="let translate; read: 'hub.hub_feed_post'">
  <div class="hub-feed-post__header">
    <app-avatar [avatarUrl]="post.author.avatar"></app-avatar>

    <div class="hub-feed-post__info-container">
      <div appTextEllipsis>
        <span class="hub-feed-post__author">
          {{ post.author.firstName }}
          {{ post.author.lastName }}
        </span>
        <span class="hub-feed-post__posted">{{ translate('posted') }}</span>
        <span class="hub-feed-post__title">{{ post.title }}</span>
      </div>

      <app-hub-post-time [time]="post.createdAt"></app-hub-post-time>
    </div>
  </div>

  <app-hub-post-content
    class="hub-feed-post__content"
    [content]="post.text | appCutHtmlImages"
  ></app-hub-post-content>

  <mat-divider class="hub-feed-post__divider"></mat-divider>

  <div class="hub-feed-post__footer">
    <app-hub-post-pdv [pdv]="post.pdv"></app-hub-post-pdv>

    <app-hub-post-rating
      [postId]="post.uuid"
    ></app-hub-post-rating>
  </div>
</ng-container>
