@import 'variables';

:host {
  display: inline-flex;
  font-weight: 400;
  position: absolute;
}

.hub-post-editor-error {
  background-color: var(--color-dhub-post-editor-error-background);
  border-radius: $border-radius;
  color: var(--color-dhub-post-editor-error);
  padding: $grid-step $grid-step * 1.5;
}
