@import 'variables';

:host {
  display: block;
}

.mod-empty {
  color: var(--color-dportal-staking-withdraw-delegator-table-empty);
}

.withdraw-delegator-table__validator-name {
  align-items: center;
  display: flex;
}

.withdraw-delegator-table__validator-name__jailed {
  margin-left: $grid-step;
  user-select: none;
}

.withdraw-delegator-table__validator-name__check {
  align-items: center;
  border: 1px solid var(--color-outlines);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: $grid-step;
  height: 24px;
  width: 24px;

  &.is-selected {
    background-color: var(--color-dportal-staking-withdraw-delegator-table-name-check-background);
    border-color: var(--color-dportal-staking-withdraw-delegator-table-name-check-background);

    .withdraw-delegator-table__validator-name__check-icon {
      visibility: visible;
    }
  }
}

.withdraw-delegator-table__validator-name__check-icon {
  color: var(--color-dportal-staking-withdraw-delegator-table-name-check);
  visibility: hidden;
}

.withdraw-delegator-table__empty-row {
  color: var(--color-dportal-staking-withdraw-delegator-table-empty-row);
  padding: $grid-step;
  text-align: center;
}
