@import 'variables';

$info-card--padding: $grid-step * 2;

:host {
  display: block;

  &.mod-bordered {
    border: 2px solid $color-outlines;
    border-radius: $border-radius;
    padding: $info-card--padding;
  }
}

.info-card__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info-card__title {
  align-items: center;
  display: flex;
  font-weight: 500;
  width: 100%;
}

.info-card__actions-container {
  flex-shrink: 0;
}

.info-card__divider {
  background-color: $color-outlines;
  height: 2px;
  margin: $grid-step * 2 (-$info-card--padding);
}
