<div
  class="pdv-types-settings__title"
  [appTypeface]="font === 'default' ? 'paragraph' : 'subheader'"
>
  {{ translations?.title }}
</div>

<div
  class="pdv-types-settings__subtitle"
  [appTypeface]="font === 'default' ? 'caption' : 'paragraph'"
  [innerHTML]="translations?.subtitle"
></div>

<app-pdv-types-toggle
  [formControl]="settingsControl"
  [translations]="translations?.types"
></app-pdv-types-toggle>

<div
  class="pdv-types-settings__warning"
  appTypeface="caption"
>
  <svg-icon
    class="pdv-types-settings__warning-icon"
    key="speedometer"
    size="xs"
  ></svg-icon>

  {{ translations?.warning }}
</div>
