@import 'variables';

// Mat-toggle
.mat-slide-toggle {
  .mat-slide-toggle-ripple {
    border-radius: 50%;
    transform: translate(calc(-50% - 2px), calc(-50% - 10px));
    top: 50% !important;
    left: 50% !important;
    height: 22px !important;
    width: 22px !important;
  }

  // Disabled background
  .mat-slide-toggle-bar {
    background-color: var(--color-toggle-bar) !important;
    width: 32px;
    height: 20px;
    border-radius: 10px;
    border: 0;
  }

  .mat-slide-toggle-thumb {
    background-color: var(--color-toggle-thumb);
    transform: translateY(-50%);
    box-shadow: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0;
  }

  .mat-slide-toggle-thumb-container {
    top: 50%;
    transform: translateX(2px);
    cursor: pointer;
  }

  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: var(--color-toggle-bar-checked) !important;
    }

    .mat-slide-toggle-thumb {
      background-color: var(--color-toggle-thumb-checked) !important;
    }

    .mat-ripple-element {
      background-color: var(--color-toggle-bar-checked) !important;
    }

    .mat-slide-toggle-thumb-container {
      transform: translate3d(14px, 0, 0) !important;
    }
  }
}

// Mat-dialog
body .mat-dialog-container {
  background-color: var(--color-main-background);
  border-radius: $border-radius;
  color: var(--color-text-background);
  padding: $grid-step * 2 $grid-step * 3;
}

// Mat-expansion
.mat-expansion-panel {
  background: transparent;
}

.mat-expansion-panel-header-title {
  color: var(--color-main-text);
}

.mat-expansion-indicator{
  &:after {
    color: $color-grey;
  }
}

// Mat-select
.mat-select-panel {
  background: var(--color-mat-select-background);

  .mat-option {
    color: var(--color-mat-select-option);

    &.mat-selected {
      background: var(--color-mat-select-option-selected-background) !important;
    }
  }
}

// Mat-autocomplete
.mat-autocomplete-panel {
  background: var(--color-mat-autocomplete-background);

  .mat-option {
    color: var(--color-mat-autocomplete-option);
  }
}
