@import 'variables';

// px to rem
@function rem($pixels, $context: $main-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// Placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

// Fonts helper
@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$file-path}.woff") format("woff"),
    url("#{$file-path}.woff2") format("woff2"),
    url("#{$file-path}.ttf") format("ttf");
  }
}

// Buttons
@mixin btn() {
  //padding: .25rem 4rem;
  font-size: 14px;
  cursor: pointer;

  &__small {
    line-height: 2.75rem;
    min-width: 9.5rem;
  }

  &__middle {
    line-height: 2.75rem;
    min-width: 12rem;
  }

  &__full-width {
    width: 100%;
  }

  &__back {
    margin: 2rem 0 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

@mixin pre-clamp() {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

@mixin clamp($lines) {
  @include pre-clamp();
  -webkit-line-clamp: $lines;
}
