@import 'mixins';
@import 'variables';

* {
  //outline: 1px solid red;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: $main-font-size;

  @media (min-width: 768px) {
    height: 100%;
  }
}

body {
  min-width: 376px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  color: var(--color-main-text);
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

// Fix extension dialog popup width
.cdk-global-scrollblock {
  position: relative !important;
}

svg-icon[role='img'] {
  align-items: center;
  display: inline-flex;
}

// Skeleton
.loader {
  background-color: rgb(var(--color-skeleton-background)) !important;

  &:before {
    background-image: var(--color-skeleton-background-animation) !important;
  }
}
