@import 'mixins';
@import 'variables';

* {
  //outline: 1px solid red;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: $main-font-size;

  @media (min-width: 768px) {
    height: 100%;
  }
}

body {
  min-width: 376px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  color: $color-font-base;
}

.flex {
  display: flex;
}

.no-padding {
  padding: 0;
}

// Buttons
// Mat-buttons
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  &.btn {
    @include btn();
  }
}

.btn {
  @include btn();
}

// Text
.page-title {
  font-size: 2rem;
  font-weight: 500;

  &__large {
    font-size: 2.5rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hint-message {
  color: $color-font-grey;

  .hint-title {
    position: relative;
    padding-left: 27px;

    &:before {
      content: '';
      background: url('../assets/images/icons/info.svg');
      width: 22px;
      height: 22px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  span {
    color: $color-accent;
    font-weight: 500;
    letter-spacing: 1px;
  }

  p {
    margin: 1.5rem 0;
  }
}

// Form containers
.input-label {
  margin-bottom: .4rem;
}

.input-container {
  margin-bottom: .5rem;
}

.checkbox-container {
  margin-bottom: 2rem;
}

.radio-container {
  position: relative;
  margin-bottom: 2rem;

  .input-label {
    margin-bottom: 0.6rem;
  }

  .mat-error {
    font-size: 75%;
    margin-top: 0.6666666667em;
    padding: 0 1em;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
}

.icon-protected {
  .mat-form-field-flex {
    &:before {
      content: "";
      pointer-events: none;
      background: url('../assets/images/icons/secured.svg') no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
    }
  }
}

// Form inputs
mat-form-field {
  &.input-control {
    width: 350px;

    textarea {
      box-sizing: content-box;
    }
  }

  @media (max-width: 991px) {
    &.input-control {
      width: 330px;
    }
  }

  .mat-form-field-infix {
    border-top: 0.3em solid transparent;

    input {
      line-height: 1.25rem;
      margin-bottom: -0.0625em;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-width: 1px !important;
    }
  }

  .mat-form-field-infix {
    margin: -0.05em 0 0.05em 0;
  }
}

// Form Checkbox input
mat-checkbox {
  .mat-checkbox-layout {
    align-items: center;
  }

  .mat-checkbox-inner-container {
    width: 47px;
    height: 47px;
    margin-right: 1rem;
  }

  .mat-checkbox-frame {
    border-width: 1px;
    border-color: $grey-border-color;
  }

  .mat-checkbox-label {
    line-height: 47px;
  }
}

// Form Radio input
mat-radio-button {
  & ~ .mat-radio-button {
    margin-left: 3.5rem;
  }

  .mat-radio-label-content {
    padding-left: 1rem;
  }

  .mat-radio-container {
    width: 45px;
    height: 45px;

    .mat-radio-outer-circle {
      width: 45px;
      height: 45px;
      border: 1px solid $grey-border-color;
    }

    .mat-radio-inner-circle {
      width: 45px;
      height: 45px;
    }
  }
}

.mat-menu-panel {
  min-height: auto !important;
}

div.selectUserMenu {
  .menu-wrapper {
    min-width: 220px;
  }

  .menu-item {
    display: flex;
    padding: 10px;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .icon {
      margin-right: 10px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__name {
      font-size: 13px;
    }
  }
}

// Popup dialog
.popup-container {
  position: relative;
}

.popup-no-padding {
  position: relative;

  mat-dialog-container {
    padding: 0;
  }
}

.popup-flex-column {
  mat-dialog-container {
    display: flex;
    flex-direction: column;
  }
}

// Fix extension dialog popup width
.cdk-global-scrollblock {
  position: relative !important;
}

.btn-close-popup {
  position: relative;
  width: 20px;
  height: 25px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: .8;
  }

  &:before,
  &:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

// Toastr
.toast-container {
  &.toast-top-center {
    .ngx-toastr {
      width: 370px !important;
      box-shadow: none;
      border-radius: 4px;
      padding: 20px 55px 20px 15px;
      margin-top: .5rem;
      background-image: none;

      &:hover {
        box-shadow: none;
      }
    }

    .toast-message {
      font-size: 15px;
    }

    .toast-error {
      background-color: #DC2929;
    }

    .toast-success {
      background-color: #6BBFA6;
    }

    .toast-close-button {
      position: absolute;
      right: .5em;
      top: .5em;
      opacity: .8;

      span {
        width: 17px;
        height: 17px;
        color: transparent;
        position: relative;
        display: block;
        font-size: 0;
        animation: all .3s ease;

        &:hover {
          opacity: 1;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          height: 17px;
          width: 2px;
          background-color: #ffffff;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// Mat-toggle
.mat-slide-toggle {
  .mat-slide-toggle-ripple {
    transform: translate(calc(-50% - 2px), calc(-50% - 10px));
    top: 50% !important;
    left: 50% !important;
    height: 22px !important;
    width: 22px !important;
  }

  // Disabled background
  .mat-slide-toggle-bar {
    background-color: $color-grey !important;
    width: 32px;
    height: 20px;
    border-radius: 10px;
    border: 0;
  }

  .mat-slide-toggle-thumb {
    background-color: $color-white;
    transform: translateY(-50%);
    box-shadow: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0;
  }

  .mat-slide-toggle-thumb-container {
    top: 50%;
    transform: translateX(2px);
    cursor: pointer;
  }

  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: $color-primary !important;
    }

    .mat-slide-toggle-thumb {
      background-color: #ffffff !important;
    }

    .mat-ripple-element {
      background-color: $color-primary !important;
    }

    .mat-slide-toggle-thumb-container {
      transform: translate3d(14px, 0, 0) !important;
    }
  }
}

svg-icon[role='img'] {
  align-items: center;
  display: inline-flex;
}
