$main-font-size: 16px;
$main-font-family: #{'Inter, Arial, sans-serif'};

$border-radius: 12px;

$color-font-base: #1C1D26;
$color-primary: #4477e4;
$color-accent: #66c9c7;
$color-font-grey: #626262;

$grey-border-color: #dcdcdc;

$color-link-accent: #66C9C7;
