@import 'variables';

::ng-deep {
  .container {
    max-width: 850px;
  }

  .page-title {
    margin-bottom: 1rem;
  }

  .page-content {
    margin-bottom: 2rem;
  }

  button {
    &:disabled {
      background: $color-accent !important;
      color: #ffffff !important;
      opacity: .5;
    }
  }
}
