<ng-container *transloco="let translate; read: 'user.pdv_activity_chart'">
  <ng-container *ngIf="chartData.length > 1; else noData">
    <div class="pdv-activity-chart__legend">
      <ng-container *ngIf="rate">
        <div>
          <div class="pdv-activity-chart__legend-rate">{{ rate | pdvValue }} PDV</div>
          <div class="pdv-activity-chart__legend-date">{{ rateDate }}</div>
        </div>
        <app-pdv-rate-margin-icon
          class="pdv-activity-chart__legend-margin"
          [rateMargin]="rateMargin"
        ></app-pdv-rate-margin-icon>
      </ng-container>
    </div>

    <div
      #chartLine
      class="pdv-activity-chart__container"
      (window:resize)="onResize($event)"
    ></div>
  </ng-container>

  <ng-template #noData>
    <div class="pdv-activity-chart__no-data">
      <ng-container *ngIf="chartData.length === 1">{{ translate('not_enough_pdv_rate') }}</ng-container>
      <ng-container *ngIf="chartData.length < 1">{{ translate('no_pdv_rate') }}</ng-container>
    </div>
  </ng-template>

  <ul *ngIf="data.length > 1" class="pdv-activity-chart__filter-buttons">
    <li
      *ngFor="let button of filterButtons"
      (click)="filterChartData($event, button.amount, button.dateType)"
    >
      {{ button.label }}
    </li>
  </ul>
</ng-container>
