$pdv-activity-chart__filter-button: #4477E4;
$pdv-activity-chart__filter-button-active: #838B94;
$pdv-activity-chart__legend-date-color: #838B94;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .pdv-activity-chart__container {
    width: 100%;
    height: 100%;
    max-height: 130px;
  }

  .pdv-activity-chart__filter-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;

    li {
      color: $pdv-activity-chart__filter-button;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      margin: 5px 10px;
      user-select: none;

      &:hover:not(.active) {
        opacity: .8;
      }

      &.active {
        color: $pdv-activity-chart__filter-button-active;
      }
    }
  }

  .pdv-activity-chart__legend {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-date {
      color: $pdv-activity-chart__legend-date-color;
      font-size: 8px;
    }

    &-margin {
      min-width: 65px;
    }

    &-rate {
      font-size: 13px;
    }
  }

  .pdv-activity-chart__no-data {
    text-align: center;
    color: #CDCDCD;
    letter-spacing: 0.2px;
  }
}
