@import 'variables';

.no-data {
  text-align: center;
  color: #CDCDCD;
  letter-spacing: 0.2px;
}

:host {
  .chart-legend {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__rate {
      font-size: 13px;
    }

    &__date {
      color: #838B94;
      font-size: 8px;
    }
  }

  .pdv-rate-history {
    display: flex;
    font-size: 32px;
    margin-bottom: 5px;
  }

  .chart-filter-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;

    li {
      margin: 5px 10px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      color: #4477E4;

      &.active {
        color: #838B94;
      }
    }
  }

  .d3-chart {
    width: 100%;
    height: 100%;
  }
}
