$circle-post-pdv--positive-color: #338374;
$circle-post-pdv--negative-color: #F0376B;

:host {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;

  &.mod-positive {
    color: $circle-post-pdv--positive-color;
  }

  &.mod-negative {
    color: $circle-post-pdv--negative-color;
  }
}

.circle-post-pdv__dynamics-icon {
  margin-right: 14px;
}
