:host {
  .mat-radio-container {
    display: none;
  }

  .mat-radio-button {
    margin: 0 .54rem;

    &:first-child {
      margin-left: 0;
    }

    &.mat-radio-checked {
      .mat-radio-label-content {
        border: 1px solid #CDCDCD;
      }
    }

    .mat-radio-label-content {
      padding: .5rem .5rem;
      margin: 0;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }
}
