<ng-container *transloco="let translate; read: 'user.user_bank_balance'">
  <div class="bank-balance">
    <ng-container *ngIf="bankBalance">
      {{ bankBalance | microValue }} tDEC
    </ng-container>

    <ngx-skeleton-loader
      *ngIf="!bankBalance"
      [theme]="{
        height: '17px',
        marginBottom: '0',
        width: '150px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div
    class="bank-button"
    [routerLink]="['/', appRoute.User, userRoute.Transfer]"
  >
    <svg-icon class="bank-button__send" key="send-coin"></svg-icon>
    <span>{{ translate('buttons.send') }}</span>
  </div>
</ng-container>
