$color-label--circle-size--filled: 8px;
$color-label--circle-size--hole: 14px;

$circle-colors: (
  blue: #01AAFF,
  green: #3796A4,
  yellow: #FDC900,
);

:host {
  align-items: center;
  display: inline-flex;
  line-height: 100%;
}

.color-circle-label__circle {
  border-radius: 100%;
  height: 1em;
  margin-right: 10px;
  width: 1em;

  &.mod-filled {
    background-color: currentColor;
  }

  &.mod-hole {
    border: 2px solid currentColor;
  }

  @each $key, $color in $circle-colors {
    &.mod-#{$key} {
      color: map-get($circle-colors, $key);
    }
  }
}
