@import 'variables';

:host::ng-deep {
  a {
    color: $color-accent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    max-width: 850px;
  }

  .page-title {
    margin-bottom: 1rem;
  }

  .page-content {
    margin-bottom: 2rem;
  }

  button {
    &:disabled {
      background: $color-accent !important;
      color: #ffffff !important;
      opacity: .5;
    }
  }
}

.footer {
  padding: .5rem;
}
