<ng-container *transloco="let translate; read: 'portal.token_transactions_table'">
  <ng-container *ngFor="let group of groups">
    <div
      class="token-transactions-table__group-header"
      appTypeface="caption"
    >
      {{ group.timestamp | date : 'd MMM, yyyy' }}
    </div>

    <div
      class="token-transactions-table__group-item"
      [class.mod-new]="transaction.timestamp > newTransactionsAfter"
      *ngFor="let transaction of group.items"
      appTypeface="paragraph"
    >
      <ng-container [ngSwitch]="transaction.type">
        <ng-template [ngSwitchCase]="tokenTransactionType.TransferSent">
          <ng-template
            [ngTemplateOutlet]="sendTemplate"
            [ngTemplateOutletContext]="{ $implicit: transaction }"
          ></ng-template>
        </ng-template>

        <ng-template [ngSwitchCase]="tokenTransactionType.TransferReceived">
          <ng-template
            [ngTemplateOutlet]="receiveTemplate"
            [ngTemplateOutletContext]="{ $implicit: transaction }"
          ></ng-template>
        </ng-template>

        <ng-template [ngSwitchCase]="tokenTransactionType.WithdrawRewards">
          <ng-template
            [ngTemplateOutlet]="withdrawTemplate"
            [ngTemplateOutletContext]="{ $implicit: transaction }"
          ></ng-template>
        </ng-template>

        <ng-template [ngSwitchCase]="tokenTransactionType.PdvRewards">
          <ng-template
            [ngTemplateOutlet]="pdvRewardsTemplate"
            [ngTemplateOutletContext]="{ $implicit: transaction }"
          ></ng-template>
        </ng-template>
      </ng-container>

      <div
        *ngIf="transaction.comment"
        class="token-transactions-table__memo"
        appTypeface="caption"
      >
        {{ translate('memo') }}: {{ transaction.comment }}
      </div>
    </div>
  </ng-container>

  <ng-template #sendTemplate let-transaction>
    <svg-icon
      class="token-transactions-table__icon token-transactions-table__color-send"
      key="send"
    ></svg-icon>

    <div class="token-transactions-table__operation">
      {{ translate('sent') }}

      <ng-container
        *ngIf="transaction.hash"
        [ngTemplateOutlet]="actionsTemplate"
        [ngTemplateOutletContext]="{ $implicit: transaction.hash }"
      ></ng-container>
    </div>

    <div class="token-transactions-table__amount token-transactions-table__color-send">
      -{{ transaction.amount.amount | microValue | numberFormat : null : true }} <app-currency-symbol></app-currency-symbol>
    </div>

    <div *ngIf="transaction.recipient" class="token-transactions-table__address" appTextEllipsis appTypeface="caption">
      {{ translate('to') }}: {{ transaction.recipient }}
    </div>

    <div *ngIf="transaction.fee" class="token-transactions-table__fee" appTypeface="caption">
      {{ translate('fee') }}: {{ transaction.fee.amount[0].amount | microValue | numberFormat : null : true }}
      <app-currency-symbol></app-currency-symbol>
    </div>
  </ng-template>

  <ng-template #receiveTemplate let-transaction>
    <svg-icon
      class="token-transactions-table__icon token-transactions-table__color-receive"
      key="receive"
    ></svg-icon>

    <div class="token-transactions-table__operation">
      {{ translate('received') }}

      <ng-container
        *ngIf="transaction.hash"
        [ngTemplateOutlet]="actionsTemplate"
        [ngTemplateOutletContext]="{ $implicit: transaction.hash }"
      ></ng-container>
    </div>

    <div class="token-transactions-table__amount token-transactions-table__color-receive">
      {{ transaction.amount.amount | microValue | numberFormat : null : true }} <app-currency-symbol></app-currency-symbol>
    </div>

    <div class="token-transactions-table__address" appTextEllipsis appTypeface="caption">
      {{ translate('from') }}: {{ transaction.sender }}
    </div>
  </ng-template>

  <ng-template #pdvRewardsTemplate let-transaction>
    <svg-icon
      class="token-transactions-table__icon token-transactions-table__color-receive"
      key="receive"
    ></svg-icon>

    <div class="token-transactions-table__operation">
      {{ translate('pdv_rewards') }}
    </div>

    <div class="token-transactions-table__amount token-transactions-table__color-receive">
      {{ transaction.amount.amount | microValue | numberFormat : null : true }} <app-currency-symbol></app-currency-symbol>
    </div>

    <div class="token-transactions-table__address" appTextEllipsis appTypeface="caption">
      {{ translate('from') }}: {{ translate('decentr') }}
    </div>
  </ng-template>

  <ng-template #withdrawTemplate let-transaction>
    <svg-icon
      class="token-transactions-table__icon token-transactions-table__color-receive"
      key="receive"
    ></svg-icon>

    <div class="token-transactions-table__operation">
      {{ translate('withdraw') }}

      <ng-container
        *ngIf="transaction.hash"
        [ngTemplateOutlet]="actionsTemplate"
        [ngTemplateOutletContext]="{ $implicit: transaction.hash }"
      ></ng-container>
    </div>

    <div class="token-transactions-table__amount token-transactions-table__color-receive">
      {{ transaction.amount.amount | microValue | numberFormat : null : true }} <app-currency-symbol></app-currency-symbol>
    </div>

    <div class="token-transactions-table__address" appTextEllipsis appTypeface="caption">
      {{ translate('from') }}: {{ transaction.sender }}
    </div>

    <div *ngIf="transaction.fee" class="token-transactions-table__fee" appTypeface="caption">
      {{ translate('fee') }}: {{ transaction.fee.amount[0].amount | microValue | numberFormat : null : true }}
      <app-currency-symbol></app-currency-symbol>
    </div>
  </ng-template>

  <ng-template #actionsTemplate let-txhash>
    <div class="token-transactions-table__operation__actions">
      <div
        class="token-transactions-table__operation__action"
        [cdkCopyToClipboard]="txhash"
        (cdkCopyToClipboardCopied)="onTxHashCopied()"
        [title]="translate('copy_tx')"
      >
        <svg-icon key="copy" size="xs"></svg-icon>
      </div>

      <a
        class="token-transactions-table__operation__action"
        [appTransactionLink]="txhash"
        [title]="translate('open_link')"
      >
        <svg-icon key="link" size="xs"></svg-icon>
      </a>
    </div>
  </ng-template>
</ng-container>
