@import 'variables';

:host {
  align-items: center;
  background: rgba($color-green, 0.08);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: $grid-step * 2;
}

.email-confirmed-card__icon {
  color: $color-green;
  font-size: 96px !important;
}

.email-confirmed-card__title {
  font-weight: 500;
}

.email-confirmed-card__subtitle {
  margin-top: $grid-step;
}

.email-confirmed-card__email {
  font-weight: 500;
}

.email-confirmed-card__hint {
  color: $color-grey;
  margin-top: $grid-step * 1.5;
}
