@import 'variables';

:host {
  display: block;
  height: 100%;
}

.activity-page__expansion-list {
  //flex-grow: 1;
}

.activity-page__expansion-list__header-count {
  background-color: var(--color-expansion-list-header-count-background);
  border-radius: $border-radius;
  color: var(--color-expansion-list-header-count);
  font-weight: 400;
  margin-left: $grid-step;
  min-width: 36px;
  padding: $grid-half-step $grid-step;
  text-align: center;
}

.activity-page--pdv-block-cell {
  column-gap: $grid-step;
  display: flex;

  .is-active {
    color: currentColor;
  }
}

.activity-page__expansion-list__mat-panel {
  border-bottom: 1px solid var(--color-outlines);
  border-radius: 0;
  word-break: break-word;
}

.activity-page__expansion-list__mat-panel-header {
  font-weight: 700;

  &:hover {
    background: var(--color-expansion-list-cell-hover) !important;
  }
}

.activity-page--pdv-description {
  color: var(--color-main-text);
  column-gap: $grid-step;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: $grid-step;
  row-gap: $grid-half-step;
}

.activity-page--pdv-description__key {
  color: var(--color-dportal-activity-page-pdv-description-key);
}

.activity-page__no-activity {
  color: var(--color-dportal-activity-page-no-activity);
  margin-top: $grid-step * 2;
  text-align: center;
}

.activity-page__skeleton-loader {
  display: flex;
  flex-direction: column;
  padding: $grid-step * 1.5;
}
