<app-expansion-list
  class="activity-page__expansion-list"
  *transloco="let translate; read: 'portal.activity_page'"
  [data]="activityList$ | async"
  [border]="isOpenedInTab"
  [singleColumnMode]="!isOpenedInTab"
  appIntersectionArea
>
  <ng-container
    appExpansionListColumnDef
    [appExpansionListColumnDefTrackBy]="trackBy"
    [appExpansionListColumnDefChooseFirst]="isOpenedInTab"
  >
    <ng-container *appExpansionListHeaderCellDef>
      {{ translate('date') }}
    </ng-container>

    <ng-container *appExpansionListCellDef="let item;">
      {{ item.timestamp | date : dateFormat }}
    </ng-container>

    <ng-container *appExpansionListLoading>
      <ngx-skeleton-loader
        class="activity-page__skeleton-loader"
        [count]="10"
        [theme]="skeletonLoaderTheme"
      ></ngx-skeleton-loader>
    </ng-container>

    <ng-container *appExpansionListColumnFooterDef="let items">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <ngx-skeleton-loader
          class="activity-page__skeleton-loader"
          *ngIf="canLoadMore$ | async"
          [count]="1"
          [theme]="skeletonLoaderTheme"
          appIntersectionTarget="0.5"
          (intersect)="loadMore()"
        ></ngx-skeleton-loader>

        <div
          class="activity-page__no-activity"
          *ngIf="!items.length"
        >
          {{ translate('no_activity') }}
        </div>
      </ng-container>
    </ng-container>

    <ng-container
      appExpansionListColumnDef="pdvBlocks"
      [appExpansionListColumnDefChooseFirst]="isOpenedInTab"
    >
      <ng-container *appExpansionListHeaderCellDef="let pdvBlocks; let activityItem = parentItem">
        <ng-container *appBrowserTabView>
          {{ translate('collected_info') }}
        </ng-container>

        <ng-container *appBrowserPopupView>
          {{ activityItem?.timestamp | date : dateFormat }}
        </ng-container>

        <span
          class="activity-page__expansion-list__header-count"
          *ngIf="pdvBlocks"
          appTypeface="paragraph"
        >
            {{ pdvBlocks?.length }}
          </span>
      </ng-container>

      <div
        class="activity-page--pdv-block-cell"
        *appExpansionListCellDef="let item; let isActive = isActive"
      >
        <app-pdv-type-icon
          [class.is-active]="isActive"
          [type]="item.type"
        ></app-pdv-type-icon>

        <span appTextEllipsis>
          {{ item.title }}
        </span>
      </div>

      <ng-container appExpansionListColumnDef="pdv">
        <ng-container *appExpansionListHeaderCellDef="let pdvs; let pdvBlock = parentItem">
          <ng-container *appBrowserTabView>
            {{ translate('details') }}
          </ng-container>

          <span
            *appBrowserPopupView
            appTextEllipsis
          >
            {{ pdvBlock?.title }}
          </span>

          <span
            class="activity-page__expansion-list__header-count"
            *ngIf="pdvs"
            appTypeface="paragraph"
          >
            {{ pdvs?.length }}
          </span>
        </ng-container>

        <ng-container *appExpansionListCellDef="let pdv;">
          <mat-expansion-panel class="activity-page__expansion-list__mat-panel mat-elevation-z">
            <mat-expansion-panel-header
              class="activity-page__expansion-list__mat-panel-header"
              expandedHeight="48px"
            >
              <mat-panel-title
                appTextEllipsis
                class="activity-page__expansion-list__mat-panel-title"
              >
                {{ pdv.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="activity-page--pdv-description">
              <ng-container *ngFor="let keyValue of pdv.details | keyvalue">
                <ng-container *ngIf="keyValue.key !== 'source' && keyValue.key !== 'type'">
                  <span class="activity-page--pdv-description__key">{{ keyValue.key }}:</span>
                  <span>{{ keyValue.value | json }}</span>
                </ng-container>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</app-expansion-list>
