@import 'variables';

:host {
  display: block;
  padding-bottom: $grid-step * 2;
}

.validators-page__table {
  margin: 0 (-$grid-step * 2);
}

.validators-page__header-section {
  display: flex;
  align-items: center;
  column-gap: $grid-step * 2;
}

.validators-page__header-section__withdraw-buttons {
  display: flex;
  column-gap: $grid-step;
}

.validators-page__header-section__divider {
  background-color: $color-outlines;
  flex-shrink: 0;
  height: 32px;
  width: 2px;
}

.validators-page__header-section__withdraw {
  color: $color-black;
  column-gap: $grid-step * 1.5;
}

.validators-page__header-section__withdraw-button {
  align-items: center;
  color: $color-blue;
  column-gap: $grid-half-step;
  display: flex;
}

.validators-page__header-section__withdraw__divider {
  background-color: $color-white;
  height: 32px;
  margin: (-$grid-step * 1.5) 0;
  width: 2px;
}

.validators-page__loading {
  display: block;
  margin-top: $grid-step * 2;
  width: 100%;
}
