@import 'variables';

:host {
  display: block;
  padding: 0 $grid-step * 2 $grid-step * 2;

  &.mod-tab-view {
    padding: 0;

    .login-page__card {
      border: 2px solid var(--color-outlines);
    }

    .login-page__input-container {
      width: 372px;
    }

    .login-page__hint {
      margin-top: 0;
    }

    .login-page__submit-button {
      width: 160px;
    }
  }
}

.login-page__card {
  align-items: center;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 792px;
}

.login-page__title {
  font-weight: 500;
  margin-top: $grid-step * 2;
}

.login-page__subtitle {
  color: var(--color-login-subtitle);
}

.login-page__input-container {
  margin-bottom: $grid-step;
  margin-top: $grid-step * 2;
  width: 100%;
}

.login-page__hint {
  color: var(--color-login-hint);
  margin-top: $grid-step * 2;
  text-align: center;
}

.login-page__restore-link {
  color: var(--color-login-restore-link);
  cursor: pointer;
  font-weight: 500;
}

.login-page__divider {
  background-color: var(--color-outlines);
  flex-shrink: 0;
  height: 2px;
  margin-top: $grid-step * 5;
  width: 100%;
}

.login-page__actions-container {
  display: flex;
  justify-content: flex-end;
  padding: $grid-step * 2;
  width: 100%;
}

.login-page__submit-button {
  width: 100%;
}
