<form
  class="login-page__card"
  *transloco="let translate; read: 'login.login_page'"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  appSubmitSource
>
  <div
    *appBrowserTabView
    class="login-page__title"
    appTypeface="subheader"
  >
    {{ translate('title') }}
  </div>

  <div
    class="login-page__subtitle"
    appTypeface="paragraph"
  >
    {{ translate('subtitle') }}
  </div>

  <app-input-container class="login-page__input-container">
    <app-input
      type="password"
      formControlName="password"
      [autofocus]="true"
    >
      <ng-container ngProjectAs="[label]">
        {{ translate('form.password.label') }}
      </ng-container>
    </app-input>

    <app-form-error controlName="password"></app-form-error>
  </app-input-container>

  <ng-container *appBrowserTabView>
    <div class="login-page__hint">
      <div appTypeface="paragraph">{{ translate('forgot_password') }}</div>

      <ng-container [ngTemplateOutlet]="restore"></ng-container>
    </div>

    <div class="login-page__divider"></div>

    <div class="login-page__actions-container">
      <ng-container [ngTemplateOutlet]="submitButton"></ng-container>
    </div>
  </ng-container>

  <ng-container *appBrowserPopupView>
    <ng-container [ngTemplateOutlet]="submitButton"></ng-container>

    <div class="login-page__hint">
      <ng-container [ngTemplateOutlet]="restore"></ng-container>
    </div>
  </ng-container>

  <ng-template #restore>
    <a
      class="login-page__restore-link"
      (click)="navigateToRestorePage()"
      appTypeface="paragraph"
    >
      {{ translate('restore') }}
    </a>
    {{ translate('with_seed') }}
  </ng-template>

  <ng-template #submitButton>
    <button
      class="login-page__submit-button"
      app-button
      type="submit"
    >
      {{ translate('form.submit') }}
    </button>
  </ng-template>
</form>
