<ng-container *transloco="let translate; read: 'portal.vpn_page'">
  <div class="vpn-page__button-container">
    <button
      class="vpn-page__button"
      (click)="toggleProxy()"
    >
      <span
        class="vpn-page__button-status"
        appTypeface="header-4"
      >
        {{ translate(isActive ? 'status.on' : 'status.off') }}
      </span>

      <span class="vpn-page__button-divider"></span>

      <span class="vpn-page__button-connection">
        {{ translate(isActive ? 'connection.secured' : 'connection.insecure') }}
      </span>
    </button>
  </div>

  <div
    class="vpn-page__active-vpn-container"
    *ngIf="activeServer$ | async as activeServer; else vpnSelector"
  >
    <span appTypeface="caption">
      {{ translate('browsing_securely_from') }}
    </span>

    <div class="vpn-page__active-vpn-region">
      <div
        class="vpn-page__active-vpn-region-icon"
        [ngClass]="'flag-icon flag-icon-' + activeServer?.country"
      ></div>

      <span>
        {{ activeServer.title }}
      </span>
    </div>
  </div>

  <ng-template #vpnSelector>
    <span
      class="vpn-page__vpn-selector__title"
      appTypeface="caption"
    >
      {{ translate('browse_securely_from') }}
    </span>

    <app-vpn-selector
      class="vpn-page__vpn-selector"
      [servers]="servers$ | async"
      [formControl]="serverFormControl"
    ></app-vpn-selector>
  </ng-template>
</ng-container>
