<ng-container *transloco="let translate; read: 'portal.vpn_page'">
  <div
    *ngIf="isFirefoxHintVisible || isUnknownBrowser"
    class="vpn-page__error-hint-container"
  >
    <div class="vpn-page__error-hint">
      {{ isFirefoxHintVisible ? translate('firefox_hint') : '' }}
      {{ isUnknownBrowser ? translate('unknown_browser') : '' }}
    </div>
  </div>

  <div class="vpn-page__button-container">
    <button
      class="vpn-page__button"
      (click)="toggleProxy()"
    >
      <span
        class="vpn-page__button-status"
        appTypeface="header-4"
      >
        {{ translate(isActive ? 'status.on' : 'status.off') }}
      </span>

      <span class="vpn-page__button-divider"></span>

      <span class="vpn-page__button-connection" appTypeface="paragraph">
        {{ translate(isActive ? 'connection.secured' : 'connection.insecure') }}
      </span>
    </button>
  </div>

  <div
    class="vpn-page__active-vpn-container"
    *ngIf="isActive; else vpnSelector"
  >
    <span appTypeface="caption">
      {{ translate('browsing_securely_from') }}
    </span>

    <div class="vpn-page__active-vpn-region">
      <svg-icon
        class="vpn-page__active-vpn-region-icon"
        [key]="activeServer.country"
      ></svg-icon>

      <span>
        {{ activeServer.title || activeServer.address }}
      </span>
    </div>
  </div>

  <ng-template #vpnSelector>
    <span
      class="vpn-page__vpn-selector__title"
      appTypeface="caption"
    >
      {{ translate('browse_securely_from') }}
    </span>

    <app-vpn-selector
      *ngIf="servers$ | async as servers"
      class="vpn-page__vpn-selector"
      [servers]="servers"
      [formControl]="serverFormControl"
    ></app-vpn-selector>
  </ng-template>
</ng-container>

<div
  *ngIf="isLoading"
  class="vpn-page__loader-container"
>
  <app-spinner></app-spinner>
</div>
