<quill-editor
  class="hub-post-text-editor__quill"
  *transloco="let translate"
  [formControl]="quillControl"
  (onEditorCreated)="onEditorCreated($event)"
  (onSelectionChanged)="onSelectionChanged($event)"
  [placeholder]="translate('hub.hub_post_text_editor.placeholder')"
></quill-editor>

<button
  class="hub-post-text-editor__image-remove-button"
  *ngFor="let image of images; let index = index"
  app-icon-button
  color="grey"
  size="xs"
  [style.top.px]="image.offsetTop"
  [style.left.px]="image.offsetLeft + image.offsetWidth"
  (click)="removeImage(image)"
>
  <svg-icon key="delete"></svg-icon>
</button>
