$assets-list--item--arrow-color: #9294ab;
$assets-list--item--hover--bg-color: #F2F3F4;

:host {
  display: flex;
  flex-direction: column;
}

.assets-list__items {
  margin-bottom: 8px;
}

.assets-list__item {
  border-radius: 4px;
  cursor: not-allowed;
  display: flex;
  padding: 10px;
  position: relative;
  transition: background .3s ease;

  &:after {
    border-bottom: 2px solid;
    border-left: 2px solid;
    color: $assets-list--item--arrow-color;
    content: '';
    height: 8px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
    width: 8px;
  }

  &:hover {
    background: $assets-list--item--hover--bg-color;
  }

  &-icon {
    display: inline-flex;
    font-size: 40px;
  }

  &-name {
    align-items: center;
    display: flex;
    font-size: 18px;
    margin-left: 13px;
  }
}

.assets-list__add {
  align-self: center;

  .btn {
    cursor: not-allowed;
  }
}
