@import 'variables';

:host {
  display: block;
  height: 100%;
}

.activity-page__expansion-list {
  height: 100%;
}

.activity-page__expansion-list__header-count {
  background-color: $color-background;
  border-radius: $border-radius;
  font-weight: 400;
  margin-left: $grid-step;
  min-width: 36px;
  padding: $grid-step / 2 $grid-step;
  text-align: center;
}

.activity-page__expansion-list__mat-panel {
  border-radius: 0;
  word-break: break-word;
}

.activity-page__expansion-list__mat-panel-header {
  font-weight: 700;

  &:hover {
    background: $color-background !important;
  }
}

.activity-page--cookie-description {
  column-gap: $grid-step;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: $grid-step;
  row-gap: $grid-step / 2;
}

.activity-page--cookie-description__key {
  color: $color-grey;
}

.activity-page__skeleton-loader {
  display: flex;
  flex-direction: column;
  padding: $grid-step * 1.5;
}
