$circle-avatar--size: 38px;

:host {
  border-radius: 6px;
  display: inline-flex;
  height: $circle-avatar--size;
  min-width: $circle-avatar--size;
  width: $circle-avatar--size;
}

.user-avatar__image {
  height: 100%;
  width: 100%;
}
