@import 'variables';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: $grid-step * 3;
}

.technical-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.technical-page__logo-icon {
  display: inline-flex;
}

.technical-page__title {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1rem;
  text-align: center;
  white-space: pre-wrap;
}

.technical-page__network-selector {
  margin-top: $grid-step * 5;
}
