<ng-container *transloco="let translate; read: 'circle.circle_wall_post'">
  <div class="circle-wall-post__header">
    <app-avatar [icon]="post.author.avatar"></app-avatar>

    <div class="circle-wall-post__info-container">
      <div appTextEllipsis>
        <span class="circle-wall-post__author">{{ post.author.name }}</span>
        <span class="circle-wall-post__posted">{{ translate('posted') }}</span>
        <span class="circle-wall-post__title">{{ post.title }}</span>
      </div>

      <app-circle-post-time [time]="post.time"></app-circle-post-time>
    </div>
  </div>

  <div
    class="circle-wall-post__content"
    [innerHTML]="post.content | appSanitize : 'html'"
  ></div>

  <mat-divider class="circle-wall-post__divider"></mat-divider>

  <div class="circle-wall-post__footer">
    <div class="circle-wall-post__pdv">
      <span [inlineSVG]="'assets/images/icons/signal.svg'"></span>
      <span class="circle-wall-post__pdv-label">{{ translate('pdv') }}</span>
      <app-circle-post-pdv [pdv]="post.pdv"></app-circle-post-pdv>
    </div>

    <app-circle-post-rating
      [likes]="post.rating.likes"
      [dislikes]="post.rating.dislikes"
    ></app-circle-post-rating>
  </div>
</ng-container>
