$circle-wall-post--background-color: #FFFFFF;
$circle-wall-post--posted-color: #9EA0A5;

:host {
  background-color: $circle-wall-post--background-color;
  display: block;
  font-size: 14px;
  padding: 24px;
}

.circle-wall-post__header {
  display: flex;
}

.circle-wall-post__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  overflow: hidden;
}

.circle-wall-post__author {
  font-weight: 500;
}

.circle-wall-post__posted {
  color: $circle-wall-post--posted-color;
  margin: 0 4px;
}

.circle-wall-post__content {
  line-height: 22px;
  margin-top: 10px;
}

.circle-wall-post__divider {
  margin: 14px 0;
}

.circle-wall-post__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.circle-wall-post__pdv {
  align-items: center;
  display: flex;
}

.circle-wall-post__pdv-label {
  font-weight: 500;
  margin: 0 24px 0 16px;
}
