@import 'variables';

:host {
  display: block;
}

.validators-table__validator {
  align-items: center;
  display: flex;
}

.validators-table__validator-jailed {
  margin-left: $grid-step;
  user-select: none;
}

.validators-table__validator-status {
  display: flex;
}

.validators-table__voting-power-percent {
  color: $color-grey;
}

.validators-table__voting-power-percent-loading {
  display: flex;
}

.mod-empty {
  color: $color-light-grey;
}
