@import 'variables';

:host {
  display: block;
}

.validators-table__validator {
  align-items: center;
  display: flex;
}

.validators-table__validator-jailed {
  margin-left: $grid-step;
  user-select: none;
}

.validators-table__validator-status {
  display: flex;
}

.validators-table__voting-power-percent {
  color: $color-grey;
}

.validators-table__reward-and-delegated {
  align-items: center;
  display: inline-flex;
}

.validators-table__reward {
  align-items: center;
  background-color: rgba($color-blue, .12);
  border-radius: $border-radius;
  color: $color-blue;
  column-gap: $grid-half-step;
  display: inline-flex;
  font-weight: 500;
  margin-right: $grid-step;
  padding: $grid-half-step $grid-step * 1.5 $grid-half-step $grid-step;
}

.validators-table__reward-icon {
  margin-right: $grid-half-step;
}

.validators-table__voting-power-percent-loading {
  display: flex;
}

.mod-empty {
  color: $color-light-grey;
}
