<app-hub-statistics-card
  class="hub-activity-statistics__card"
  *transloco="let translate; read: 'hub.hub_activity_distribution'"
>
  <ng-container ngProjectAs="title">
    {{ translate('data_value') }}
  </ng-container>

  <ng-container ngProjectAs="subtitle">
    {{ translate('last_24_hours') }}
  </ng-container>

  <!-- TODO: make visible when distribution will be done -->
  <ng-container *ngIf="false">
    <div
      class="hub-activity-statistics__param"
      *ngFor="let param of distributions; trackBy: trackByParamI18nKey"
    >
      <div class="hub-activity-statistics__param-name">{{ translate(param.paramI18nKey) }}</div>

      <app-colored-distribution-line
        class="hub-activity-statistics__param-distribution"
        [distribution]="param.distribution"
      ></app-colored-distribution-line>
    </div>
  </ng-container>

  <div class="hub-activity-statistics__future-params">
    <div>
      <div class="hub-activity-statistics__param-name">{{ translate('params.pdv') }}</div>
      <div class="hub-activity-statistics__param-name">{{ translate('params.adv') }}</div>
      <div class="hub-activity-statistics__param-name">{{ translate('params.ddv') }}</div>
      <div class="hub-activity-statistics__param-name">{{ translate('params.dec') }}</div>
    </div>
    <div class="hub-activity-statistics__coming-soon">{{ translate('coming_soon') }}</div>
  </div>

  <ng-container ngProjectAs="footer">
    <app-color-circle-label
      class="hub-activity-statistics__source-label"
      *ngFor="let source of dataValueSources; trackBy: trackBySelf"
      [color]="colors[source]"
    >
      <span class="hub-activity-statistics__source-label-text">
        {{ translate('sources.' + source) }}
      </span>
    </app-color-circle-label>
  </ng-container>
</app-hub-statistics-card>
