@import 'variables';

.pdv-rate-wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 5px;
  min-height: 132px;

  .network-icon {
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid $grey-border-color;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 8px;
  }

  .pdv-rate {
    display: flex;
    font-size: 28px;
    position: relative;
    margin-bottom: 5px;

    .pdv-rate-value {
      padding-right: 5px;
    }

    .pdv-rate-margin {
      position: absolute;
      right: 0;
      transform: translateX(100%);
    }
  }

  .pdv-exchange-rate {
    font-size: 15px;
    letter-spacing: .2px;
    color: #838B94;
  }
}

.tabs-wrapper {
  background: #ffffff;

  ::ng-deep {
    .mat-tab-label {
      opacity: 1;

      &-active {
        .mat-tab-label-content {
          color: #4477E4;
        }
      }
    }

    .mat-tab-label-content {
      font-size: 13px;
      letter-spacing: 0.2px;
      color: #8587A1;
      font-weight: 500;
    }
  }

  .tab-container {
    padding: 1rem 1rem;
    min-height: 250px;
    max-height: 250px;
  }
}

.tab-container {
  width: 100%;
  height: 100%;
}

.user-page__pdv-rate__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-page__pdv-rate__spinner {
  height: 45px;
  width: 45px;
}

.user-page__pdv-activity-list__loading-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.user-page__pdv-activity-list__spinner {
  height: 30px;
  width: 30px;
}

.user-page__pdv-activity-list__loading-intersection-target {
  height: 30px;
  width: 100%;
}

.user-details-page__back-btn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
}

.user-details-page__transfer-history {
  background: #ffffff;
  height: 299px;
  overflow: auto;
}
