<ng-container *transloco="let translate; read: 'user.user_details_page'">
  <div class="pdv-rate-wrapper">
    <div class="network-icon">
      <img src="assets/images/logo-icon.svg" alt="Decentr">
    </div>

    <app-user-bank-balance
      *ngIf="showBankBalance$ | async; else userPDVBalance"
      [bankBalance]="bankBalance"
    ></app-user-bank-balance>

    <ng-template #userPDVBalance>
      <div class="pdv-rate">
        <span class="pdv-rate-value">
          <ngx-skeleton-loader
            *ngIf="!balance"
            [theme]="{
              height: '26px',
              marginBottom: '0',
              width: '200px'
            }"
          ></ngx-skeleton-loader>
          <span
            *ngIf="balance"
            [matTooltip]="translate('estimated_balance', { estimatedBalance: estimatedBalance$ | async })"
          >
            {{ balance.value | pdvValue }} PDV
          </span>
        </span>

        <app-pdv-rate-margin-icon
          *ngIf="balance"
          class="pdv-rate-margin"
          [rateMargin]="balance.dayMargin"
        ></app-pdv-rate-margin-icon>

        <ngx-skeleton-loader
          *ngIf="!balance"
          class="pdv-rate-margin"
          [theme]="{
            height: '15px',
            marginBottom: '0',
            width: '73px'
          }"
        ></ngx-skeleton-loader>
      </div>

      <div class="pdv-exchange-rate">
        <ng-container *ngIf="coinRate">
          {{ translate('exchange_rate', { rate: coinRate | number:'1.0-4' }) }}
        </ng-container>

        <ngx-skeleton-loader
          *ngIf="!coinRate"
          [theme]="{
            height: '18px',
            marginBottom: '0',
            width: '155px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </ng-template>
  </div>

  <div class="tabs-wrapper" *ngIf="!isTransferHistoryVisible; else transferHistory">
    <mat-tab-group
      mat-stretch-tabs
      mat-align-tabs="center"
      [selectedIndex]="selectedTabIndex$ | async"
      (selectedTabChange)="onTabChange($event.index)"
    >
      <ng-container *ngFor="let tab of tabs" [ngSwitch]="tab">
        <mat-tab
          *ngSwitchCase="tabsEnum.PDVRate"
          [label]="translate('tabs.pdv_rate')"
        >
          <div class="tab-container user-page__pdv-rate__container">
            <app-activity-chart
              *ngIf="(chartPoints$ | async) as points; else loadingChart"
              [data]="points"
            ></app-activity-chart>

            <ng-template #loadingChart>
              <app-spinner class="user-page__pdv-rate__spinner"></app-spinner>
            </ng-template>
          </div>
        </mat-tab>

        <mat-tab
          *ngSwitchCase="tabsEnum.Activity"
          [label]="translate('tabs.activity')"
        >
          <div class="tab-container">
            <ng-container *ngIf="pdvList$ | async as pdvList">
              <app-activity-list
                *ngIf="pdvList.length || (isLoadingActivity$ | async) === false"
                [items]="pdvList"
                (details)="openPDVDetails($event)"
              ></app-activity-list>
            </ng-container>

            <ng-template [ngTemplateOutlet]="activityLoading"></ng-template>
          </div>
        </mat-tab>

        <mat-tab
          *ngSwitchCase="tabsEnum.Assets"
          [label]="translate('tabs.assets')"
        >
          <div class="tab-container">
            <app-assets-list
              [balance]="bankBalance"
              (selected)="showTransferHistory()"
            ></app-assets-list>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>

  <ng-template #transferHistory>
    <div
      class="user-details-page__back-btn"
      *appSlot="userPageHeaderSlotName"
      (click)="closeTransferHistory()"
    >
      {{ translate('back') }}
    </div>

    <app-user-transfer-history
      class="user-details-page__transfer-history"
    ></app-user-transfer-history>
  </ng-template>

  <ng-template #activityLoading>
    <div
      class="user-page__pdv-activity-list__loading-container"
      *ngIf="canLoadMoreActivity$ | async"
    >
      <app-spinner
        class="user-page__pdv-activity-list__spinner"
        *ngIf="isLoadingActivity$ | async; else intersectionTarget"
      ></app-spinner>

      <ng-template #intersectionTarget>
        <div
          class="user-page__pdv-activity-list__loading-intersection-target"
          appIntersectionTarget
          (intersect)="onLoadMoreActivity()"
        ></div>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
