<div class="container page-welcome">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="logo-icon">
        <img src="/assets/images/logo-icon.svg" alt="Decentr">
      </div>

      <div class="page-title">
        Welcome to Decentr
      </div>

      <div class="page-content">
        Connecting you to Decentr and Decentralized Web.<br/>
        We are happy you join us.
      </div>

      <button class="btn btn__middle"
              mat-flat-button
              color="accent"
              [routerLink]="[welcomeRoute.NewUser]">
        Get Started
      </button>
    </div>
  </div>
</div>
