<ng-container *transloco="let translate; read: 'user.user_page'">
  <div class="page-home" *ngIf="user$ | async as user">
    <div class="container" [class.no-padding]="matchMediaService.isSmall()">
      <div class="user-nav-wrapper">
        <div></div>

        <div class="user-data">
          <div class="user-data__inner"
               (click)="copyWalletAddress(user.wallet.address)"
               [matTooltip]="translate('copy_wallet_address')">
            <div class="wallet-username">
              {{ user.primaryUsername }}
            </div>
            <div class="wallet-id">
              {{ user.wallet.address }}
            </div>
          </div>
        </div>

        <div class="menu">
          <div class="menu-button"
               [matMenuTriggerFor]="selectUserMenu">
            <div class="menu-button__inner">
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="pdv-rate-wrapper">
        <div class="network-icon">
          <img src="assets/images/logo-icon.svg" alt="Decentr">
        </div>
        <ng-container *ngIf="balance$ | async as balance">
          <div class="pdv-rate"
            [class.pdv-rate__rise]="balance.dayMargin > 0"
            [class.pdv-rate__fall]="balance.dayMargin < 0"
            [class.pdv-rate__none]="balance.dayMargin === 0"
          >
            {{ balance.value | pdvValue }} PDV
            <span>
              <div class="rate-icon"
                [resolveSVGUrl]="false"
                [inlineSVG]="'assets/images/icons/arrow-circle.svg'"
              ></div>
              <ng-container *ngIf="balance.dayMargin > 0">+</ng-container>{{ balance.dayMargin | number : '1.0-2' }}%
            </span>
          </div>
        </ng-container>
        <div class="pdv-exchange-rate" *ngIf="coinRate$ | async as coinRate">
          {{ translate('exchange_rate', { rate: coinRate | number:'1.0-4' }) }}
        </div>
      </div>

      <ng-container *ngIf="matchMediaService.isSmall() else tabsTwoColumns">
        <div class="tabs-wrapper">
          <mat-tab-group mat-stretch-tabs
                         mat-align-tabs="center"
                         animationDuration="0ms">
            <mat-tab [label]="translate('tabs.pdv_rate')">
              <div class="tab-container">
                <app-chart
                  *ngIf="chartPoints$ | async as points"
                  [data]="points"
                ></app-chart>
              </div>
            </mat-tab>
            <mat-tab [label]="translate('tabs.activity')">
              <div class="tab-container">
                <app-activity-list
                  [items]="pdvList$ | async"
                  (details)="openPDVDetails($event)"
                ></app-activity-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-container>

      <ng-template #tabsTwoColumns>
        <div class="tabs-wrapper tabs-wrapper__two-columns">
          <mat-tab-group mat-stretch-tabs
                         mat-align-tabs="center"
                         disableRipple
                         animationDuration="0ms">
            <mat-tab [label]="translate('tabs.pdv_rate')">
              <div class="tab-container">
                <app-chart
                  *ngIf="chartPoints$ | async as points"
                  [data]="points"
                ></app-chart>
              </div>
            </mat-tab>
          </mat-tab-group>

          <mat-tab-group mat-stretch-tabs
                         mat-align-tabs="center"
                         disableRipple
                         animationDuration="0ms">
            <mat-tab [label]="translate('tabs.activity')">
              <div class="tab-container">
                <app-activity-list
                  *ngIf="pdvList$ | async as list"
                  [items]="list"
                  (details)="openPDVDetails($event)"
                ></app-activity-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-template>

    </div>
  </div>

  <mat-menu #selectUserMenu="matMenu"
            class="selectUserMenu">
    <ng-template matMenuContent>
      <div class="menu-wrapper">
        <div class="menu-items">
          <div class="menu-item menu-item__active"
               *ngIf="matchMediaService.isSmall()"
               (click)="expandView()">
            <div class="icon"
                 [resolveSVGUrl]="false"
                 [inlineSVG]="'assets/images/icons/expand.svg'">
            </div>
            <div class="menu-item__name">
              {{ translate('expand_view') }}
            </div>
          </div>
          <div class="menu-item" [routerLink]="[userRoute.Edit]">
            <div class="icon"
                 [resolveSVGUrl]="false"
                 [inlineSVG]="'assets/images/icons/user.svg'">
            </div>
            <div class="menu-item__name">
              {{ translate('account_details') }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-menu>
</ng-container>
