<app-network-selector
  *appSlot="headerMetaSlot"
></app-network-selector>

<ng-container *transloco="let translate; read: 'user.user_page'">
  <div class="user-page__section">
    <div
      class="user-page__card"
    >
      <router-outlet></router-outlet>
    </div>

    <div
      class="user-page__card__app-version"
      appTypeface="caption"
    >
      {{ translate('charon_version') }} {{ appVersion }}
    </div>
  </div>

  <div
    class="user-page__section user-page__card"
  >
    <div
      class="user-page__wallet-card__title"
      appTypeface="subheader"
    >
      {{ translate('your_wallet') }}

      <button
        app-button
        color="grey"
        size="xs"
        appTypeface="caption"
        [cdkCopyToClipboard]="walletAddress$ | async"
        (cdkCopyToClipboardCopied)="onWalletAddressCopied()"
      >
        <svg-icon key="wallet" size="xs"></svg-icon>
        {{ translate('copy_wallet_address') }}
      </button>
    </div>

    <ng-container *ngIf="decBalance$ | async as decBalance; else balanceLoading">
      <div
        class="user-page__wallet-card__balance"
        appTypeface="header-3"
      >
        {{ decBalance | microValue | numberFormat : null : true }}&nbsp;<app-currency-symbol></app-currency-symbol>
      </div>
    </ng-container>

    <div class="user-page__wallet-card__actions">
      <a [routerLink]="transferRoute">
        <button
          app-button
        >
          <svg-icon key="send"></svg-icon>
          {{ translate('send') }}
        </button>
      </a>

      <a [routerLink]="stakingRoute">
        <button
          app-button
          color="grey"
        >
          <svg-icon key="delegate"></svg-icon>
          {{ translate('delegate') }}
        </button>
      </a>
    </div>
  </div>
</ng-container>

<ng-template #balanceLoading>
  <ngx-skeleton-loader
    class="user-page__skeleton-loader"
    [theme]="{ height: '68px' }"
  ></ngx-skeleton-loader>
</ng-template>
