<ng-container *transloco="let translate; read: 'login.import_restore_page'">
  <div
    class="container page-import-account-seed"
    *ngIf="currentPageType$ | async as currentPageType"
  >
    <div class="row">
      <div class="col-xs-12">
        <div class="btn btn__back"
             (click)="navigateBack()">
          < {{ translate('back') }}
        </div>
        <div class="page-title page-title__large">
          {{ translate(currentPageType === pageType.IMPORT_ACCOUNT ? 'import.title': 'restore.title') }}
        </div>
        <div class="page-content">
          {{ translate(currentPageType === pageType.IMPORT_ACCOUNT ? 'import.subtitle': 'restore.subtitle') }}
        </div>
      </div>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(currentPageType)"
      *transloco="let translate; read: 'login.import_restore_page.form'"
    >
      <div class="row">
        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('seed.label') }}</div>

          <mat-form-field *ngIf="isSeedPhraseVisible"
                          class="input-seed-phrase"
                          appearance="outline">
          <textarea matInput
                    rows="5"
                    name="seedPhrase"
                    formControlName="seedPhrase"
                    placeholder="Separate each word with a single space">
          </textarea>

            <mat-error>
              <app-form-error controlName="seedPhrase" i18nControlKey="seed"></app-form-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="!isSeedPhraseVisible"
                          class="input-seed-phrase"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="seedPhrase"
                   formControlName="seedPhrase"
                   placeholder="Separate each word with a single space">

            <mat-error>
              <app-form-error controlName="seedPhrase" i18nControlKey="seed"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="checkbox-container col-xs-12">
          <mat-checkbox class="show-seed-phrase"
                        (change)="toggleSeedPhraseVisibility()"
                        [checked]="isSeedPhraseVisible">
            {{ translate('seed.show') }}
          </mat-checkbox>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="password"
                   formControlName="password"
                   placeholder="">

            <mat-error>
              <app-form-error controlName="password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-container col-xs-12">
          <div class="input-label">{{ translate('confirm_password.label') }}</div>
          <mat-form-field class="input-control"
                          appearance="outline">
            <input matInput
                   type="password"
                   name="confirmPassword"
                   formControlName="confirmPassword"
                   placeholder="">

            <mat-error>
              <app-form-error controlName="confirmPassword" i18nControlKey="confirm_password"></app-form-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            *transloco="let translate; read: 'login.import_restore_page'"
            class="btn btn__small"
            mat-flat-button
            color="accent"
            [disabled]="form.invalid"
          >
            {{ currentPageType === pageType.IMPORT_ACCOUNT
              ? translate('import.submit')
              : translate('restore.submit')
            }}
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
