@import 'variables';

:host {
  display: inline-flex;

  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-select-arrow,
    .mat-select-placeholder,
    .mat-select-value {
      color: currentColor;
    }

    .mat-select-value {
      font-weight: 700;
      max-width: 100%;
    }
  }
}

.hub-category-select__category-dot {
  background-color: currentColor;
  border-radius: 100%;
  display: inline-flex;
  height: $grid-step;
  margin-right: $grid-step;
  vertical-align: middle;
  width: $grid-step;
}
