<mat-form-field
  *transloco="let translate"
  floatLabel="never"
  appearance="none"
  color="none"
>
  <mat-select
    [ngModel]="value"
    (ngModelChange)="onCategorySelect($event)"
    [placeholder]="translate('hub.hub_category_select.placeholder')"
  >
    <mat-select-trigger>
      <ng-template
        [ngTemplateOutlet]="option"
        [ngTemplateOutletContext]="{ $implicit: value }"
      ></ng-template>
    </mat-select-trigger>

    <mat-option
      *ngFor="let category of categories"
      [value]="category"
    >
      <ng-template
        [ngTemplateOutlet]="option"
        [ngTemplateOutletContext]="{ $implicit: category }"
      ></ng-template>
    </mat-option>
  </mat-select>

  <ng-template #option let-category>
    <span
      class="hub-category-select__category-dot"
      [appHubPostCategoryColor]="category"
    ></span>

    <span appTypeface="paragraph">{{ translate(translationMap[category]) }}</span>
  </ng-template>
</mat-form-field>
