@import 'variables';

:host {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  height: 100vh;
  overflow: auto;
}

.public-layout__content-container {
  margin: 0 auto;
  padding: 0 $page-side-padding;
  width: $page-width + $page-side-padding * 2;
}

.public-layout__logo {
  display: block;
  height: 40px;
  margin: $grid-step * 5 auto;
  width: 147px;
}
