@import 'variables';

:host {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  min-height: 100vh;
}

.public-layout__logo {
  display: block;
  height: 40px;
  margin: $grid-step * 5 auto;
  width: 147px;
}

.public-layout__footer {
  bottom: 0;
  position: sticky;
}
