<ng-container *transloco="let translate; read: 'user.user_menu_page'">
  <div
    class="user-menu-page__profile"
    *ngIf="profile$ | async as profile; else profileLoading"
  >
    <app-avatar
      class="user-menu-page__profile__avatar"
      [avatarUrl]="profile.avatar"
    ></app-avatar>

    <div>
      <div appTypeface="header-4">
        {{ profile.firstName }} {{ profile.lastName }}
        <span
          class="user-menu-page__profile__ban-label"
          appTypeface="caption"
          [appTooltip]="translate('banned.tooltip')"
        >
          {{ translate('banned.label') }}
        </span>
      </div>

      <div
        class="user-menu-page__profile__bio"
        appTypeface="paragraph"
      >
        {{ profile.bio }}
      </div>
    </div>
  </div>

  <div class="user-menu-page__menu-block">
    <button
      class="user-menu-page__menu-block__button"
      app-button
      color="grey"
      appTypeface="paragraph"
      [routerLink]="['./', userRoute.Edit]"
    >
      <svg-icon key="edit"></svg-icon>

      <span>{{ translate('edit') }}</span>
    </button>

    <button
      class="user-menu-page__menu-block__button"
      app-button
      color="grey"
      appTypeface="paragraph"
      [routerLink]="['./', userRoute.Settings]"
    >
      <svg-icon key="settings"></svg-icon>

      <span>{{ translate('settings') }}</span>
    </button>
  </div>

  <div class="user-menu-page__menu-block">
    <button
      class="user-menu-page__menu-block__button"
      app-button
      color="grey"
      disabled
      appTypeface="paragraph"
    >
      <svg-icon key="import-account"></svg-icon>

      <span>{{ translate('import') }}</span>

      <span
        appTypeface="caption"
        class="user-menu-page__menu-block__coming-soon"
      >
        {{ translate('coming_soon') }}
      </span>
    </button>

    <button
      class="user-menu-page__menu-block__button mod-disable-align"
      app-button
      color="grey"
      appTypeface="paragraph"
      (click)="lockAccount()"
    >
      <svg-icon key="lock"></svg-icon>

      <div>
        <span>{{ translate('lock') }}</span>

        <div
          class="user-menu-page__menu-block__button-hint"
          appTypeface="caption"
        >
          {{ translate('lock_hint') }}
        </div>
      </div>
    </button>

    <button
      class="user-menu-page__menu-block__button mod-disable-align"
      app-button
      color="grey"
      appTypeface="paragraph"
      (click)="requestDeleteConfirmation()"
    >
      <svg-icon key="delete"></svg-icon>

      <div>
        <span>{{ translate('delete') }}</span>

        <div
          class="user-menu-page__menu-block__button-hint"
          appTypeface="caption"
        >
          {{ translate('delete_hint') }}
        </div>
      </div>
    </button>
  </div>
</ng-container>

<ng-template #profileLoading>
  <ngx-skeleton-loader
    class="user-menu-page__skeleton-loader"
    [theme]="{ height: '80px' }"
  ></ngx-skeleton-loader>
</ng-template>
