@import 'variables';

:host {
  align-items: center;
  background: var(--color-main-background);
  border: 1px solid var(--color-outlines);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: $grid-step;
  padding: $grid-step * 3 $grid-step $grid-step;
}

.hub-profile-card__avatar {
  $avatar-size: 88px;

  height: $avatar-size;
  margin-bottom: $grid-step;
  width: $avatar-size;
}

.hub-profile-card__name {
  text-align: center;
  word-break: break-word;
}

.hub-profile-card__bio {
  color: var(--color-dhub-profile-card-bio);
  text-align: center;
  word-break: break-word;
}

.hub-profile-card__posts-count {
  font-weight: 700;
  margin: $grid-step 0 $grid-step * 2;
}

.hub-profile-card__button {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  padding: $grid-step $grid-step * 1.5;
  width: 100%;

  & + & {
    margin-top: $grid-step;
  }

  &.is-active {
    background-color: var(--color-dhub-profile-card-button-active-background);
    color: var(--color-dhub-profile-card-button-active);
  }

  &.is-updating {
    cursor: wait;
  }
}
