<ng-container *transloco="let translate; read: 'hub.hub_post_delete_button'">
  <svg-icon
    class="hub-post-delete-button__delete-icon"
    key="delete"
    size="xs"
    [title]="translate('remove_post_title')"
  ></svg-icon>

  <div class="hub-post-delete-button__text-container" appTypeface="caption">
    <ng-container *ngIf="getIsCollapsed; else expanded">
      {{ translate('delete_post') }}
    </ng-container>

    <ng-template #expanded>
      <span class="hub-post-delete-button__text">
        {{ translate('will_be_deleted') }}
      </span>

      <button
        class="hub-post-delete-button__button-cancel"
        app-button
        color="grey"
        size="xs"
        (click)="toggleButton($event)"
      >
        {{ translate('cancel') }}
      </button>

      <button
        class="hub-post-delete-button__button-delete"
        app-button
        color="negative"
        size="xs"
        (click)="onClickDelete()"
      >
        {{ translate('delete') }}
      </button>
    </ng-template>
  </div>
</ng-container>
