<ng-container *transloco="let translate; read: 'hub.hub_post_delete_button'">
  <button
    class="hub-post-delete-button__expand-button"
    *ngIf="!isExpanded; else expandedTemplate"
    app-icon-button
    color="white"
    (click)="toggle($event)"
  >
    <svg-icon
      key="delete"
      [title]="translate('delete_post')"
    ></svg-icon>
  </button>

  <ng-template #expandedTemplate>
    <div
      class="hub-post-delete-button__confirmation"
      appTypeface="caption"
    >
      <svg-icon
        key="delete"
        size="xs"
      ></svg-icon>

      <span class="hub-post-delete-button__confirmation__text">
        {{ translate('will_be_deleted') }}
      </span>

      <button
        app-button
        color="grey"
        size="xs"
        (click)="toggle($event)"
      >
        {{ translate('cancel') }}
      </button>

      <button
        class="hub-post-delete-button__confirmation__confirm-button"
        app-button
        color="negative"
        size="xs"
        (click)="onDelete()"
      >
        {{ translate('delete') }}
      </button>
    </div>
  </ng-template>
</ng-container>
