@import 'variables';

:host {
  display: inline-flex;
}

.hub-post-delete-button__expand-button {
  opacity: .4;
  padding: $grid-step * 1.5;

  &:hover {
    opacity: 1;
  }
}

.hub-post-delete-button__confirmation {
  background-color: $color-dark-grey;
  border-radius: $border-radius;
  display: flex;
  padding: $grid-step;
}

.hub-post-delete-button__confirmation__text {
  margin: 0 $grid-step * 2 0 $grid-half-step;
  max-width: 200px;
}

.hub-post-delete-button__confirmation__confirm-button {
  margin-left: $grid-step;
}
