<ng-container *transloco="let translate; read: 'user.activity_details'">
  <div class="popup-header">
    <div class="popup-header__details-description">
      <span class="popup-header__details-description__field">
        <strong>{{ translate('date') }}:</strong>
        <span class="popup-header__details-description__field-value">
          {{ details.date | date: 'dd.MM.yyyy HH:mm' }}
        </span>
      </span>
    </div>

    <div class="btn-close-popup" mat-dialog-close></div>
  </div>
  <mat-dialog-content class="popup-body">
    <mat-expansion-panel *ngFor="let pdv of details.pdv">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ pdv.domain }}</mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-expansion-panel *ngFor="let cookie of pdv.data">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ cookie.name }}</mat-panel-title>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <p>{{ cookie | json }}</p>
          </ng-template>
        </mat-expansion-panel>
      </ng-template>
    </mat-expansion-panel>
  </mat-dialog-content>
</ng-container>
