@import 'variables';

:host {
  align-items: center;
  background-color: rgb(var(--color-button-white-background));
  border: 1px solid var(--color-outlines);
  border-radius: $border-radius;
  color: rgb(var(--color-button-white-text));
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: $grid-step;
  justify-content: center;
  line-height: 48px;
  padding: 0 $grid-step * 3;

  &:hover {
    background-color: rgb(var(--color-button-white-background-hover));
  }
}

.hub-load-more-button__icon {
  display: inline-flex;
}
