@import 'variables';

:host {
  align-items: center;
  background-color: transparent;
  border: 1px solid $color-light-grey;
  border-radius: $border-radius;
  color: $color-font-base;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: $grid-step;
  justify-content: center;
  line-height: 48px;
  padding: 0 $grid-step * 3;

  &:hover {
    background-color: $color-outlines;
  }
}

.hub-load-more-button__icon {
  display: inline-flex;
}
