<ng-container *transloco="let translate; read: 'user.user_transfer_history'">
  <ng-container *ngIf="list$ | async as list; let last = last">
    <ng-container *ngFor="let item of list">
      <app-assets-history-list-item
        [item]="item"
      ></app-assets-history-list-item>

      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>

    <div
      class="user-transfer-history__no-data"
      *ngIf="!list.length && (canLoadMore$ | async) === false"
    >
      {{ translate('no_history') }}
    </div>
  </ng-container>

  <div
    class="user-transfer-history__loading-container"
    *ngIf="canLoadMore$ | async"
  >
    <app-spinner
      class="user-transfer-history__spinner"
      *ngIf="isLoading$ | async; else intersectionTarget"
    ></app-spinner>

    <ng-template #intersectionTarget>
      <div
        class="user-transfer-history__loading-intersection-target"
        appIntersectionTarget
        (intersect)="loadMore()"
      ></div>
    </ng-template>
  </div>
</ng-container>
