<app-data-table
  *transloco="let translate; read: 'staking.withdraw_delegator_table'"
  [data]="data"
  [trackBy]="trackByAddress"
  [selectedItems]="selectedItems"
  (itemClick)="onItemClick($event)"
>
  <ng-container *dataTableColumnDef="let validator; name: translate('validator'); width: '20%'">
    {{ validator.name }}
  </ng-container>

  <div
    *dataTableColumnDef="
      let validator;
      name: translate('reward') | appCurrencySymbol : true | async;
      id: 'reward';
      align: 'right'
    "
    [class.mod-empty]="validator.reward < 1"
  >
    <ng-container *ngIf="validator.reward >= 1; else lessThanOneUdec">
      {{ validator.reward | microValue | numberFormat : '1.0-6' : true }}
    </ng-container>
  </div>

  <ng-container
    *dataTableColumnDef="
      let validator;
      name: translate('delegated') | appCurrencySymbol : true | async;
      id: 'delegated';
      align: 'right'
    "
    [class.mod-empty]="!+validator.delegated"
  >
    {{ validator.delegated && (validator.delegated | microValue | numberFormat : null : true) || '0' }}
  </ng-container>
</app-data-table>

<ng-template #lessThanOneUdec>
  <{{ 1 | microValue }}
</ng-template>
